{include file="include/usr_header.html"}

{literal}
<script language="JavaScript">

	function f_back(num){
		var f=document.frm;
		f.mode.value = 'authErr';

		if(num == '1'){
			f.block.value = '1';
		}
		else if(num == '2'){
			f.block.value = 'pay';
		}

		f.submit();


	}

</script>
{/literal}


<form name="frm" method="post">

	<div class="header">
	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}
	</div>

	<br />

	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>
	
	{show_pageflow pageflow=$pageflow active=4}
	
	<br />
	<div id="Form">

		<p>{$msg|nl2br}</p>

		<!-- 決済処理でエラーが発生した場合　-->
		{if $errAuth}
			<br />
			<div class="errmsg">
				{foreach from=$errAuth item=err}
					<p>{$err|nl2br}</p>
				{/foreach}
			</div>
			<div class="btn">
				<input type="button" value="{$GLOBALS.msg.btn_change_fee}" onclick="f_back('1');" />
				<input type="button" value="{$GLOBALS.msg.btn_change_payment}" onclick="f_back('2');" />

			</div>
		{/if}

	</div>


	<!-- フッター-->
	<div class="footer">{$formData.contact|nl2br}</div>

	<input type="hidden" name="form_id" value="{$formData.form_id}" />
	<input type="hidden" name="eid" value="{$eid}" />
	<input type="hidden" name="admin_flg" value="{$admin_flg}" />
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="block" value="{$block}" />



</form>
{include file="include/usr_footer.html"}