{include file="include/usr_header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();
	}

	function f_logout(){
		var f = document.frm;
		f.mode.value = 'logout';
		f.action = '../Usr_login.php?form_id={/literal}{$formData.form_id|escape}{literal}';
		f.submit();
	}

</script>
{/literal}


<form name="frm" method="post">

	<div class="header">

	{if $va_header}
		<img src="{$va_header}" border="0" />
	{/if}

	</div>

	<br />

	<div id="FormTtl">
		{if $formWord.word14 != ""}
			{$formWord.word14|nl2br}
		{else}
			{$formData.form_name}
		{/if}
	</div>

	{show_pageflow pageflow=$pageflow active=3}

	{* admin mode *}
	{if $admin_flg != ""}
		<div id="UserID">
		<span id="admin_login">管理者　代行処理中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		{if $eid != ""}
			ログインID:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">ログアウト</a>

		{/if}
		</div>
		<br />
	{else}
		{if $eid != ""}
			<div id="UserID">Login ID:{$va_userdata.e_user_id}&nbsp;&nbsp;<a href="javascript:f_logout();">logout</a></div>
			<br />
		{/if}
	{/if}

	<div id="Form">

		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}

		<!-- description -->
		<!--div id="FormDesc">{$formData.form_desc|nl2br}</div -->
		<div id="FormDesc">
		{if $eid > 0}
			{* 編集用 *}
			{if $formWord.word39 != ""}
				{$formWord.word39|nl2br}
			{else}
				{$GLOBALS.msg.cofirm_desc_e}
			{/if}
		{else}
			{* 新規登録用 *}
			{if $formWord.word38 != ""}
				{$formWord.word38|nl2br}
			{else}
				{$GLOBALS.msg.cofirm_desc_i}
			{/if}
		{/if}
		</div>

		<!-- block -->
			{if $formData.group1 != ""}
				<div class="bname">{$formData.group1}</div>
			{/if}

            {if $block1_confirm_inc_flg == "1"}
                {assign var=tpl value=`$tpl_block1_confirm_name`}
                {include file="Usr/include/$tpl"}
            {else}
				{include file="Usr/form/parts/block1_confirm.html" lang="e"}
            {/if}




	<!-- block2 -->

	{if $formData.group2_use != "1"}

			{if $block2_confirm_inc_flg == "1"}
                {assign var=tpl value=`$tpl_block2_confirm_name`}
                {include file="Usr/include/$tpl"}
            {else}
				{include file="Usr/form/parts/block2_confirm.html" lang="e"}
            {/if}


	{/if}


	<!-- block3 -->
			{if $formData.group3_use != "1"}
				{*if $formData.group3 != ""}
					<div class="bname">{$formData.group3}</div>
				{/if*}


				{if $block3_confirm_inc_flg == "1"}
					{assign var=tpl value=`$tpl_block3_confirm_name`}
					{include file="Usr/include/$tpl"}
				{else}
					{include file="Usr/form/parts/block3_confirm.html" lang="e"}
				{/if}

			{/if}

	</div>


	<div class="btn">
		<input type="button" value="{$GLOBALS.msg.btn_return}" onclick="f_back();" />
		<input type="button" value="{$GLOBALS.msg.btn_send}" onclick="f_submit();" />
		<br /><br />
		<div><span class="{$back_coution_class|default:"red"}">{$GLOBALS.msg.browser_back}</span></div>
	</div>
	<!-- footer -->
	<div class="footer">{$formData.contact|nl2br}</div>


	<input type="hidden" name="eid" value="{$eid|escape}" />
	<input type="hidden" name="admin_flg" value="{$admin_flg|escape}" />
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="block" value="{$block|escape}" />

	{$embed}
</form>
{*$arrForm|@debug_print_var*}
{include file="include/usr_footer.html"}