@charset "utf-8";
/* CSS Document */




/*--------------------------------------------------
画面設定
---------------------------------------------------*/

/*********************
 利用者メイン
**********************/
#user_main{
	width: 920px;
	margin: 0 auto;
	height: auto;  

}


/*********************
利用者コンテンツ部分
**********************/
#user_contents {
	/*width:920px;*/
	margin: 10px auto;
}

/* タイトル　*/
#user_contents .ttl{
	border-bottom: 1px solid #e6e6e6;
}

#user_contents h2 {
	background: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
}



/*--------------------------------------------------
機能別設定
---------------------------------------------------*/
/**********************
論文・参加フォーム
***********************/
#admin_login{
	
	font-size: 16px;
	color: red;
}	

#UserID{
	text-align: right;
	/*border: 1px solid #e6e6e6;*/
	
}	

/* 同意書　*/
#agree_text{
	margin-top:5px;
	margin-bottom:5px;
	padding:10px;
	border: 1px solid #e6e6e6;
}
#agree{
	margin-top:20px;
	margin-bottom:20px;
	text-align: center;
	
}



/* 論文タイトル*/
#FormTtl{
	font-size: 23px;
	font-weight: bold;
	margin-top:20px;
	margin-bottom:20px;
	color:#003CC7;
		
}

#FormDesc{
	padding:5px;
	margin-bottom:20px;
	border: 1px solid #e6e6e6;
		
}


/* テーブル　*/
table.rtbl{
	border-collapse: collapse;
	width: 100%;
}
table.rtbl .iname {
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	font-weight: normal;
	padding: 8px;
	width: 23%;
}
table.rtbl td {
	border: 1px solid #e6e6e6;
	padding: 8px;
}

table.rtbl ul {
	margin: 0 0 0 1em;
	padding: 0;
}
table.rtbl .total {
	text-decoration: underline;
	font-size:120%;
	font-weight: bold;
}

table.rtbl .cent {
	text-align : center;
}

/*項目名*/
table.rtbl .item{
	
}

/*　グループタイトル */
.bname{
	border: 1px solid #e6e6e6;
	background: #f5f5f5;
	padding: 5px;
	margin-top:30px;
	margin-bottom:10px;
	font-weight: bold;

		
}	

/* 各グループの説明*/
.bcomment{
	padding: 5px;
	margin-bottom:10px;
		
}	

/*********************
応募フォーム
**********************/
#Form{
	padding:5px;
}	
.header{
	text-align: center;
}	


.footer{
	background-color: #f6f6f6;
	text-align: center;
	padding: 10px 5px;
}

/*********************
pageflow
**********************/
table#pageflow {
	width: 100%;
	margin-bottom: 20px;
}

table#pageflow td {
	width: 20%;
	height: 50px;
	text-align: center;
	background: #eeeeee url(../images/common/arrow2.jpg) no-repeat right;
	padding: 0;
	padding-right: 20px;
}

table#pageflow td.active {
	background: #e0efff url(../images/common/arrow2_on.jpg) no-repeat right;
}


/*********************
所属機関
**********************/

.edata31_row { margin: 0 0 5px 0; }
.btn_edata31_del { margin-left: 10px; }
.btn_edata31_del,
.btn_edata31_add {
    height: 20px;
    background-color: white !important;
    border-radius: 20px;
}
