{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			
			<p>
				{if $formData.group3_layout == "1"}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
				{/if}
				{if $_formItem.item_memo != ""}{$_formItem.item_memo}:{/if}

				<select name="{$edata}" class="{$edata}" {attr}>
					<option value=""></option>
					{foreach from=$_formItem.select key=s_key item=item name=select}
						{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/if}
					{/foreach}
				</select>
				<br />
			
			</p>
			
			
			{edataXX group_id=$group_id item_id=151}
			<p>
				{if $formData.group3_layout == "1"}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
				{/if}
				{if $_formItem.item_memo != ""}{$_formItem.item_memo}:{/if}
				<select name="{$edata}" class="{$edata}" {attr}>
					<option value=""></option>
					{foreach from=$_formItem.select key=s_key item=item name=select}
						{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/if}
					{/foreach}
				</select>
				<br />
			
			</p>

		</td>
	</tr>
{/if}
