{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			<p>
				{if $formData.group3_layout == "1"}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br /><br />
				{/if}
				{if $_formItem.item_memo != ""}{$_formItem.item_memo}:{/if}
				{$_formItem.select[$data]}
			</p>
			{edataXX group_id=$group_id item_id=151}
			<p>
				{if $formData.group3_layout == "1"}
					{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br /><br />
				{/if}
				{if $_formItem.item_memo != ""}{$_formItem.item_memo}:{/if}
				{$_formItem.select[$data]}
			</p>
		</td>
	</tr>
{/if}
