{assign var=key value="edata`$item_id`"}
<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>
		<p>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}:{/if}
			{include file="Mng/entry/include_detail.html"
				val=$arrData[$key]
				type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		</p>
		{edataXX group_id=$group_id item_id=151}
		<p>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}:{/if}
			{include file="Mng/entry/include_detail.html"
				val=$arrData[$key]
				type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		</p>
	</td>
</tr>