{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}

            {foreach from=$dispDOB key=__key item=item_id}
				{edataXX group_id=$group_id item_id=$item_id}
				{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
	                <select name="{$edata}">
	                    <option vlaue=""></option>
	                    {foreach from=$_formItem.select key=s_key item=item name=select}
	                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
	                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
	                        {/if}
	                    {/foreach}
	                </select>{if $_formItem.item_memo != ""}{$_formItem.item_memo}&nbsp;{/if}
				{/if}
            {/foreach}

            {/if}
        </td>
    </tr>
{/if}
