{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {*テキスト、テキストエリア*}
            {if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
                {$data|escape|nl2br}
            {*ラジオ、セレクト*}
            {elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
	            {foreach from=$dispDOB key=__key item=item_id}
					{edataXX group_id=$group_id item_id=$item_id}
					{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
		                {$_formItem.select[$data]}
		                {if $_formItem.item_memo != ""}{if $item_id !=63}/{/if}&nbsp;{/if}
					{/if}
	            {/foreach}

            {*チェック*}
            {elseif $_formItem.item_type == "3"}
                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=$edata`$s_key`}

                    {if $arrForm[$key26] == $s_key}{$item}<br />{/if}

                {/foreach}
            {/if}
        </td>
    </tr>
{/if}
