{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    </table>
    <div class="bname">{$obi_edata29}</div>

    <table class="rtbl">
	<!--共著者の有無-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="radio" name="{$edata}" value="1" class="{$edata}" {if $arrForm.$edata == "1"}checked{/if} />&nbsp;{$va_coAuthor[1]}
			<input type="radio" name="{$edata}" value="2" class="{$edata}" {if $arrForm.$edata == "2"}checked{/if} />&nbsp;{$va_coAuthor[2]}
		</td>
	</tr>
{/if}
