{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}

{if $formItem[29].disp != "1"}
	{if $formItem.disp != "1"}
	<!--所属機関名-->
		<tr>
			<td class="iname">
				{$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
			<td>
				{if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}
				<textarea name="{$edata}" id="{$edata}" cols="50" rows="8" {*onkeyup="keyup(this);" onkeypress="keypress(this);"*}>{$arrForm.$edata|escape}</textarea>
{* テキストエリアの改行回数を制限 *}
{literal}
<script language="javascript">
var edata31 = '';
function keypress(obj) {
    var countbr = obj.value.replace(/\r\n?/g,"\n").split('\n').length;
    if(countbr > 10){
        event.keyCode = 0;
        return false;
    }
    edata31 = obj.value;
    switch (event.keyCode) {
        case 13: // Enterを却下　
            event.keyCode = 0;
            return false;
            break;
    }
    return true;
}


function keyup(obj) {
    var countbr = obj.value.replace(/\r\n?/g,"\n").split('\n').length;
    if(countbr > 10){
      obj.value = edata31;
      event.keyCode = 0;
      return false;
    }

    switch (event.keyCode) {
        case 13: // Enterを却下　
            event.keyCode = 0;
            return false;
            break;
  }
  return true;
}
</script>
{/literal}
			</td>
		</tr>
	{/if}
{/if}
