{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
			{/if}
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}


				<textarea rows="{$_formItem.rows|default:"10"}" name="{$edata}" id="{$edata}" class="{$edata}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata}</textarea>
<!--                 <br/>[Count: <span id="word49"></span>&nbsp;] -->
<!-- 
{literal}
<script language="javascript">
(function(){
    var area = document.getElementById('edata49');
    Countable.live(area, function(counter){
         document.getElementById("word49").innerHTML = counter['characters']
    });
})();
</script>
{/literal}
 -->
		</td>
	</tr>
{/if}
