                <table class="rtbl">

                <!--Title (Prof.・Dr.・Mr.・Ms.)-->
                {if $formItem[57].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[57].item_name}{if $formItem[57].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$GLOBALS.titleList[$arrForm.edata57]}
                        </td>
                    </tr>
                {/if}

                <!-- sei -->
                {if $formItem[1].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[1].item_name}{if $formItem[1].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata1|escape}
                        </td>
                    </tr>
                {/if}

                <!-- mei-->
                {if $formItem[2].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[2].item_name}{if $formItem[2].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>{$arrForm.edata2|escape}</td>
                    </tr>
                {/if}


                <!-- middle name -->
                {if $formItem[7].disp != "1"}
                    <tr>

                        <td class="iname">
                            {$formItem[7].item_name}{if $formItem[7].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata7|escape}
                        </td>
                    </tr>
                {/if}

                <!-- attach -->
                {if $formItem[10].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[10].item_name}{if $formItem[10].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata10|escape}

                        </td>
                    </tr>
                {/if}


                <!-- member -->
                {if $formItem[8].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[8].item_name}{if $formItem[8].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$va_kaiin[$arrForm.edata8]}

                        </td>
                    </tr>
                {/if}


                <!-- busyo -->
                {if $formItem[13].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[13].item_name}{if $formItem[13].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata13|escape}

                        </td>
                    </tr>
                {/if}

                <!-- yaku -->
                {if $formItem[14].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[14].item_name}{if $formItem[14].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata14|escape}

                        </td>
                    </tr>
                {/if}


                <!-- home/office -->
                {if $formItem[16].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[16].item_name}{if $formItem[16].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$va_contact[$arrForm.edata16]}

                        </td>
                    </tr>
                {/if}

                <!-- Street -->
                {if $formItem[58].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[58].item_name}{if $formItem[58].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata58|escape}
                        </td>
                    </tr>
                {/if}

                <!-- City -->
                {if $formItem[59].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[59].item_name}{if $formItem[59].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata59|escape}
                        </td>
                    </tr>
                {/if}


                <!-- pref -->
                {if $formItem[18].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[18].item_name}{if $formItem[18].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata18|escape}

                        </td>
                    </tr>
                {/if}



                <!-- zip -->
                {if $formItem[17].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[17].item_name}{if $formItem[17].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata17|escape}

                        </td>
                    </tr>
                {/if}


                <!-- Country List -->
                {if $formItem[114].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[114].item_name}{if $formItem[114].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {if $formItem[114].item_memo != ""}{$formItem[114].item_memo}<br />{/if}
                            {$GLOBALS.country[$arrForm.edata114]}
                        </td>
                    </tr>
                {/if}


                <!-- Country -->
                {if $formItem[60].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[60].item_name}{if $formItem[60].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata60|escape}
                        </td>
                    </tr>
                {/if}


                <!-- tel -->
                {if $formItem[21].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[21].item_name}{if $formItem[21].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata21|escape}
                        </td>
                    </tr>
                {/if}

                <!-- fax -->
                {if $formItem[24].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[24].item_name}{if $formItem[24].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata24|escape}

                        </td>
                    </tr>
                {/if}

                <!-- mail -->
                {if $formItem[25].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[25].item_name}{if $formItem[25].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$arrForm.edata25|escape}
                        </td>
                    </tr>
                {/if}
                </table>

                <!-- etc1-->
                {if $formItem[26].disp != "1"}
                <br />
                
                <div class="bname">Presenting Author</div>
                <table class="rtbl">
                    <tr>
                        <td class="iname">
                            {$formItem[26].item_name}{if $formItem[26].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[26].item_type == "0" || $formItem[26].item_type == "1"}
                                {$arrForm.edata26|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[26].item_type == "2" || $formItem[26].item_type == "4"}
                                {$formItem[26].select[$arrForm.edata26]}
                            {*チェック*}
                            {elseif $formItem[26].item_type == "3"}
                                {foreach from=$formItem[26].select key=s_key item=item name=select}

                                    {assign var=key26 value=edata26`$s_key`}

                                    {if $arrForm[$key26] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}
                        </td>
                    </tr>
                {/if}

                <!-- etc2-->
                {if $formItem[27].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[27].item_name}{if $formItem[27].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[27].item_type == "0" || $formItem[27].item_type == "1"}
                                {$arrForm.edata27|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[27].item_type == "2" || $formItem[27].item_type == "4"}
                                {$formItem[27].select[$arrForm.edata27]}
                            {*チェック*}
                            {elseif $formItem[27].item_type == "3"}
                                {foreach from=$formItem[27].select key=s_key item=item name=select}

                                    {assign var=key27 value=edata27`$s_key`}

                                    {if $arrForm[$key27] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}

                <!-- etc3-->
                {if $formItem[28].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[28].item_name}{if $formItem[28].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[28].item_type == "0" || $formItem[28].item_type == "1"}
                                {$arrForm.edata28|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[28].item_type == "2" || $formItem[28].item_type == "4"}
                                {$formItem[28].select[$arrForm.edata28]}
                            {*チェック*}
                            {elseif $formItem[28].item_type == "3"}
                                {foreach from=$formItem[28].select key=s_key item=item name=select}

                                    {assign var=key28 value=edata28`$s_key`}

                                    {if $arrForm[$key28] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}

                <!-- etc4-->
                {if $formItem[63].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[63].item_name}{if $formItem[63].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[63].item_type == "0" || $formItem[63].item_type == "1"}
                                {$arrForm.edata63|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[63].item_type == "2" || $formItem[63].item_type == "4"}
                                {$formItem[63].select[$arrForm.edata63]}
                            {*チェック*}
                            {elseif $formItem[63].item_type == "3"}
                                {foreach from=$formItem[63].select key=s_key item=item name=select}

                                    {assign var=key63 value=edata63`$s_key`}

                                    {if $arrForm[$key63] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc5-->
                    {if $formItem[64].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[64].item_name}{if $formItem[64].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[64].item_type == "0" || $formItem[64].item_type == "1"}
                                {$arrForm.edata64|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[64].item_type == "2" || $formItem[64].item_type == "4"}
                                {$formItem[64].select[$arrForm.edata64]}
                            {*チェック*}
                            {elseif $formItem[64].item_type == "3"}
                                {foreach from=$formItem[64].select key=s_key item=item name=select}

                                    {assign var=key64 value=edata64`$s_key`}

                                    {if $arrForm[$key64] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc6-->
                    {if $formItem[69].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[69].item_name}{if $formItem[69].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[69].item_type == "0" || $formItem[69].item_type == "1"}
                                {$arrForm.edata69|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[69].item_type == "2" || $formItem[69].item_type == "4"}
                                {$formItem[69].select[$arrForm.edata69]}
                            {*チェック*}
                            {elseif $formItem[69].item_type == "3"}
                                {foreach from=$formItem[69].select key=s_key item=item name=select}

                                    {assign var=key69 value=edata69`$s_key`}

                                    {if $arrForm[$key69] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}

                <!-- etc7-->
                {if $formItem[70].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[70].item_name}{if $formItem[70].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[70].item_type == "0" || $formItem[70].item_type == "1"}
                                {$arrForm.edata70|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[70].item_type == "2" || $formItem[70].item_type == "4"}
                                {$formItem[70].select[$arrForm.edata70]}
                            {*チェック*}
                            {elseif $formItem[70].item_type == "3"}
                                {foreach from=$formItem[70].select key=s_key item=item name=select}

                                    {assign var=key70 value=edata70`$s_key`}

                                    {if $arrForm[$key70] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc8-->
                {if $formItem[71].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[71].item_name}{if $formItem[71].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[71].item_type == "0" || $formItem[71].item_type == "1"}
                                {$arrForm.edata71|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[71].item_type == "2" || $formItem[71].item_type == "4"}
                                {$formItem[71].select[$arrForm.edata71]}
                            {*チェック*}
                            {elseif $formItem[71].item_type == "3"}
                                {foreach from=$formItem[71].select key=s_key item=item name=select}

                                    {assign var=key71 value=edata71`$s_key`}

                                    {if $arrForm[$key71] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc9-->
                {if $formItem[72].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[72].item_name}{if $formItem[72].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[72].item_type == "0" || $formItem[72].item_type == "1"}
                                {$arrForm.edata72|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[72].item_type == "2" || $formItem[72].item_type == "4"}
                                {$formItem[72].select[$arrForm.edata72]}
                            {*チェック*}
                            {elseif $formItem[72].item_type == "3"}
                                {foreach from=$formItem[72].select key=s_key item=item name=select}

                                    {assign var=key72 value=edata72`$s_key`}

                                    {if $arrForm[$key72] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc10-->
                {if $formItem[73].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[73].item_name}{if $formItem[73].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[73].item_type == "0" || $formItem[73].item_type == "1"}
                                {$arrForm.edata73|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[73].item_type == "2" || $formItem[73].item_type == "4"}
                                {$formItem[73].select[$arrForm.edata73]}
                            {*チェック*}
                            {elseif $formItem[73].item_type == "3"}
                                {foreach from=$formItem[73].select key=s_key item=item name=select}

                                    {assign var=key73 value=edata73`$s_key`}

                                    {if $arrForm[$key73] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc11-->
                {if $formItem[74].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[74].item_name}{if $formItem[74].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[74].item_type == "0" || $formItem[74].item_type == "1"}
                                {$arrForm.edata74|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[74].item_type == "2" || $formItem[74].item_type == "4"}
                                {$formItem[74].select[$arrForm.edata74]}
                            {*チェック*}
                            {elseif $formItem[74].item_type == "3"}
                                {foreach from=$formItem[74].select key=s_key item=item name=select}

                                    {assign var=key74 value=edata74`$s_key`}

                                    {if $arrForm[$key74] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc12-->
                {if $formItem[75].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[75].item_name}{if $formItem[75].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[75].item_type == "0" || $formItem[75].item_type == "1"}
                                {$arrForm.edata75|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[75].item_type == "2" || $formItem[75].item_type == "4"}
                                {$formItem[75].select[$arrForm.edata75]}
                            {*チェック*}
                            {elseif $formItem[75].item_type == "3"}
                                {foreach from=$formItem[75].select key=s_key item=item name=select}

                                    {assign var=key75 value=edata75`$s_key`}

                                    {if $arrForm[$key75] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc13-->
                {if $formItem[76].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[76].item_name}{if $formItem[76].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[76].item_type == "0" || $formItem[76].item_type == "1"}
                                {$arrForm.edata76|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[76].item_type == "2" || $formItem[76].item_type == "4"}
                                {$formItem[76].select[$arrForm.edata76]}
                            {*チェック*}
                            {elseif $formItem[76].item_type == "3"}
                                {foreach from=$formItem[76].select key=s_key item=item name=select}

                                    {assign var=key76 value=edata76`$s_key`}

                                    {if $arrForm[$key76] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc14-->
                {if $formItem[77].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[77].item_name}{if $formItem[77].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[77].item_type == "0" || $formItem[77].item_type == "1"}
                                {$arrForm.edata77|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[77].item_type == "2" || $formItem[77].item_type == "4"}
                                {$formItem[77].select[$arrForm.edata77]}
                            {*チェック*}
                            {elseif $formItem[77].item_type == "3"}
                                {foreach from=$formItem[77].select key=s_key item=item name=select}

                                    {assign var=key77 value=edata77`$s_key`}

                                    {if $arrForm[$key77] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc15-->
                {if $formItem[78].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[78].item_name}{if $formItem[78].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[78].item_type == "0" || $formItem[78].item_type == "1"}
                                {$arrForm.edata78|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[78].item_type == "2" || $formItem[78].item_type == "4"}
                                {$formItem[78].select[$arrForm.edata78]}
                            {*チェック*}
                            {elseif $formItem[78].item_type == "3"}
                                {foreach from=$formItem[78].select key=s_key item=item name=select}

                                    {assign var=key78 value=edata78`$s_key`}

                                    {if $arrForm[$key78] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc16-->
                {if $formItem[79].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[79].item_name}{if $formItem[79].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[79].item_type == "0" || $formItem[79].item_type == "1"}
                                {$arrForm.edata79|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[79].item_type == "2" || $formItem[79].item_type == "4"}
                                {$formItem[79].select[$arrForm.edata79]}
                            {*チェック*}
                            {elseif $formItem[79].item_type == "3"}
                                {foreach from=$formItem[79].select key=s_key item=item name=select}

                                    {assign var=key79 value=edata79`$s_key`}

                                    {if $arrForm[$key79] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}

                <!-- etc17-->
                {if $formItem[80].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[80].item_name}{if $formItem[80].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[80].item_type == "0" || $formItem[80].item_type == "1"}
                                {$arrForm.edata80|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[80].item_type == "2" || $formItem[80].item_type == "4"}
                                {$formItem[80].select[$arrForm.edata80]}
                            {*チェック*}
                            {elseif $formItem[80].item_type == "3"}
                                {foreach from=$formItem[80].select key=s_key item=item name=select}

                                    {assign var=key80 value=edata80`$s_key`}

                                    {if $arrForm[$key80] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc18-->
                {if $formItem[81].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[81].item_name}{if $formItem[81].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[81].item_type == "0" || $formItem[81].item_type == "1"}
                                {$arrForm.edata81|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[81].item_type == "2" || $formItem[81].item_type == "4"}
                                {$formItem[81].select[$arrForm.edata81]}
                            {*チェック*}
                            {elseif $formItem[81].item_type == "3"}
                                {foreach from=$formItem[81].select key=s_key item=item name=select}

                                    {assign var=key81 value=edata81`$s_key`}

                                    {if $arrForm[$key81] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc19-->
                {if $formItem[82].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[82].item_name}{if $formItem[82].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[82].item_type == "0" || $formItem[82].item_type == "1"}
                                {$arrForm.edata82|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[82].item_type == "2" || $formItem[82].item_type == "4"}
                                {$formItem[82].select[$arrForm.edata82]}
                            {*チェック*}
                            {elseif $formItem[82].item_type == "3"}
                                {foreach from=$formItem[82].select key=s_key item=item name=select}

                                    {assign var=key82 value=edata82`$s_key`}

                                    {if $arrForm[$key82] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}
                <!-- etc20-->
                {if $formItem[83].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[83].item_name}{if $formItem[83].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[83].item_type == "0" || $formItem[83].item_type == "1"}
                                {$arrForm.edata83|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[83].item_type == "2" || $formItem[83].item_type == "4"}
                                {$formItem[83].select[$arrForm.edata83]}
                            {*チェック*}
                            {elseif $formItem[83].item_type == "3"}
                                {foreach from=$formItem[83].select key=s_key item=item name=select}

                                    {assign var=key83 value=edata83`$s_key`}

                                    {if $arrForm[$key83] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc21-->
                {if $formItem[115].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[115].item_name}{if $formItem[115].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[115].item_type == "0" || $formItem[115].item_type == "1"}
                                {$arrForm.edata115|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[115].item_type == "2" || $formItem[115].item_type == "4"}
                                {$formItem[115].select[$arrForm.edata115]}
                            {*チェック*}
                            {elseif $formItem[115].item_type == "3"}
                                {foreach from=$formItem[115].select key=s_key item=item name=select}

                                    {assign var=key115 value=edata115`$s_key`}

                                    {if $arrForm[$key115] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc22-->
                {if $formItem[116].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[116].item_name}{if $formItem[116].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[116].item_type == "0" || $formItem[116].item_type == "1"}
                                {$arrForm.edata116|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[116].item_type == "2" || $formItem[116].item_type == "4"}
                                {$formItem[116].select[$arrForm.edata116]}
                            {*チェック*}
                            {elseif $formItem[116].item_type == "3"}
                                {foreach from=$formItem[116].select key=s_key item=item name=select}

                                    {assign var=key116 value=edata116`$s_key`}

                                    {if $arrForm[$key116] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc23-->
                {if $formItem[117].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[117].item_name}{if $formItem[117].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[117].item_type == "0" || $formItem[117].item_type == "1"}
                                {$arrForm.edata117|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[117].item_type == "2" || $formItem[117].item_type == "4"}
                                {$formItem[117].select[$arrForm.edata117]}
                            {*チェック*}
                            {elseif $formItem[117].item_type == "3"}
                                {foreach from=$formItem[117].select key=s_key item=item name=select}

                                    {assign var=key117 value=edata117`$s_key`}

                                    {if $arrForm[$key117] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc24-->
                {if $formItem[118].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[118].item_name}{if $formItem[118].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[118].item_type == "0" || $formItem[118].item_type == "1"}
                                {$arrForm.edata118|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[118].item_type == "2" || $formItem[118].item_type == "4"}
                                {$formItem[118].select[$arrForm.edata118]}
                            {*チェック*}
                            {elseif $formItem[118].item_type == "3"}
                                {foreach from=$formItem[118].select key=s_key item=item name=select}

                                    {assign var=key118 value=edata118`$s_key`}

                                    {if $arrForm[$key118] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc25-->
                {if $formItem[119].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[119].item_name}{if $formItem[119].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[119].item_type == "0" || $formItem[119].item_type == "1"}
                                {$arrForm.edata119|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[119].item_type == "2" || $formItem[119].item_type == "4"}
                                {$formItem[119].select[$arrForm.edata119]}
                            {*チェック*}
                            {elseif $formItem[119].item_type == "3"}
                                {foreach from=$formItem[119].select key=s_key item=item name=select}

                                    {assign var=key119 value=edata119`$s_key`}

                                    {if $arrForm[$key119] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc26-->
                {if $formItem[120].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[120].item_name}{if $formItem[120].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[120].item_type == "0" || $formItem[120].item_type == "1"}
                                {$arrForm.edata120|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[120].item_type == "2" || $formItem[120].item_type == "4"}
                                {$formItem[120].select[$arrForm.edata120]}
                            {*チェック*}
                            {elseif $formItem[120].item_type == "3"}
                                {foreach from=$formItem[120].select key=s_key item=item name=select}

                                    {assign var=key120 value=edata120`$s_key`}

                                    {if $arrForm[$key120] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc27-->
                {if $formItem[121].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[121].item_name}{if $formItem[121].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[121].item_type == "0" || $formItem[121].item_type == "1"}
                                {$arrForm.edata121|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[121].item_type == "2" || $formItem[121].item_type == "4"}
                                {$formItem[121].select[$arrForm.edata121]}
                            {*チェック*}
                            {elseif $formItem[121].item_type == "3"}
                                {foreach from=$formItem[121].select key=s_key item=item name=select}

                                    {assign var=key121 value=edata121`$s_key`}

                                    {if $arrForm[$key121] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc28-->
                {if $formItem[122].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[122].item_name}{if $formItem[122].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[122].item_type == "0" || $formItem[122].item_type == "1"}
                                {$arrForm.edata122|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[122].item_type == "2" || $formItem[122].item_type == "4"}
                                {$formItem[122].select[$arrForm.edata122]}
                            {*チェック*}
                            {elseif $formItem[122].item_type == "3"}
                                {foreach from=$formItem[122].select key=s_key item=item name=select}

                                    {assign var=key122 value=edata122`$s_key`}

                                    {if $arrForm[$key122] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc29-->
                {if $formItem[123].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[123].item_name}{if $formItem[123].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[123].item_type == "0" || $formItem[123].item_type == "1"}
                                {$arrForm.edata123|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[123].item_type == "2" || $formItem[123].item_type == "4"}
                                {$formItem[123].select[$arrForm.edata123]}
                            {*チェック*}
                            {elseif $formItem[123].item_type == "3"}
                                {foreach from=$formItem[123].select key=s_key item=item name=select}

                                    {assign var=key123 value=edata123`$s_key`}

                                    {if $arrForm[$key123] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc30-->
                {if $formItem[124].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[124].item_name}{if $formItem[124].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[124].item_type == "0" || $formItem[124].item_type == "1"}
                                {$arrForm.edata124|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[124].item_type == "2" || $formItem[124].item_type == "4"}
                                {$formItem[124].select[$arrForm.edata124]}
                            {*チェック*}
                            {elseif $formItem[124].item_type == "3"}
                                {foreach from=$formItem[124].select key=s_key item=item name=select}

                                    {assign var=key124 value=edata124`$s_key`}

                                    {if $arrForm[$key124] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc31-->
                {if $formItem[125].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[125].item_name}{if $formItem[125].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[125].item_type == "0" || $formItem[125].item_type == "1"}
                                {$arrForm.edata125|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[125].item_type == "2" || $formItem[125].item_type == "4"}
                                {$formItem[125].select[$arrForm.edata125]}
                            {*チェック*}
                            {elseif $formItem[125].item_type == "3"}
                                {foreach from=$formItem[125].select key=s_key item=item name=select}

                                    {assign var=key125 value=edata125`$s_key`}

                                    {if $arrForm[$key125] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc32-->
                {if $formItem[126].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[126].item_name}{if $formItem[126].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[126].item_type == "0" || $formItem[126].item_type == "1"}
                                {$arrForm.edata126|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[126].item_type == "2" || $formItem[126].item_type == "4"}
                                {$formItem[126].select[$arrForm.edata126]}
                            {*チェック*}
                            {elseif $formItem[126].item_type == "3"}
                                {foreach from=$formItem[126].select key=s_key item=item name=select}

                                    {assign var=key126 value=edata126`$s_key`}

                                    {if $arrForm[$key126] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc33-->
                {if $formItem[127].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[127].item_name}{if $formItem[127].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[127].item_type == "0" || $formItem[127].item_type == "1"}
                                {$arrForm.edata127|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[127].item_type == "2" || $formItem[127].item_type == "4"}
                                {$formItem[127].select[$arrForm.edata127]}
                            {*チェック*}
                            {elseif $formItem[127].item_type == "3"}
                                {foreach from=$formItem[127].select key=s_key item=item name=select}

                                    {assign var=key127 value=edata127`$s_key`}

                                    {if $arrForm[$key127] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc34-->
                {if $formItem[128].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[128].item_name}{if $formItem[128].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[128].item_type == "0" || $formItem[128].item_type == "1"}
                                {$arrForm.edata128|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[128].item_type == "2" || $formItem[128].item_type == "4"}
                                {$formItem[128].select[$arrForm.edata128]}
                            {*チェック*}
                            {elseif $formItem[128].item_type == "3"}
                                {foreach from=$formItem[128].select key=s_key item=item name=select}

                                    {assign var=key128 value=edata128`$s_key`}

                                    {if $arrForm[$key128] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc35-->
                {if $formItem[129].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[129].item_name}{if $formItem[129].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[129].item_type == "0" || $formItem[129].item_type == "1"}
                                {$arrForm.edata129|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[129].item_type == "2" || $formItem[129].item_type == "4"}
                                {$formItem[129].select[$arrForm.edata129]}
                            {*チェック*}
                            {elseif $formItem[129].item_type == "3"}
                                {foreach from=$formItem[129].select key=s_key item=item name=select}

                                    {assign var=key129 value=edata129`$s_key`}

                                    {if $arrForm[$key129] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc36-->
                {if $formItem[130].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[130].item_name}{if $formItem[130].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[130].item_type == "0" || $formItem[130].item_type == "1"}
                                {$arrForm.edata130|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[130].item_type == "2" || $formItem[130].item_type == "4"}
                                {$formItem[130].select[$arrForm.edata130]}
                            {*チェック*}
                            {elseif $formItem[130].item_type == "3"}
                                {foreach from=$formItem[130].select key=s_key item=item name=select}

                                    {assign var=key130 value=edata130`$s_key`}

                                    {if $arrForm[$key130] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc37-->
                {if $formItem[131].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[131].item_name}{if $formItem[131].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[131].item_type == "0" || $formItem[131].item_type == "1"}
                                {$arrForm.edata131|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[131].item_type == "2" || $formItem[131].item_type == "4"}
                                {$formItem[131].select[$arrForm.edata131]}
                            {*チェック*}
                            {elseif $formItem[131].item_type == "3"}
                                {foreach from=$formItem[131].select key=s_key item=item name=select}

                                    {assign var=key131 value=edata131`$s_key`}

                                    {if $arrForm[$key131] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc38-->
                {if $formItem[132].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[132].item_name}{if $formItem[132].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[132].item_type == "0" || $formItem[132].item_type == "1"}
                                {$arrForm.edata132|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[132].item_type == "2" || $formItem[132].item_type == "4"}
                                {$formItem[132].select[$arrForm.edata132]}
                            {*チェック*}
                            {elseif $formItem[132].item_type == "3"}
                                {foreach from=$formItem[132].select key=s_key item=item name=select}

                                    {assign var=key132 value=edata132`$s_key`}

                                    {if $arrForm[$key132] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc39-->
                {if $formItem[133].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[133].item_name}{if $formItem[133].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[133].item_type == "0" || $formItem[133].item_type == "1"}
                                {$arrForm.edata133|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[133].item_type == "2" || $formItem[133].item_type == "4"}
                                {$formItem[133].select[$arrForm.edata133]}
                            {*チェック*}
                            {elseif $formItem[133].item_type == "3"}
                                {foreach from=$formItem[133].select key=s_key item=item name=select}

                                    {assign var=key133 value=edata133`$s_key`}

                                    {if $arrForm[$key133] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc40-->
                {if $formItem[134].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[134].item_name}{if $formItem[134].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[134].item_type == "0" || $formItem[134].item_type == "1"}
                                {$arrForm.edata134|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[134].item_type == "2" || $formItem[134].item_type == "4"}
                                {$formItem[134].select[$arrForm.edata134]}
                            {*チェック*}
                            {elseif $formItem[134].item_type == "3"}
                                {foreach from=$formItem[134].select key=s_key item=item name=select}

                                    {assign var=key134 value=edata134`$s_key`}

                                    {if $arrForm[$key134] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc41-->
                {if $formItem[135].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[135].item_name}{if $formItem[135].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[135].item_type == "0" || $formItem[135].item_type == "1"}
                                {$arrForm.edata135|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[135].item_type == "2" || $formItem[135].item_type == "4"}
                                {$formItem[135].select[$arrForm.edata135]}
                            {*チェック*}
                            {elseif $formItem[135].item_type == "3"}
                                {foreach from=$formItem[135].select key=s_key item=item name=select}

                                    {assign var=key135 value=edata135`$s_key`}

                                    {if $arrForm[$key135] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc42-->
                {if $formItem[136].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[136].item_name}{if $formItem[136].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[136].item_type == "0" || $formItem[136].item_type == "1"}
                                {$arrForm.edata136|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[136].item_type == "2" || $formItem[136].item_type == "4"}
                                {$formItem[136].select[$arrForm.edata136]}
                            {*チェック*}
                            {elseif $formItem[136].item_type == "3"}
                                {foreach from=$formItem[136].select key=s_key item=item name=select}

                                    {assign var=key136 value=edata136`$s_key`}

                                    {if $arrForm[$key136] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc43-->
                {if $formItem[137].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[137].item_name}{if $formItem[137].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[137].item_type == "0" || $formItem[137].item_type == "1"}
                                {$arrForm.edata137|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[137].item_type == "2" || $formItem[137].item_type == "4"}
                                {$formItem[137].select[$arrForm.edata137]}
                            {*チェック*}
                            {elseif $formItem[137].item_type == "3"}
                                {foreach from=$formItem[137].select key=s_key item=item name=select}

                                    {assign var=key137 value=edata137`$s_key`}

                                    {if $arrForm[$key137] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc44-->
                {if $formItem[138].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[138].item_name}{if $formItem[138].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[138].item_type == "0" || $formItem[138].item_type == "1"}
                                {$arrForm.edata138|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[138].item_type == "2" || $formItem[138].item_type == "4"}
                                {$formItem[138].select[$arrForm.edata138]}
                            {*チェック*}
                            {elseif $formItem[138].item_type == "3"}
                                {foreach from=$formItem[138].select key=s_key item=item name=select}

                                    {assign var=key138 value=edata138`$s_key`}

                                    {if $arrForm[$key138] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc45-->
                {if $formItem[139].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[139].item_name}{if $formItem[139].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[139].item_type == "0" || $formItem[139].item_type == "1"}
                                {$arrForm.edata139|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[139].item_type == "2" || $formItem[139].item_type == "4"}
                                {$formItem[139].select[$arrForm.edata139]}
                            {*チェック*}
                            {elseif $formItem[139].item_type == "3"}
                                {foreach from=$formItem[139].select key=s_key item=item name=select}

                                    {assign var=key139 value=edata139`$s_key`}

                                    {if $arrForm[$key139] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc46-->
                {if $formItem[140].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[140].item_name}{if $formItem[140].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[140].item_type == "0" || $formItem[140].item_type == "1"}
                                {$arrForm.edata140|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[140].item_type == "2" || $formItem[140].item_type == "4"}
                                {$formItem[140].select[$arrForm.edata140]}
                            {*チェック*}
                            {elseif $formItem[140].item_type == "3"}
                                {foreach from=$formItem[140].select key=s_key item=item name=select}

                                    {assign var=key140 value=edata140`$s_key`}

                                    {if $arrForm[$key140] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc47-->
                {if $formItem[141].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[141].item_name}{if $formItem[141].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[141].item_type == "0" || $formItem[141].item_type == "1"}
                                {$arrForm.edata141|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[141].item_type == "2" || $formItem[141].item_type == "4"}
                                {$formItem[141].select[$arrForm.edata141]}
                            {*チェック*}
                            {elseif $formItem[141].item_type == "3"}
                                {foreach from=$formItem[141].select key=s_key item=item name=select}

                                    {assign var=key141 value=edata141`$s_key`}

                                    {if $arrForm[$key141] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc48-->
                {if $formItem[142].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[142].item_name}{if $formItem[142].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[142].item_type == "0" || $formItem[142].item_type == "1"}
                                {$arrForm.edata142|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[142].item_type == "2" || $formItem[142].item_type == "4"}
                                {$formItem[142].select[$arrForm.edata142]}
                            {*チェック*}
                            {elseif $formItem[142].item_type == "3"}
                                {foreach from=$formItem[142].select key=s_key item=item name=select}

                                    {assign var=key142 value=edata142`$s_key`}

                                    {if $arrForm[$key142] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc49-->
                {if $formItem[143].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[143].item_name}{if $formItem[143].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[143].item_type == "0" || $formItem[143].item_type == "1"}
                                {$arrForm.edata143|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[143].item_type == "2" || $formItem[143].item_type == "4"}
                                {$formItem[143].select[$arrForm.edata143]}
                            {*チェック*}
                            {elseif $formItem[143].item_type == "3"}
                                {foreach from=$formItem[143].select key=s_key item=item name=select}

                                    {assign var=key143 value=edata143`$s_key`}

                                    {if $arrForm[$key143] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}


                <!-- etc50-->
                {if $formItem[144].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[144].item_name}{if $formItem[144].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {*テキスト、テキストエリア*}
                            {if $formItem[144].item_type == "0" || $formItem[144].item_type == "1"}
                                {$arrForm.edata144|escape|nl2br}
                            {*ラジオ、セレクト*}
                            {elseif $formItem[144].item_type == "2" || $formItem[144].item_type == "4"}
                                {$formItem[144].select[$arrForm.edata144]}
                            {*チェック*}
                            {elseif $formItem[144].item_type == "3"}
                                {foreach from=$formItem[144].select key=s_key item=item name=select}

                                    {assign var=key144 value=edata144`$s_key`}

                                    {if $arrForm[$key144] == $s_key}{$item}<br />{/if}

                                {/foreach}
                            {/if}

                        </td>
                    </tr>
                {/if}

				</table>
				<br />
                
                <div class="bname">Infomation off All Researchers</div>
                <table class="rtbl">


                <!-- author arunashi -->
                {if $formItem[29].disp != "1"}
                    <tr>
                        <td class="iname">
                            {$formItem[29].item_name}{if $formItem[29].need == "1"}<span class="red">&nbsp;*</span>{/if}
                        </td>
                        <td>
                            {$va_coAuthor[$arrForm.edata29]}

                        </td>
                    </tr>

                    <!-- author count -->
                    {if $formItem[30].disp != "1"}
                        <tr>
                            <td class="iname">
                                {$formItem[30].item_name}{if $formItem[30].need == "1"}<span class="red">&nbsp;*</span>{/if}
                            </td>
                            <td>
                                {$arrForm.edata30|escape}
                            </td>
                        </tr>
                    {/if}

                    <!-- attach list -->
                    {if $formItem[31].disp != "1"}
                        <tr>
                            <td class="iname">
                                {$formItem[31].item_name}{if $formItem[31].need == "1"}<span class="red">&nbsp;*</span>{/if}
                            </td>
                            <td>
                                {$arrForm.edata31|escape|escape}

                            </td>
                        </tr>
                    {/if}

                {/if}
                </table>
                <br />