			<!-- loop input number -->
			{section name=counter loop=$arrForm.edata30+1 start=$author_start_index}
			{assign var=i value=`$smarty.section.counter.index`}
			
			{if $i == 0}
				<div class="bname">Corresponding (Presenting) Author</div>
			{elseif $i == 1}
			<!-- title -->
				{if $formData.group2 != ""}
					<div class="bname">{$formData.group2}</div>
				{/if}
	
				<!-- desc -->
				{if $formWord.word6 != ""}
					<div class="bcomment">{$formWord.word6|nl2br}</div>
				{/if}
			{/if}
			

				<table class="rtbl">
				{if $i != 0}<tr>
					<td class="iname" colspan="2">
					
					<label>
					<input type="checkbox" name="group2_del[]" value="{$i}"{$arrForm.group2_del|@md_checked:$i} />
					Delete</label>
					
					</td>
				</tr>{/if}
				
				<!-- syozokukikan -->
				{if $formItem[32].disp != "1"}
					{assign var=key32 value=edata32`$smarty.section.counter.index`}

					<tr>
						<td class="iname">
							{$formItem[32].item_name}{if $formItem[32].need == "1"}<span class="red">&nbsp;*</span>{/if}

						</td>
						<td>
							{if $formItem[32].item_memo != ""}{$formItem[32].item_memo}<br />{/if}
							{*<select name="edata32{$smarty.section.counter.index}">
								<option vlaue=""></option>
									{foreach from=$arrForm.kikanlist item=item name=select key=k }
										<option value="{$k}" {if $arrForm[$key32] == $k}selected{/if}>{$item}</option>
									{/foreach}
							</select>*}


			                <select name="{$key32}1">
			                    <option vlaue=""></option>
								{foreach from=$arrForm.kikanlist key=s_key item=item name=select}
									{assign var=chk32 value="`$key32`1"}
									{assign var=cnt value=$arrForm.kikanlist|@count}
									<option  value="{$s_key}" {if $arrForm[$chk32] == $s_key || $cnt == "1"}selected{/if} {if $formItem[32].disable[$s_key] == "1" && $arrForm[$chk32] != $s_key && $admin_flg == ""}disabled="disabled"{/if} >{$item}</option>
								{/foreach}
			                </select>&nbsp;

							<!-- etc1 -->
							{if $formItem[43].disp != "1" && $formItem[43].item_type == "0"}
								{assign var=key43 value=edata43`$smarty.section.counter.index`}
								{$formItem[43].item_name}{if $formItem[43].need == "1"}<span class="red">&nbsp;*</span>{/if}

								{if $formItem[43].item_memo != ""}{$formItem[43].item_memo}<br />{/if}
								<input type="text" name="edata43{$smarty.section.counter.index}" value="{$arrForm[$key43]|escape}" size="20" />
							{/if}
						</td>
					</tr>
				{/if}

				<!--Title (Prof.・Dr.・Mr.・Ms.)-->
				{if $formItem[61].disp != "1"}
					{assign var=key61 value=edata61`$smarty.section.counter.index`}

					<tr>
						<td class="iname">
							{$formItem[61].item_name}{if $formItem[61].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
						{if $i == 0}
							{assign var=v value=`$arrForm[$key61]`}
							{$GLOBALS.titleList[$v]}
							<input type="hidden" name="edata61{$i}" value="{$arrForm[$key61]}" />
						{else}
							{if $formItem[61].item_memo != ""}{$formItem[61].item_memo}<br />{/if}

							{foreach from=$GLOBALS.titleList key=s_key item=item name=select}
								<input type="radio" name="edata61{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key61] == $s_key}checked{/if} />{$item}
							{/foreach}
						{/if}
						</td>
					</tr>
				{/if}


				<!-- sei -->
				{if $formItem[33].disp != "1"}
					{assign var=key33 value=edata33`$smarty.section.counter.index`}

					<tr>
						<td class="iname">
							{$formItem[33].item_name}{if $formItem[33].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $i == 0}
							{$arrForm[$key33]|escape}
							<input type="hidden" name="edata33{$i}" value="{$arrForm[$key33]|escape}" />
							{else}
							{if $formItem[33].item_memo != ""}{$formItem[33].item_memo}<br />{/if}
							<input type="text" name="edata33{$smarty.section.counter.index}" value="{$arrForm[$key33]|escape}" size="30" />
							{/if}
						</td>
					</tr>
				{/if}

				<!-- mei -->
				{if $formItem[34].disp != "1"}
					{assign var=key34 value=edata34`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[34].item_name}{if $formItem[34].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $i == 0}
							{$arrForm[$key34]|escape}
							<input type="hidden" name="edata34{$i}" value="{$arrForm[$key34]|escape}" />
							{else}
							{if $formItem[34].item_memo != ""}{$formItem[34].item_memo}<br />{/if}
							<input type="text" name="edata34{$smarty.section.counter.index}" value="{$arrForm[$key34]|escape}" size="30" />
							{/if}
						</td>
					</tr>
				{/if}

				<!--Middle Name(initial)-->
				{if $formItem[62].disp != "1"}
					{assign var=key62 value=edata62`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[62].item_name}{if $formItem[62].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $i == 0}
							{$arrForm[$key62]|escape}
							<input type="hidden" name="edata62{$i}" value="{$arrForm[$key62]|escape}" />
							{else}
							{if $formItem[62].item_memo != ""}{$formItem[62].item_memo}<br />{/if}
							<input type="text" name="edata62{$smarty.section.counter.index}" value="{$arrForm[$key62]|escape}" size="30" />
							{/if}
						</td>
					</tr>
				{/if}


				<!-- mailaddress -->
				{if $formItem[40].disp != "1"}
					{assign var=key40 value=edata40`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[40].item_name}{if $formItem[40].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
						</td>
						<td>
							{if $i == 0}
							{$arrForm[$key40]|escape}
							<input type="hidden" name="edata40{$i}" value="{$arrForm[$key40]|escape}" />
							{else}
							{if $formItem[40].item_memo != ""}{$formItem[40].item_memo}<br />{/if}
							<input type="text" name="edata40{$smarty.section.counter.index}" value="{$arrForm[$key40]|escape}" size="40" />
							{/if}
						</td>
					</tr>
				{/if}


				<!-- member/none member -->
				{if $formItem[41].disp != "1"}
					{assign var=key41 value=edata41`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[41].item_name}{if $formItem[41].need == "1"}<span class="red">&nbsp;*</span>{/if}


						</td>
						<td>
							{if $i == 0}
							{assign var=v value=`$arrForm[$key41]`}
							{$va_kaiin[$v]}
							<input type="hidden" name="edata41{$i}" value="{$arrForm[$key41]|escape}" />
							{else}
							{if $formItem[41].item_memo != ""}{$formItem[41].item_memo}<br />{/if}
							<input type="radio" name="edata41{$smarty.section.counter.index}" value="1" {if $arrForm[$key41] == "1"}checked{/if} />&nbsp;{$va_kaiin[1]}							<input type="radio" name="edata41{$smarty.section.counter.index}" value="2" {if $arrForm[$key41] == "2"}checked{/if} />&nbsp;{$va_kaiin[2]}
							{/if}
						</td>
					</tr>
				{/if}

				{if $formItem[44].disp != "1"}

					{assign var=key44 value=edata44`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[44].item_name}{if $formItem[44].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[44].item_memo != ""}{$formItem[44].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[44].item_type == "0"}
								<input type="text" name="edata44{$smarty.section.counter.index}" value="{$arrForm[$key44]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[44].item_type == "1"}
								<textarea rows="5" name="edata44{$smarty.section.counter.index}" cols="85">{$arrForm[$key44]}</textarea>

							{*ラジオ*}
							{elseif $formItem[44].item_type == "2"}
								{foreach from=$formItem[44].select key=s_key item=item name=select}
									<input type="radio" name="edata44{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key44] == $s_key}checked{/if} {if $formItem[44].disable[$s_key] == "1" && $arrForm[$key44] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[44].item_type == "3"}

								{foreach from=$formItem[44].select key=s_key item=item name=select}
									{assign var=chk44 value=$key44`$s_key`}
									<input type="checkbox" name="edata44{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk44] == $s_key}checked{/if} {if $formItem[44].disable[$s_key] == "1" && $arrForm[$chk44] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[44].item_type == "4"}
								<select name="edata44{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[44].select key=s_key item=item name=select}
										{if !($formItem[44].disable[$s_key] == "1" && $arrForm[$key44] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key44] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc3 -->
				{if $formItem[45].disp != "1"}

					{assign var=key45 value=edata45`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[45].item_name}{if $formItem[45].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[45].item_memo != ""}{$formItem[45].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[45].item_type == "0"}
								<input type="text" name="edata45{$smarty.section.counter.index}" value="{$arrForm[$key45]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[45].item_type == "1"}
								<textarea rows="5" name="edata45{$smarty.section.counter.index}" cols="85">{$arrForm[$key45]}</textarea>

							{*ラジオ*}
							{elseif $formItem[45].item_type == "2"}
								{foreach from=$formItem[45].select key=s_key item=item name=select}
									<input type="radio" name="edata45{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key45] == $s_key}checked{/if} {if $formItem[45].disable[$s_key] == "1" && $arrForm[$key45] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[45].item_type == "3"}

								{foreach from=$formItem[45].select key=s_key item=item name=select}

									{assign var=chk45 value=$key45`$s_key`}
									<input type="checkbox" name="edata45{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk45] == $s_key}checked{/if}  {if $formItem[45].disable[$s_key] == "1" && $arrForm[$chk45] != $s_key && $admin_flg == ""}disabled="disabled"{/if}/>{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[45].item_type == "4"}
								<select name="edata45{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[45].select key=s_key item=item name=select}
										{if !($formItem[45].disable[$s_key] == "1" && $arrForm[$key45] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key45] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}

								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc4 -->
				{if $formItem[65].disp != "1"}

					{assign var=key65 value=edata65`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[65].item_name}{if $formItem[65].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[65].item_memo != ""}{$formItem[65].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[65].item_type == "0"}
								<input type="text" name="edata65{$smarty.section.counter.index}" value="{$arrForm[$key65]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[65].item_type == "1"}
								<textarea rows="5" name="edata65{$smarty.section.counter.index}" cols="85">{$arrForm[$key65]}</textarea>

							{*ラジオ*}
							{elseif $formItem[65].item_type == "2"}
								{foreach from=$formItem[65].select key=s_key item=item name=select}
									<input type="radio" name="edata65{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key65] == $s_key}checked{/if} {if $formItem[65].disable[$s_key] == "1" && $arrForm[$key65] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[65].item_type == "3"}

								{foreach from=$formItem[65].select key=s_key item=item name=select}

									{assign var=chk65 value=$key65`$s_key`}
									<input type="checkbox" name="edata65{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk65] == $s_key}checked{/if} {if $formItem[65].disable[$s_key] == "1" && $arrForm[$chk65] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[65].item_type == "4"}
								<select name="edata65{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[65].select key=s_key item=item name=select}
										{if !($formItem[65].disable[$s_key] == "1" && $arrForm[$key65] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key65] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}

								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc5 -->
				{if $formItem[66].disp != "1"}

					{assign var=key66 value=edata66`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[66].item_name}{if $formItem[66].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[66].item_memo != ""}{$formItem[66].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[66].item_type == "0"}
								<input type="text" name="edata66{$smarty.section.counter.index}" value="{$arrForm[$key66]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[66].item_type == "1"}
								<textarea rows="5" name="edata66{$smarty.section.counter.index}" cols="85">{$arrForm[$key66]}</textarea>

							{*ラジオ*}
							{elseif $formItem[66].item_type == "2"}
								{foreach from=$formItem[66].select key=s_key item=item name=select}
									<input type="radio" name="edata66{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key66] == $s_key}checked{/if} {if $formItem[66].disable[$s_key] == "1" && $arrForm[$key66] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[66].item_type == "3"}

								{foreach from=$formItem[66].select key=s_key item=item name=select}

									{assign var=chk66 value=$key66`$s_key`}
									<input type="checkbox" name="edata66{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk66] == $s_key}checked{/if} {if $formItem[66].disable[$s_key] == "1" && $arrForm[$chk66] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[66].item_type == "4"}
								<select name="edata66{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[66].select key=s_key item=item name=select}
										{if !($formItem[66].disable[$s_key] == "1" && $arrForm[$key66] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key66] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc6 -->
				{if $formItem[84].disp != "1"}

					{assign var=key84 value=edata84`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[84].item_name}{if $formItem[84].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[84].item_memo != ""}{$formItem[84].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[84].item_type == "0"}
								<input type="text" name="edata84{$smarty.section.counter.index}" value="{$arrForm[$key84]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[84].item_type == "1"}
								<textarea rows="5" name="edata84{$smarty.section.counter.index}" cols="85">{$arrForm[$key84]}</textarea>

							{*ラジオ*}
							{elseif $formItem[84].item_type == "2"}
								{foreach from=$formItem[84].select key=s_key item=item name=select}
									<input type="radio" name="edata84{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key84] == $s_key}checked{/if} {if $formItem[84].disable[$s_key] == "1" && $arrForm[$key84] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[84].item_type == "3"}

								{foreach from=$formItem[84].select key=s_key item=item name=select}

									{assign var=chk84 value=$key84`$s_key`}
									<input type="checkbox" name="edata84{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk84] == $s_key}checked{/if} {if $formItem[84].disable[$s_key] == "1" && $arrForm[$chk84] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[84].item_type == "4"}
								<select name="edata84{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[84].select key=s_key item=item name=select}
										{if !($formItem[84].disable[$s_key] == "1" && $arrForm[$key84] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key84] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc7 -->
				{if $formItem[85].disp != "1"}

					{assign var=key85 value=edata85`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[85].item_name}{if $formItem[85].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[85].item_memo != ""}{$formItem[85].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[85].item_type == "0"}
								<input type="text" name="edata85{$smarty.section.counter.index}" value="{$arrForm[$key85]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[85].item_type == "1"}
								<textarea rows="5" name="edata85{$smarty.section.counter.index}" cols="85">{$arrForm[$key85]}</textarea>

							{*ラジオ*}
							{elseif $formItem[85].item_type == "2"}
								{foreach from=$formItem[85].select key=s_key item=item name=select}
									<input type="radio" name="edata85{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key85] == $s_key}checked{/if} {if $formItem[85].disable[$s_key] == "1" && $arrForm[$key85] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[85].item_type == "3"}

								{foreach from=$formItem[85].select key=s_key item=item name=select}

									{assign var=chk85 value=$key85`$s_key`}
									<input type="checkbox" name="edata85{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk85] == $s_key}checked{/if} {if $formItem[85].disable[$s_key] == "1" && $arrForm[$chk85] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[85].item_type == "4"}
								<select name="edata85{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[85].select key=s_key item=item name=select}
										{if !($formItem[85].disable[$s_key] == "1" && $arrForm[$key85] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key85] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc8 -->
				{if $formItem[86].disp != "1"}

					{assign var=key86 value=edata86`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[86].item_name}{if $formItem[86].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[86].item_memo != ""}{$formItem[86].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[86].item_type == "0"}
								<input type="text" name="edata86{$smarty.section.counter.index}" value="{$arrForm[$key86]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[86].item_type == "1"}
								<textarea rows="5" name="edata86{$smarty.section.counter.index}" cols="86">{$arrForm[$key86]}</textarea>

							{*ラジオ*}
							{elseif $formItem[86].item_type == "2"}
								{foreach from=$formItem[86].select key=s_key item=item name=select}
									<input type="radio" name="edata86{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key86] == $s_key}checked{/if} {if $formItem[86].disable[$s_key] == "1" && $arrForm[$key86] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[86].item_type == "3"}

								{foreach from=$formItem[86].select key=s_key item=item name=select}

									{assign var=chk86 value=$key86`$s_key`}
									<input type="checkbox" name="edata86{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk86] == $s_key}checked{/if} {if $formItem[86].disable[$s_key] == "1" && $arrForm[$chk86] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[86].item_type == "4"}
								<select name="edata86{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[86].select key=s_key item=item name=select}
										{if !($formItem[86].disable[$s_key] == "1" && $arrForm[$key86] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key86] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}

								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc9 -->
				{if $formItem[87].disp != "1"}

					{assign var=key87 value=edata87`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[87].item_name}{if $formItem[87].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[87].item_memo != ""}{$formItem[87].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[87].item_type == "0"}
								<input type="text" name="edata87{$smarty.section.counter.index}" value="{$arrForm[$key87]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[87].item_type == "1"}
								<textarea rows="5" name="edata87{$smarty.section.counter.index}" cols="87">{$arrForm[$key87]}</textarea>

							{*ラジオ*}
							{elseif $formItem[87].item_type == "2"}
								{foreach from=$formItem[87].select key=s_key item=item name=select}
									<input type="radio" name="edata87{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key87] == $s_key}checked{/if} {if $formItem[87].disable[$s_key] == "1" && $arrForm[$key87] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[87].item_type == "3"}

								{foreach from=$formItem[87].select key=s_key item=item name=select}

									{assign var=chk87 value=$key87`$s_key`}
									<input type="checkbox" name="edata87{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk87] == $s_key}checked{/if} {if $formItem[87].disable[$s_key] == "1" && $arrForm[$chk87] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[87].item_type == "4"}
								<select name="edata87{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[87].select key=s_key item=item name=select}
										{if !($formItem[87].disable[$s_key] == "1" && $arrForm[$key87] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key87] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc10 -->
				{if $formItem[88].disp != "1"}

					{assign var=key88 value=edata88`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[88].item_name}{if $formItem[88].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[88].item_memo != ""}{$formItem[88].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[88].item_type == "0"}
								<input type="text" name="edata88{$smarty.section.counter.index}" value="{$arrForm[$key88]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[88].item_type == "1"}
								<textarea rows="5" name="edata88{$smarty.section.counter.index}" cols="88">{$arrForm[$key88]}</textarea>

							{*ラジオ*}
							{elseif $formItem[88].item_type == "2"}
								{foreach from=$formItem[88].select key=s_key item=item name=select}
									<input type="radio" name="edata88{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key88] == $s_key}checked{/if} {if $formItem[88].disable[$s_key] == "1" && $arrForm[$key88] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[88].item_type == "3"}

								{foreach from=$formItem[88].select key=s_key item=item name=select}

									{assign var=chk88 value=$key88`$s_key`}
									<input type="checkbox" name="edata88{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk88] == $s_key}checked{/if} {if $formItem[88].disable[$s_key] == "1" && $arrForm[$chk88] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[88].item_type == "4"}
								<select name="edata88{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[88].select key=s_key item=item name=select}
										{if !($formItem[88].disable[$s_key] == "1" && $arrForm[$key88] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key88] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc11 -->
				{if $formItem[89].disp != "1"}

					{assign var=key89 value=edata89`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[89].item_name}{if $formItem[89].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[89].item_memo != ""}{$formItem[89].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[89].item_type == "0"}
								<input type="text" name="edata89{$smarty.section.counter.index}" value="{$arrForm[$key89]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[89].item_type == "1"}
								<textarea rows="5" name="edata89{$smarty.section.counter.index}" cols="89">{$arrForm[$key89]}</textarea>

							{*ラジオ*}
							{elseif $formItem[89].item_type == "2"}
								{foreach from=$formItem[89].select key=s_key item=item name=select}
									<input type="radio" name="edata89{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key89] == $s_key}checked{/if} {if $formItem[89].disable[$s_key] == "1" && $arrForm[$key89] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[89].item_type == "3"}

								{foreach from=$formItem[89].select key=s_key item=item name=select}

									{assign var=chk89 value=$key89`$s_key`}
									<input type="checkbox" name="edata89{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk89] == $s_key}checked{/if} {if $formItem[89].disable[$s_key] == "1" && $arrForm[$chk89] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[89].item_type == "4"}
								<select name="edata89{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[89].select key=s_key item=item name=select}
										{if !($formItem[89].disable[$s_key] == "1" && $arrForm[$key89] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key89] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc12 -->
				{if $formItem[90].disp != "1"}

					{assign var=key90 value=edata90`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[90].item_name}{if $formItem[90].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[90].item_memo != ""}{$formItem[90].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[90].item_type == "0"}
								<input type="text" name="edata90{$smarty.section.counter.index}" value="{$arrForm[$key90]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[90].item_type == "1"}
								<textarea rows="5" name="edata90{$smarty.section.counter.index}" cols="90">{$arrForm[$key90]}</textarea>

							{*ラジオ*}
							{elseif $formItem[90].item_type == "2"}
								{foreach from=$formItem[90].select key=s_key item=item name=select}
									<input type="radio" name="edata90{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key90] == $s_key}checked{/if} {if $formItem[90].disable[$s_key] == "1" && $arrForm[$key90] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[90].item_type == "3"}

								{foreach from=$formItem[90].select key=s_key item=item name=select}

									{assign var=chk90 value=$key90`$s_key`}
									<input type="checkbox" name="edata90{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk90] == $s_key}checked{/if} {if $formItem[90].disable[$s_key] == "1" && $arrForm[$chk90] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[90].item_type == "4"}
								<select name="edata90{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[90].select key=s_key item=item name=select}
										{if !($formItem[90].disable[$s_key] == "1" && $arrForm[$key90] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key90] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc13 -->
				{if $formItem[91].disp != "1"}

					{assign var=key91 value=edata91`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[91].item_name}{if $formItem[91].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[91].item_memo != ""}{$formItem[91].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[91].item_type == "0"}
								<input type="text" name="edata91{$smarty.section.counter.index}" value="{$arrForm[$key91]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[91].item_type == "1"}
								<textarea rows="5" name="edata91{$smarty.section.counter.index}" cols="91">{$arrForm[$key91]}</textarea>

							{*ラジオ*}
							{elseif $formItem[91].item_type == "2"}
								{foreach from=$formItem[91].select key=s_key item=item name=select}
									<input type="radio" name="edata91{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key91] == $s_key}checked{/if} {if $formItem[91].disable[$s_key] == "1" && $arrForm[$key91] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[91].item_type == "3"}

								{foreach from=$formItem[91].select key=s_key item=item name=select}

									{assign var=chk91 value=$key91`$s_key`}
									<input type="checkbox" name="edata91{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk91] == $s_key}checked{/if} {if $formItem[91].disable[$s_key] == "1" && $arrForm[$chk91] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[91].item_type == "4"}
								<select name="edata91{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[91].select key=s_key item=item name=select}
										{if !($formItem[91].disable[$s_key] == "1" && $arrForm[$key91] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key91] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc14 -->
				{if $formItem[92].disp != "1"}

					{assign var=key92 value=edata92`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[92].item_name}{if $formItem[92].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[92].item_memo != ""}{$formItem[92].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[92].item_type == "0"}
								<input type="text" name="edata92{$smarty.section.counter.index}" value="{$arrForm[$key92]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[92].item_type == "1"}
								<textarea rows="5" name="edata92{$smarty.section.counter.index}" cols="92">{$arrForm[$key92]}</textarea>

							{*ラジオ*}
							{elseif $formItem[92].item_type == "2"}
								{foreach from=$formItem[92].select key=s_key item=item name=select}
									<input type="radio" name="edata92{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key92] == $s_key}checked{/if} {if $formItem[92].disable[$s_key] == "1" && $arrForm[$key92] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[92].item_type == "3"}

								{foreach from=$formItem[92].select key=s_key item=item name=select}

									{assign var=chk92 value=$key92`$s_key`}
									<input type="checkbox" name="edata92{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk92] == $s_key}checked{/if} {if $formItem[92].disable[$s_key] == "1" && $arrForm[$chk92] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[92].item_type == "4"}
								<select name="edata92{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[92].select key=s_key item=item name=select}
										{if !($formItem[92].disable[$s_key] == "1" && $arrForm[$key92] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key92] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc15 -->
				{if $formItem[93].disp != "1"}

					{assign var=key93 value=edata93`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[93].item_name}{if $formItem[93].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[93].item_memo != ""}{$formItem[93].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[93].item_type == "0"}
								<input type="text" name="edata93{$smarty.section.counter.index}" value="{$arrForm[$key93]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[93].item_type == "1"}
								<textarea rows="5" name="edata93{$smarty.section.counter.index}" cols="93">{$arrForm[$key93]}</textarea>

							{*ラジオ*}
							{elseif $formItem[93].item_type == "2"}
								{foreach from=$formItem[93].select key=s_key item=item name=select}
									<input type="radio" name="edata93{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key93] == $s_key}checked{/if} {if $formItem[93].disable[$s_key] == "1" && $arrForm[$key93] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[93].item_type == "3"}

								{foreach from=$formItem[93].select key=s_key item=item name=select}

									{assign var=chk93 value=$key93`$s_key`}
									<input type="checkbox" name="edata93{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk93] == $s_key}checked{/if} {if $formItem[93].disable[$s_key] == "1" && $arrForm[$chk93] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[93].item_type == "4"}
								<select name="edata93{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[93].select key=s_key item=item name=select}
										{if !($formItem[93].disable[$s_key] == "1" && $arrForm[$key93] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key93] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc16 -->
				{if $formItem[94].disp != "1"}

					{assign var=key94 value=edata94`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[94].item_name}{if $formItem[94].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[94].item_memo != ""}{$formItem[94].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[94].item_type == "0"}
								<input type="text" name="edata94{$smarty.section.counter.index}" value="{$arrForm[$key94]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[94].item_type == "1"}
								<textarea rows="5" name="edata94{$smarty.section.counter.index}" cols="94">{$arrForm[$key94]}</textarea>

							{*ラジオ*}
							{elseif $formItem[94].item_type == "2"}
								{foreach from=$formItem[94].select key=s_key item=item name=select}
									<input type="radio" name="edata94{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key94] == $s_key}checked{/if} {if $formItem[94].disable[$s_key] == "1" && $arrForm[$key94] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[94].item_type == "3"}

								{foreach from=$formItem[94].select key=s_key item=item name=select}

									{assign var=chk94 value=$key94`$s_key`}
									<input type="checkbox" name="edata94{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk94] == $s_key}checked{/if} {if $formItem[94].disable[$s_key] == "1" && $arrForm[$chk94] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[94].item_type == "4"}
								<select name="edata94{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[94].select key=s_key item=item name=select}
										{if !($formItem[94].disable[$s_key] == "1" && $arrForm[$key94] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key94] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc17 -->
				{if $formItem[95].disp != "1"}

					{assign var=key95 value=edata95`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[95].item_name}{if $formItem[95].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[95].item_memo != ""}{$formItem[95].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[95].item_type == "0"}
								<input type="text" name="edata95{$smarty.section.counter.index}" value="{$arrForm[$key95]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[95].item_type == "1"}
								<textarea rows="5" name="edata95{$smarty.section.counter.index}" cols="95">{$arrForm[$key95]}</textarea>

							{*ラジオ*}
							{elseif $formItem[95].item_type == "2"}
								{foreach from=$formItem[95].select key=s_key item=item name=select}
									<input type="radio" name="edata95{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key95] == $s_key}checked{/if} {if $formItem[95].disable[$s_key] == "1" && $arrForm[$key95] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[95].item_type == "3"}

								{foreach from=$formItem[95].select key=s_key item=item name=select}

									{assign var=chk95 value=$key95`$s_key`}
									<input type="checkbox" name="edata95{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk95] == $s_key}checked{/if} {if $formItem[95].disable[$s_key] == "1" && $arrForm[$chk95] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[95].item_type == "4"}
								<select name="edata95{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[95].select key=s_key item=item name=select}
										{if !($formItem[95].disable[$s_key] == "1" && $arrForm[$key95] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key95] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc18 -->
				{if $formItem[96].disp != "1"}

					{assign var=key96 value=edata96`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[96].item_name}{if $formItem[96].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[96].item_memo != ""}{$formItem[96].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[96].item_type == "0"}
								<input type="text" name="edata96{$smarty.section.counter.index}" value="{$arrForm[$key96]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[96].item_type == "1"}
								<textarea rows="5" name="edata96{$smarty.section.counter.index}" cols="96">{$arrForm[$key96]}</textarea>

							{*ラジオ*}
							{elseif $formItem[96].item_type == "2"}
								{foreach from=$formItem[96].select key=s_key item=item name=select}
									<input type="radio" name="edata96{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key96] == $s_key}checked{/if} {if $formItem[96].disable[$s_key] == "1" && $arrForm[$key96] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[96].item_type == "3"}

								{foreach from=$formItem[96].select key=s_key item=item name=select}

									{assign var=chk96 value=$key96`$s_key`}
									<input type="checkbox" name="edata96{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk96] == $s_key}checked{/if} {if $formItem[96].disable[$s_key] == "1" && $arrForm[$chk96] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[96].item_type == "4"}
								<select name="edata96{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[96].select key=s_key item=item name=select}
										{if !($formItem[96].disable[$s_key] == "1" && $arrForm[$key96] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key96] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc19 -->
				{if $formItem[97].disp != "1"}

					{assign var=key97 value=edata97`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[97].item_name}{if $formItem[97].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[97].item_memo != ""}{$formItem[97].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[97].item_type == "0"}
								<input type="text" name="edata97{$smarty.section.counter.index}" value="{$arrForm[$key97]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[97].item_type == "1"}
								<textarea rows="5" name="edata97{$smarty.section.counter.index}" cols="97">{$arrForm[$key97]}</textarea>

							{*ラジオ*}
							{elseif $formItem[97].item_type == "2"}
								{foreach from=$formItem[97].select key=s_key item=item name=select}
									<input type="radio" name="edata97{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key97] == $s_key}checked{/if} {if $formItem[97].disable[$s_key] == "1" && $arrForm[$key97] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[97].item_type == "3"}

								{foreach from=$formItem[97].select key=s_key item=item name=select}

									{assign var=chk97 value=$key97`$s_key`}
									<input type="checkbox" name="edata97{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk97] == $s_key}checked{/if} {if $formItem[97].disable[$s_key] == "1" && $arrForm[$chk97] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[97].item_type == "4"}
								<select name="edata97{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[97].select key=s_key item=item name=select}
										{if !($formItem[97].disable[$s_key] == "1" && $arrForm[$key97] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key97] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc20 -->
				{if $formItem[98].disp != "1"}

					{assign var=key98 value=edata98`$smarty.section.counter.index`}
					<tr>
						<td class="iname">
							{$formItem[98].item_name}{if $formItem[98].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[98].item_memo != ""}{$formItem[98].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[98].item_type == "0"}
								<input type="text" name="edata98{$smarty.section.counter.index}" value="{$arrForm[$key98]|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[98].item_type == "1"}
								<textarea rows="5" name="edata98{$smarty.section.counter.index}" cols="98">{$arrForm[$key98]}</textarea>

							{*ラジオ*}
							{elseif $formItem[98].item_type == "2"}
								{foreach from=$formItem[98].select key=s_key item=item name=select}
									<input type="radio" name="edata98{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key98] == $s_key}checked{/if} {if $formItem[98].disable[$s_key] == "1" && $arrForm[$key98] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[98].item_type == "3"}

								{foreach from=$formItem[98].select key=s_key item=item name=select}

									{assign var=chk98 value=$key98`$s_key`}
									<input type="checkbox" name="edata98{$smarty.section.counter.index}{$s_key}" value="{$s_key}" {if $arrForm[$chk98] == $s_key}checked{/if} {if $formItem[98].disable[$s_key] == "1" && $arrForm[$chk98] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[98].item_type == "4"}
								<select name="edata98{$smarty.section.counter.index}">
									<option vlaue=""></option>
									{foreach from=$formItem[98].select key=s_key item=item name=select}
										{if !($formItem[98].disable[$s_key] == "1" && $arrForm[$key98] != $s_key && $admin_flg == "")}
											<option value="{$smarty.foreach.select.iteration}" {if $arrForm[$key98] == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

			</table>
			<br />
			{/section}