				<!--  loop -->
				{section name=counter loop=$arrForm.edata30+1 start=$author_start_index}
				{assign var=i value=`$smarty.section.counter.index`}
				
					{if $i == "0"}
						<div class="bname">Corresponding (Presenting) Author</div>
					{elseif $i == "1"}
					{if $formData.group2 != ""}
						<div class="bname">{$formData.group2}</div>
					{/if}
					{/if}
					

					<table class="rtbl">
					{if $arrForm.group2_del}
						{if $i|in_array:$arrForm.group2_del} 
						<tr>
							<td class="iname">Delete</td>
							<td><span class="red">Delete</span></td>
						</tr>
						{/if}
					{/if}
						
					<!-- attach -->
					{if $formItem[32].disp != "1"}
						{assign var=key32 value=edata32`$smarty.section.counter.index`}
						{assign var=sel32 value=$arrForm[$key32]}
						<tr>
							<td class="iname">
								{$formItem[32].item_name}{if $formItem[32].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{foreach from=$arrForm.kikanlist key=s_key item=item name=select}
									{assign var=chk32 value="`$key32`1"}
									{if $arrForm[$chk32] == $s_key}{$item|escape}{/if}
								{/foreach}
								&nbsp;

								<!-- etc1 -->
								{if $formItem[43].disp != "1" && $formItem[43].item_type == "0"}
									{assign var=key43 value=edata43`$smarty.section.counter.index`}
									{$arrForm[$key43]|escape}
								{/if}
							</td>
						</tr>
					{/if}



					<!--Title (Prof.・Dr.・Mr.・Ms.)-->
					{if $formItem[61].disp != "1"}
						{assign var=key61 value=edata61`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[61].item_name}{if $formItem[61].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{assign var=title61 value=$arrForm[$key61]}
								{$GLOBALS.titleList[$title61]}
							</td>
						</tr>
					{/if}

					<!-- sei -->
					{if $formItem[33].disp != "1"}
						{assign var=key33 value=edata33`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[33].item_name}{if $formItem[33].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{$arrForm[$key33]|escape}
							</td>
						</tr>
					{/if}

					<!-- mei -->
					{if $formItem[34].disp != "1"}
						{assign var=key34 value=edata34`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[34].item_name}{if $formItem[34].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{$arrForm[$key34]|escape}
							</td>
						</tr>
					{/if}




					<!-- mail -->
					{if $formItem[40].disp != "1"}
						{assign var=key40 value=edata40`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[40].item_name}{if $formItem[40].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{$arrForm[$key40]|escape}
							</td>
						</tr>
					{/if}


					<!-- member -->
					{if $formItem[41].disp != "1"}
						{assign var=key41 value=edata41`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[41].item_name}{if $formItem[41].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{if $arrForm[$key41] == "1"}
									{$va_kaiin[1]}

								{else}
									{$va_kaiin[2]}
								{/if}

							</td>
						</tr>
					{/if}


					<!-- etc2-->
					{if $formItem[44].disp != "1"}
						{assign var=key44 value=edata44`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[44].item_name}{if $formItem[44].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[44].item_type == "0" || $formItem[44].item_type == "1"}
									{$arrForm[$key44]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[44].item_type == "2" || $formItem[44].item_type == "4"}
									{foreach from=$formItem[44].select key=s_key item=item name=select}
										{if $arrForm[$key44] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[44].select key=s_key item=item name=select}

										{assign var=chk44 value=$key44`$s_key`}

										{if $arrForm[$chk44] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}


					<!-- etc3-->
					{if $formItem[45].disp != "1"}
						{assign var=key45 value=edata45`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[45].item_name}{if $formItem[45].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[45].item_type == "0" || $formItem[45].item_type == "1"}
									{$arrForm[$key45]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[45].item_type == "2" || $formItem[45].item_type == "4"}
									{foreach from=$formItem[45].select key=s_key item=item name=select}
										{if $arrForm[$key45] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[45].select key=s_key item=item name=select}

										{assign var=chk45 value=$key45`$s_key`}

										{if $arrForm[$chk45] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}

					<!-- etc4-->
					{if $formItem[65].disp != "1"}
						{assign var=key65 value=edata65`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[65].item_name}{if $formItem[65].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[65].item_type == "0" || $formItem[65].item_type == "1"}
									{$arrForm[$key65]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[65].item_type == "2" || $formItem[65].item_type == "4"}
									{foreach from=$formItem[65].select key=s_key item=item name=select}
										{if $arrForm[$key65] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[65].select key=s_key item=item name=select}

										{assign var=chk65 value=$key65`$s_key`}

										{if $arrForm[$chk65] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}


					<!-- etc5-->
					{if $formItem[66].disp != "1"}
						{assign var=key66 value=edata66`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[66].item_name}{if $formItem[66].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[66].item_type == "0" || $formItem[66].item_type == "1"}
									{$arrForm[$key66]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[66].item_type == "2" || $formItem[66].item_type == "4"}
									{foreach from=$formItem[66].select key=s_key item=item name=select}
										{if $arrForm[$key66] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[66].select key=s_key item=item name=select}

										{assign var=chk66 value=$key66`$s_key`}

										{if $arrForm[$chk66] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc6-->
					{if $formItem[84].disp != "1"}
						{assign var=key84 value=edata84`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[84].item_name}{if $formItem[84].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[84].item_type == "0" || $formItem[84].item_type == "1"}
									{$arrForm[$key84]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[84].item_type == "2" || $formItem[84].item_type == "4"}
									{foreach from=$formItem[84].select key=s_key item=item name=select}
										{if $arrForm[$key84] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[84].select key=s_key item=item name=select}

										{assign var=chk84 value=$key84`$s_key`}

										{if $arrForm[$chk84] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc7-->
					{if $formItem[85].disp != "1"}
						{assign var=key85 value=edata85`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[85].item_name}{if $formItem[85].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[85].item_type == "0" || $formItem[85].item_type == "1"}
									{$arrForm[$key85]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[85].item_type == "2" || $formItem[85].item_type == "4"}
									{foreach from=$formItem[85].select key=s_key item=item name=select}
										{if $arrForm[$key85] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[85].select key=s_key item=item name=select}

										{assign var=chk85 value=$key85`$s_key`}

										{if $arrForm[$chk85] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc8-->
					{if $formItem[86].disp != "1"}
						{assign var=key86 value=edata86`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[86].item_name}{if $formItem[86].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[86].item_type == "0" || $formItem[86].item_type == "1"}
									{$arrForm[$key86]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[86].item_type == "2" || $formItem[86].item_type == "4"}
									{foreach from=$formItem[86].select key=s_key item=item name=select}
										{if $arrForm[$key86] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[86].select key=s_key item=item name=select}

										{assign var=chk86 value=$key86`$s_key`}

										{if $arrForm[$chk86] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc9-->
					{if $formItem[87].disp != "1"}
						{assign var=key87 value=edata87`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[87].item_name}{if $formItem[87].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[87].item_type == "0" || $formItem[87].item_type == "1"}
									{$arrForm[$key87]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[87].item_type == "2" || $formItem[87].item_type == "4"}
									{foreach from=$formItem[87].select key=s_key item=item name=select}
										{if $arrForm[$key87] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[87].select key=s_key item=item name=select}

										{assign var=chk87 value=$key87`$s_key`}

										{if $arrForm[$chk87] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc10-->
					{if $formItem[88].disp != "1"}
						{assign var=key88 value=edata88`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[88].item_name}{if $formItem[88].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[88].item_type == "0" || $formItem[88].item_type == "1"}
									{$arrForm[$key88]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[88].item_type == "2" || $formItem[88].item_type == "4"}
									{foreach from=$formItem[88].select key=s_key item=item name=select}
										{if $arrForm[$key88] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[88].select key=s_key item=item name=select}

										{assign var=chk88 value=$key88`$s_key`}

										{if $arrForm[$chk88] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc11-->
					{if $formItem[89].disp != "1"}
						{assign var=key89 value=edata89`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[89].item_name}{if $formItem[89].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[89].item_type == "0" || $formItem[89].item_type == "1"}
									{$arrForm[$key89]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[89].item_type == "2" || $formItem[89].item_type == "4"}
									{foreach from=$formItem[89].select key=s_key item=item name=select}
										{if $arrForm[$key89] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[89].select key=s_key item=item name=select}

										{assign var=chk89 value=$key89`$s_key`}

										{if $arrForm[$chk89] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}

					<!-- etc12-->
					{if $formItem[90].disp != "1"}
						{assign var=key90 value=edata90`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[90].item_name}{if $formItem[90].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[90].item_type == "0" || $formItem[90].item_type == "1"}
									{$arrForm[$key90]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[90].item_type == "2" || $formItem[90].item_type == "4"}
									{foreach from=$formItem[90].select key=s_key item=item name=select}
										{if $arrForm[$key90] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[90].select key=s_key item=item name=select}

										{assign var=chk90 value=$key90`$s_key`}

										{if $arrForm[$chk90] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc13-->
					{if $formItem[91].disp != "1"}
						{assign var=key91 value=edata91`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[91].item_name}{if $formItem[91].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[91].item_type == "0" || $formItem[91].item_type == "1"}
									{$arrForm[$key91]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[91].item_type == "2" || $formItem[91].item_type == "4"}
									{foreach from=$formItem[91].select key=s_key item=item name=select}
										{if $arrForm[$key91] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[91].select key=s_key item=item name=select}

										{assign var=chk91 value=$key91`$s_key`}

										{if $arrForm[$chk91] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc14-->
					{if $formItem[92].disp != "1"}
						{assign var=key92 value=edata92`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[92].item_name}{if $formItem[92].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[92].item_type == "0" || $formItem[92].item_type == "1"}
									{$arrForm[$key92]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[92].item_type == "2" || $formItem[92].item_type == "4"}
									{foreach from=$formItem[92].select key=s_key item=item name=select}
										{if $arrForm[$key92] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[92].select key=s_key item=item name=select}

										{assign var=chk92 value=$key92`$s_key`}

										{if $arrForm[$chk92] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc15-->
					{if $formItem[93].disp != "1"}
						{assign var=key93 value=edata93`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[93].item_name}{if $formItem[93].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[93].item_type == "0" || $formItem[93].item_type == "1"}
									{$arrForm[$key93]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[93].item_type == "2" || $formItem[93].item_type == "4"}
									{foreach from=$formItem[93].select key=s_key item=item name=select}
										{if $arrForm[$key93] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[93].select key=s_key item=item name=select}

										{assign var=chk93 value=$key93`$s_key`}

										{if $arrForm[$chk93] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc16-->
					{if $formItem[94].disp != "1"}
						{assign var=key94 value=edata94`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[94].item_name}{if $formItem[94].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[94].item_type == "0" || $formItem[94].item_type == "1"}
									{$arrForm[$key94]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[94].item_type == "2" || $formItem[94].item_type == "4"}
									{foreach from=$formItem[94].select key=s_key item=item name=select}
										{if $arrForm[$key94] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[94].select key=s_key item=item name=select}

										{assign var=chk94 value=$key94`$s_key`}

										{if $arrForm[$chk94] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc17-->
					{if $formItem[95].disp != "1"}
						{assign var=key95 value=edata95`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[95].item_name}{if $formItem[95].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[95].item_type == "0" || $formItem[95].item_type == "1"}
									{$arrForm[$key95]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[95].item_type == "2" || $formItem[95].item_type == "4"}
									{foreach from=$formItem[95].select key=s_key item=item name=select}
										{if $arrForm[$key95] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[95].select key=s_key item=item name=select}

										{assign var=chk95 value=$key95`$s_key`}

										{if $arrForm[$chk95] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc18-->
					{if $formItem[96].disp != "1"}
						{assign var=key96 value=edata96`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[96].item_name}{if $formItem[96].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[96].item_type == "0" || $formItem[96].item_type == "1"}
									{$arrForm[$key96]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[96].item_type == "2" || $formItem[96].item_type == "4"}
									{foreach from=$formItem[96].select key=s_key item=item name=select}
										{if $arrForm[$key96] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[96].select key=s_key item=item name=select}

										{assign var=chk96 value=$key96`$s_key`}

										{if $arrForm[$chk96] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc19-->
					{if $formItem[97].disp != "1"}
						{assign var=key97 value=edata97`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[97].item_name}{if $formItem[97].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[97].item_type == "0" || $formItem[97].item_type == "1"}
									{$arrForm[$key97]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[97].item_type == "2" || $formItem[97].item_type == "4"}
									{foreach from=$formItem[97].select key=s_key item=item name=select}
										{if $arrForm[$key97] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[97].select key=s_key item=item name=select}

										{assign var=chk97 value=$key97`$s_key`}

										{if $arrForm[$chk97] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}
					<!-- etc20-->
					{if $formItem[98].disp != "1"}
						{assign var=key98 value=edata98`$smarty.section.counter.index`}
						<tr>
							<td class="iname">
								{$formItem[98].item_name}{if $formItem[98].need == "1"}<span class="red">&nbsp;*</span>{/if}

							</td>
							<td>
								{*テキスト、テキストエリア*}
								{if $formItem[98].item_type == "0" || $formItem[98].item_type == "1"}
									{$arrForm[$key98]|escape|nl2br}
								{*ラジオ、セレクト*}
								{elseif $formItem[98].item_type == "2" || $formItem[98].item_type == "4"}
									{foreach from=$formItem[98].select key=s_key item=item name=select}
										{if $arrForm[$key98] == $s_key}{$item}{/if}

									{/foreach}
								{else}
									{foreach from=$formItem[98].select key=s_key item=item name=select}

										{assign var=chk98 value=$key98`$s_key`}

										{if $arrForm[$chk98] == $s_key}{$item}<br />{/if}

									{/foreach}
								{/if}

							</td>
						</tr>
					{/if}

					</table>
					<br />
				{/section}