				<table class="rtbl">

				<!-- title english -->
				{if $formItem[47].disp != "1"}
					<tr>
						<td class="iname">
							{$formItem[47].item_name}{if $formItem[47].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[47].item_memo != ""}{$formItem[47].item_memo}<br />{/if}
							<input type="text" name="edata47" value="{$arrForm.edata47|escape}" size="100" />

						</td>
					</tr>
				{/if}


				<!-- format -->
				{if $formItem[48].disp != "1"}
					<tr>
						<td class="iname">
							{$formItem[48].item_name}{if $formItem[48].need == "1"}<span class="red">&nbsp;*</span>{/if}

						</td>
						<td>
							{if $formItem[48].item_memo != ""}{$formItem[48].item_memo}<br />{/if}

								<select name="edata48">
									<option vlaue=""></option>
										{foreach from=$formItem[48].select key=s_key item=item name=select}
											<option value="{$s_key}" {if $arrForm.edata48 == $s_key}selected{/if}>{$item}</option>
										{/foreach}
								</select>

						</td>
					</tr>
				{/if}


				<!--抄録本文-->

				<!-- summary english -->
				{if $formItem[50].disp != "1"}
					<tr>
						<td class="iname">
							{$formItem[50].item_name}{if $formItem[50].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[50].item_memo != ""}{$formItem[50].item_memo}<br />{/if}

							<textarea name="edata50" rows="10" cols="85">{$arrForm.edata50|escape}</textarea>

						</td>
					</tr>
				{/if}

				<!-- file1-->
				{if $formItem[51].disp != "1"}
					<tr>
						<td class="iname">
							{$formItem[51].item_name}{if $formItem[51].need == "1"}<span class="red">&nbsp;*</span>{/if}

						</td>
						<td>
							{if $formItem[51].item_memo != ""}{$formItem[51].item_memo}<br />{/if}

							<input type="file" name="edata51" size="40" value="" />
							<input type="hidden" name="n_data51" value="{$arrForm.n_data51}" />
							<input type="hidden" name="hd_file51" value="{$arrForm.hd_file51}" />
							
							
							{if $arrForm.hd_file51 != "" || $arrForm.n_data51 != ""}
								<br />
								{if $arrForm.hd_file51 != ""}
									<a href="javascript:f_down('51','2');">{$arrForm.hd_file51}</a>
								{elseif $arrForm.n_data51 != ""}
									<a href="javascript:f_down('51','1');">{$arrForm.n_data51}</a>
								{/if}

								{if $formItem[51].need != "1"}
								&nbsp;<input type="checkbox" name="file_del51" value="1"{if $arrForm.file_del51 == "1"} checked{/if} />削除
								{/if}
							{/if}

						</td>
					</tr>
				{/if}



				<!-- file2 -->
				{if $formItem[52].disp != "1"}
					<tr>
						<td class="iname">
							{$formItem[52].item_name}{if $formItem[52].need == "1"}<span class="red">&nbsp;*</span>{/if}

						</td>
						<td>

							{if $formItem[52].item_memo != ""}{$formItem[52].item_memo}<br />{/if}

							<input type="file" name="edata52" size="40" value="" />
							<input type="hidden" name="n_data52" value="{$arrForm.n_data52}" />
							<input type="hidden" name="hd_file52" value="{$arrForm.hd_file52}" />

							{if $arrForm.hd_file52 != "" || $arrForm.n_data52 != ""}
								<br />
								{if $arrForm.hd_file52 != ""}
									<a href="javascript:f_down('52','2');">{$arrForm.hd_file52}</a>
								{elseif $arrForm.n_data52 != ""}
									<a href="javascript:f_down('52','1');">{$arrForm.n_data52}</a>
								{/if}

								{if $formItem[52].need != "1"}
								&nbsp;<input type="checkbox" name="file_del52" value="1"{if $arrForm.file_del52 == "1"} checked{/if} />削除
								{/if}
							{/if}

						</td>
					</tr>
				{/if}


				<!-- file3-->
				{if $formItem[53].disp != "1"}
					<tr>
						<td class="iname">
							{$formItem[53].item_name}{if $formItem[53].need == "1"}<span class="red">&nbsp;*</span>{/if}
						</td>
						<td>
							{if $formItem[53].item_memo != ""}{$formItem[53].item_memo}<br />{/if}


							<input type="file" name="edata53" size="40" value="" />
							<input type="hidden" name="n_data53" value="{$arrForm.n_data53}" />
							<input type="hidden" name="hd_file53" value="{$arrForm.hd_file53}" />


							{if $arrForm.hd_file53 != "" || $arrForm.n_data53 != ""}
								<br />
								{if $arrForm.hd_file53 != ""}
									<a href="javascript:f_down('53','2');">{$arrForm.hd_file53}</a>
								{elseif $arrForm.n_data53 != ""}
									<a href="javascript:f_down('53','1');">{$arrForm.n_data53}</a>
								{/if}

								{if $formItem[53].need != "1"}
								&nbsp;<input type="checkbox" name="file_del53" value="1"{if $arrForm.file_del53 == "1"} checked{/if} />削除
								{/if}
							{/if}

						</td>
					</tr>
				{/if}
				</table>

				<div class="bname">Questionnaire</div>
				<table class="rtbl">
				<!-- etc1 -->
				{if $formItem[54].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[54].item_name}{if $formItem[54].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[54].item_name}{if $formItem[54].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[54].item_memo != ""}{$formItem[54].item_memo}<br />{/if}


							{*テキスト*}
							{if $formItem[54].item_type == "0"}
								<input type="text" name="edata54" value="{$arrForm.edata54|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[54].item_type == "1"}
								<textarea rows="5" name="edata54" cols="85">{$arrForm.edata54}</textarea>

							{*ラジオ*}
							{elseif $formItem[54].item_type == "2"}
								{foreach from=$formItem[54].select key=s_key item=item name=select}
									<input type="radio" name="edata54" value="{$s_key}" {if $arrForm.edata54 == $s_key}checked{/if} {if $formItem[54].disable[$s_key] == "1" && $arrForm.edata54 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[54].item_type == "3"}

								{foreach from=$formItem[54].select key=s_key item=item name=select}
									{assign var=key54 value=edata54`$s_key`}
									<input type="checkbox" name="edata54{$s_key}" value="{$s_key}" {if $arrForm[$key54] == $s_key}checked{/if} {if $formItem[54].disable[$s_key] == "1" && $arrForm[$key54] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[54].item_type == "4"}
								<select name="edata54">
									<option vlaue=""></option>
									{foreach from=$formItem[54].select key=s_key item=item name=select}
										{if !($formItem[54].disable[$s_key] == "1" && $arrForm.edata54 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata54 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}

						</td>
					</tr>
				{/if}

				<!-- etc2 -->
				{if $formItem[55].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[55].item_name}{if $formItem[55].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[55].item_name}{if $formItem[55].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[55].item_memo != ""}{$formItem[55].item_memo}<br />{/if}


							{*テキスト*}
							{if $formItem[55].item_type == "0"}
								<input type="text" name="edata55" value="{$arrForm.edata55|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[55].item_type == "1"}
								<textarea rows="5" name="edata55" cols="85">{$arrForm.edata55}</textarea>

							{*ラジオ*}
							{elseif $formItem[55].item_type == "2"}
								{foreach from=$formItem[55].select key=s_key item=item name=select}
									<input type="radio" name="edata55" value="{$s_key}" {if $arrForm.edata55 == $s_key}checked{/if} {if $formItem[55].disable[$s_key] == "1" && $arrForm.edata55 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[55].item_type == "3"}

								{foreach from=$formItem[55].select key=s_key item=item name=select}
									{assign var=key55 value=edata55`$s_key`}
									<input type="checkbox" name="edata55{$s_key}" value="{$s_key}" {if $arrForm[$key55] == $s_key}checked{/if} {if $formItem[55].disable[$s_key] == "1" && $arrForm[$key55] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[55].item_type == "4"}
								<select name="edata55">
									<option vlaue=""></option>
									{foreach from=$formItem[55].select key=s_key item=item name=select}
										{if !($formItem[55].disable[$s_key] == "1" && $arrForm.edata55 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata55 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}

						</td>
					</tr>
				{/if}

				<!-- etc3 -->
				{if $formItem[56].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[56].item_name}{if $formItem[56].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[56].item_name}{if $formItem[56].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[56].item_memo != ""}{$formItem[56].item_memo}<br />{/if}
							{*テキスト*}
							{if $formItem[56].item_type == "0"}
								<input type="text" name="edata56" value="{$arrForm.edata56|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[56].item_type == "1"}
								<textarea rows="5" name="edata56" cols="85">{$arrForm.edata56}</textarea>

							{*ラジオ*}
							{elseif $formItem[56].item_type == "2"}
								{foreach from=$formItem[56].select key=s_key item=item name=select}
									<input type="radio" name="edata56" value="{$s_key}" {if $arrForm.edata56 == $s_key}checked{/if} {if $formItem[56].disable[$s_key] == "1" && $arrForm.edata56 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[56].item_type == "3"}

								{foreach from=$formItem[56].select key=s_key item=item name=select}
									{assign var=key56 value=edata56`$s_key`}
									<input type="checkbox" name="edata56{$s_key}" value="{$s_key}" {if $arrForm[$key56] == $s_key}checked{/if} {if $formItem[56].disable[$s_key] == "1" && $arrForm[$key56] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[56].item_type == "4"}
								<select name="edata56">
									<option vlaue=""></option>
									{foreach from=$formItem[56].select key=s_key item=item name=select}
										{if !($formItem[56].disable[$s_key] == "1" && $arrForm.edata56 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata56 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}



				<!-- etc4 -->
				{if $formItem[67].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[67].item_name}{if $formItem[67].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[67].item_name}{if $formItem[67].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[67].item_memo != ""}{$formItem[67].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[67].item_type == "0"}
								<input type="text" name="edata67" value="{$arrForm.edata67|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[67].item_type == "1"}
								<textarea rows="5" name="edata67" cols="85">{$arrForm.edata67}</textarea>

							{*ラジオ*}
							{elseif $formItem[67].item_type == "2"}
								{foreach from=$formItem[67].select key=s_key item=item name=select}
									<input type="radio" name="edata67" value="{$s_key}" {if $arrForm.edata67 == $s_key}checked{/if} {if $formItem[67].disable[$s_key] == "1" && $arrForm.edata67 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[67].item_type == "3"}

								{foreach from=$formItem[67].select key=s_key item=item name=select}
									{assign var=key67 value=edata67`$s_key`}
									<input type="checkbox" name="edata67{$s_key}" value="{$s_key}" {if $arrForm[$key67] == $s_key}checked{/if} {if $formItem[67].disable[$s_key] == "1" && $arrForm[$key67] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[67].item_type == "4"}
								<select name="edata67">
									<option vlaue=""></option>
									{foreach from=$formItem[67].select key=s_key item=item name=select}
										{if !($formItem[67].disable[$s_key] == "1" && $arrForm.edata67 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata67 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}

						</td>
					</tr>
				{/if}


				<!-- etc5 -->
				{if $formItem[68].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[68].item_name}{if $formItem[68].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[68].item_name}{if $formItem[68].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[68].item_memo != ""}{$formItem[68].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[68].item_type == "0"}
								<input type="text" name="edata68" value="{$arrForm.edata68|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[68].item_type == "1"}
								<textarea rows="5" name="edata68" cols="85">{$arrForm.edata68}</textarea>

							{*ラジオ*}
							{elseif $formItem[68].item_type == "2"}
								{foreach from=$formItem[68].select key=s_key item=item name=select}
									<input type="radio" name="edata68" value="{$s_key}" {if $arrForm.edata68 == $s_key}checked{/if} {if $formItem[68].disable[$s_key] == "1" && $arrForm.edata68 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[68].item_type == "3"}

								{foreach from=$formItem[68].select key=s_key item=item name=select}
									{assign var=key68 value=edata68`$s_key`}
									<input type="checkbox" name="edata68{$s_key}" value="{$s_key}" {if $arrForm[$key68] == $s_key}checked{/if} {if $formItem[68].disable[$s_key] == "1" && $arrForm[$key68] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[68].item_type == "4"}
								<select name="edata68">
									<option vlaue=""></option>
									{foreach from=$formItem[68].select key=s_key item=item name=select}
										{if !($formItem[68].disable[$s_key] == "1" && $arrForm.edata68 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata68 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc6 -->
				{if $formItem[99].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[99].item_name}{if $formItem[99].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[99].item_name}{if $formItem[99].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[99].item_memo != ""}{$formItem[99].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[99].item_type == "0"}
								<input type="text" name="edata99" value="{$arrForm.edata99|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[99].item_type == "1"}
								<textarea rows="5" name="edata99" cols="85">{$arrForm.edata99}</textarea>

							{*ラジオ*}
							{elseif $formItem[99].item_type == "2"}
								{foreach from=$formItem[99].select key=s_key item=item name=select}
									<input type="radio" name="edata99" value="{$s_key}" {if $arrForm.edata99 == $s_key}checked{/if} {if $formItem[99].disable[$s_key] == "1" && $arrForm.edata99 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[99].item_type == "3"}

								{foreach from=$formItem[99].select key=s_key item=item name=select}
									{assign var=key99 value=edata99`$s_key`}
									<input type="checkbox" name="edata99{$s_key}" value="{$s_key}" {if $arrForm[$key99] == $s_key}checked{/if} {if $formItem[99].disable[$s_key] == "1" && $arrForm[$key99] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[99].item_type == "4"}
								<select name="edata99">
									<option vlaue=""></option>
									{foreach from=$formItem[99].select key=s_key item=item name=select}
										{if !($formItem[99].disable[$s_key] == "1" && $arrForm.edata99 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata99 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc7-->
				{if $formItem[100].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[100].item_name}{if $formItem[100].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[100].item_name}{if $formItem[100].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[100].item_memo != ""}{$formItem[100].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[100].item_type == "0"}
								<input type="text" name="edata100" value="{$arrForm.edata100|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[100].item_type == "1"}
								<textarea rows="5" name="edata100" cols="85">{$arrForm.edata100}</textarea>

							{*ラジオ*}
							{elseif $formItem[100].item_type == "2"}
								{foreach from=$formItem[100].select key=s_key item=item name=select}
									<input type="radio" name="edata100" value="{$s_key}" {if $arrForm.edata100 == $s_key}checked{/if} {if $formItem[100].disable[$s_key] == "1" && $arrForm.edata100 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[100].item_type == "3"}

								{foreach from=$formItem[100].select key=s_key item=item name=select}
									{assign var=key100 value=edata100`$s_key`}
									<input type="checkbox" name="edata100{$s_key}" value="{$s_key}" {if $arrForm[$key100] == $s_key}checked{/if} {if $formItem[100].disable[$s_key] == "1" && $arrForm[$key100] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[100].item_type == "4"}
								<select name="edata100">
									<option vlaue=""></option>
									{foreach from=$formItem[100].select key=s_key item=item name=select}
										{if !($formItem[100].disable[$s_key] == "1" && $arrForm.edata100 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata100 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc8-->
				{if $formItem[101].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[101].item_name}{if $formItem[101].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[101].item_name}{if $formItem[101].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[101].item_memo != ""}{$formItem[101].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[101].item_type == "0"}
								<input type="text" name="edata101" value="{$arrForm.edata101|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[101].item_type == "1"}
								<textarea rows="5" name="edata101" cols="85">{$arrForm.edata101}</textarea>

							{*ラジオ*}
							{elseif $formItem[101].item_type == "2"}
								{foreach from=$formItem[101].select key=s_key item=item name=select}
									<input type="radio" name="edata101" value="{$s_key}" {if $arrForm.edata101 == $s_key}checked{/if} {if $formItem[101].disable[$s_key] == "1" && $arrForm.edata101 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[101].item_type == "3"}

								{foreach from=$formItem[101].select key=s_key item=item name=select}
									{assign var=key101 value=edata101`$s_key`}
									<input type="checkbox" name="edata101{$s_key}" value="{$s_key}" {if $arrForm[$key101] == $s_key}checked{/if} {if $formItem[101].disable[$s_key] == "1" && $arrForm[$key101] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[101].item_type == "4"}
								<select name="edata101">
									<option vlaue=""></option>
									{foreach from=$formItem[101].select key=s_key item=item name=select}
										{if !($formItem[101].disable[$s_key] == "1" && $arrForm.edata101 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata101 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc9 -->
				{if $formItem[102].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[102].item_name}{if $formItem[102].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[102].item_name}{if $formItem[102].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[102].item_memo != ""}{$formItem[102].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[102].item_type == "0"}
								<input type="text" name="edata102" value="{$arrForm.edata102|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[102].item_type == "1"}
								<textarea rows="5" name="edata102" cols="85">{$arrForm.edata102}</textarea>

							{*ラジオ*}
							{elseif $formItem[102].item_type == "2"}
								{foreach from=$formItem[102].select key=s_key item=item name=select}
									<input type="radio" name="edata102" value="{$s_key}" {if $arrForm.edata102 == $s_key}checked{/if} {if $formItem[102].disable[$s_key] == "1" && $arrForm.edata102 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[102].item_type == "3"}

								{foreach from=$formItem[102].select key=s_key item=item name=select}
									{assign var=key102 value=edata102`$s_key`}
									<input type="checkbox" name="edata102{$s_key}" value="{$s_key}" {if $arrForm[$key102] == $s_key}checked{/if} {if $formItem[102].disable[$s_key] == "1" && $arrForm[$key102] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[102].item_type == "4"}
								<select name="edata102">
									<option vlaue=""></option>
									{foreach from=$formItem[102].select key=s_key item=item name=select}
										{if !($formItem[102].disable[$s_key] == "1" && $arrForm.edata102 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata102 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc10 -->
				{if $formItem[103].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[103].item_name}{if $formItem[103].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[103].item_name}{if $formItem[103].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[103].item_memo != ""}{$formItem[103].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[103].item_type == "0"}
								<input type="text" name="edata103" value="{$arrForm.edata103|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[103].item_type == "1"}
								<textarea rows="5" name="edata103" cols="85">{$arrForm.edata103}</textarea>

							{*ラジオ*}
							{elseif $formItem[103].item_type == "2"}
								{foreach from=$formItem[103].select key=s_key item=item name=select}
									<input type="radio" name="edata103" value="{$s_key}" {if $arrForm.edata103 == $s_key}checked{/if} {if $formItem[103].disable[$s_key] == "1" && $arrForm.edata103 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[103].item_type == "3"}

								{foreach from=$formItem[103].select key=s_key item=item name=select}
									{assign var=key103 value=edata103`$s_key`}
									<input type="checkbox" name="edata103{$s_key}" value="{$s_key}" {if $arrForm[$key103] == $s_key}checked{/if} {if $formItem[103].disable[$s_key] == "1" && $arrForm[$key103] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[103].item_type == "4"}
								<select name="edata103">
									<option vlaue=""></option>
									{foreach from=$formItem[103].select key=s_key item=item name=select}
										{if !($formItem[103].disable[$s_key] == "1" && $arrForm.edata103 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata103 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc11-->
				{if $formItem[104].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[104].item_name}{if $formItem[104].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[104].item_name}{if $formItem[104].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[104].item_memo != ""}{$formItem[104].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[104].item_type == "0"}
								<input type="text" name="edata104" value="{$arrForm.edata104|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[104].item_type == "1"}
								<textarea rows="5" name="edata104" cols="85">{$arrForm.edata104}</textarea>

							{*ラジオ*}
							{elseif $formItem[104].item_type == "2"}
								{foreach from=$formItem[104].select key=s_key item=item name=select}
									<input type="radio" name="edata104" value="{$s_key}" {if $arrForm.edata104 == $s_key}checked{/if} {if $formItem[104].disable[$s_key] == "1" && $arrForm.edata104 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[104].item_type == "3"}

								{foreach from=$formItem[104].select key=s_key item=item name=select}
									{assign var=key104 value=edata104`$s_key`}
									<input type="checkbox" name="edata104{$s_key}" value="{$s_key}" {if $arrForm[$key104] == $s_key}checked{/if} {if $formItem[104].disable[$s_key] == "1" && $arrForm[$key104] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[104].item_type == "4"}
								<select name="edata104">
									<option vlaue=""></option>
									{foreach from=$formItem[104].select key=s_key item=item name=select}
										{if !($formItem[104].disable[$s_key] == "1" && $arrForm.edata104 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata104 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc12-->
				{if $formItem[105].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[105].item_name}{if $formItem[105].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[105].item_name}{if $formItem[105].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[105].item_memo != ""}{$formItem[105].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[105].item_type == "0"}
								<input type="text" name="edata105" value="{$arrForm.edata105|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[105].item_type == "1"}
								<textarea rows="5" name="edata105" cols="85">{$arrForm.edata105}</textarea>

							{*ラジオ*}
							{elseif $formItem[105].item_type == "2"}
								{foreach from=$formItem[105].select key=s_key item=item name=select}
									<input type="radio" name="edata105" value="{$s_key}" {if $arrForm.edata105 == $s_key}checked{/if} {if $formItem[105].disable[$s_key] == "1" && $arrForm.edata105 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[105].item_type == "3"}

								{foreach from=$formItem[105].select key=s_key item=item name=select}
									{assign var=key105 value=edata105`$s_key`}
									<input type="checkbox" name="edata105{$s_key}" value="{$s_key}" {if $arrForm[$key105] == $s_key}checked{/if} {if $formItem[105].disable[$s_key] == "1" && $arrForm[$key105] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[105].item_type == "4"}
								<select name="edata105">
									<option vlaue=""></option>
									{foreach from=$formItem[105].select key=s_key item=item name=select}
										{if !($formItem[105].disable[$s_key] == "1" && $arrForm.edata105 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata105 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc13 -->
				{if $formItem[106].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[106].item_name}{if $formItem[106].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[106].item_name}{if $formItem[106].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[106].item_memo != ""}{$formItem[106].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[106].item_type == "0"}
								<input type="text" name="edata106" value="{$arrForm.edata106|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[106].item_type == "1"}
								<textarea rows="5" name="edata106" cols="85">{$arrForm.edata106}</textarea>

							{*ラジオ*}
							{elseif $formItem[106].item_type == "2"}
								{foreach from=$formItem[106].select key=s_key item=item name=select}
									<input type="radio" name="edata106" value="{$s_key}" {if $arrForm.edata106 == $s_key}checked{/if} {if $formItem[106].disable[$s_key] == "1" && $arrForm.edata106 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[106].item_type == "3"}

								{foreach from=$formItem[106].select key=s_key item=item name=select}
									{assign var=key106 value=edata106`$s_key`}
									<input type="checkbox" name="edata106{$s_key}" value="{$s_key}" {if $arrForm[$key106] == $s_key}checked{/if} {if $formItem[106].disable[$s_key] == "1" && $arrForm[$key106] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[106].item_type == "4"}
								<select name="edata106">
									<option vlaue=""></option>
									{foreach from=$formItem[106].select key=s_key item=item name=select}
										{if !($formItem[106].disable[$s_key] == "1" && $arrForm.edata106 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata106 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc14 -->
				{if $formItem[107].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[107].item_name}{if $formItem[107].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[107].item_name}{if $formItem[107].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[107].item_memo != ""}{$formItem[107].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[107].item_type == "0"}
								<input type="text" name="edata107" value="{$arrForm.edata107|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[107].item_type == "1"}
								<textarea rows="5" name="edata107" cols="85">{$arrForm.edata107}</textarea>

							{*ラジオ*}
							{elseif $formItem[107].item_type == "2"}
								{foreach from=$formItem[107].select key=s_key item=item name=select}
									<input type="radio" name="edata107" value="{$s_key}" {if $arrForm.edata107 == $s_key}checked{/if} {if $formItem[107].disable[$s_key] == "1" && $arrForm.edata107 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[107].item_type == "3"}

								{foreach from=$formItem[107].select key=s_key item=item name=select}
									{assign var=key107 value=edata107`$s_key`}
									<input type="checkbox" name="edata107{$s_key}" value="{$s_key}" {if $arrForm[$key107] == $s_key}checked{/if} {if $formItem[107].disable[$s_key] == "1" && $arrForm[$key107] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[107].item_type == "4"}
								<select name="edata107">
									<option vlaue=""></option>
									{foreach from=$formItem[107].select key=s_key item=item name=select}
										{if !($formItem[107].disable[$s_key] == "1" && $arrForm.edata107 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata107 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc15-->
				{if $formItem[108].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[108].item_name}{if $formItem[108].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[108].item_name}{if $formItem[108].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[108].item_memo != ""}{$formItem[108].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[108].item_type == "0"}
								<input type="text" name="edata108" value="{$arrForm.edata108|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[108].item_type == "1"}
								<textarea rows="5" name="edata108" cols="85">{$arrForm.edata108}</textarea>

							{*ラジオ*}
							{elseif $formItem[108].item_type == "2"}
								{foreach from=$formItem[108].select key=s_key item=item name=select}
									<input type="radio" name="edata108" value="{$s_key}" {if $arrForm.edata108 == $s_key}checked{/if} {if $formItem[108].disable[$s_key] == "1" && $arrForm.edata108 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[108].item_type == "3"}

								{foreach from=$formItem[108].select key=s_key item=item name=select}
									{assign var=key108 value=edata108`$s_key`}
									<input type="checkbox" name="edata108{$s_key}" value="{$s_key}" {if $arrForm[$key108] == $s_key}checked{/if} {if $formItem[108].disable[$s_key] == "1" && $arrForm[$key108] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[108].item_type == "4"}
								<select name="edata108">
									<option vlaue=""></option>
									{foreach from=$formItem[108].select key=s_key item=item name=select}
										{if !($formItem[108].disable[$s_key] == "1" && $arrForm.edata108 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata108 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}
				<!-- etc16-->
				{if $formItem[109].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[109].item_name}{if $formItem[109].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[109].item_name}{if $formItem[109].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[109].item_memo != ""}{$formItem[109].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[109].item_type == "0"}
								<input type="text" name="edata109" value="{$arrForm.edata109|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[109].item_type == "1"}
								<textarea rows="5" name="edata109" cols="85">{$arrForm.edata109}</textarea>

							{*ラジオ*}
							{elseif $formItem[109].item_type == "2"}
								{foreach from=$formItem[109].select key=s_key item=item name=select}
									<input type="radio" name="edata109" value="{$s_key}" {if $arrForm.edata109 == $s_key}checked{/if} {if $formItem[109].disable[$s_key] == "1" && $arrForm.edata109 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[109].item_type == "3"}

								{foreach from=$formItem[109].select key=s_key item=item name=select}
									{assign var=key109 value=edata109`$s_key`}
									<input type="checkbox" name="edata109{$s_key}" value="{$s_key}" {if $arrForm[$key109] == $s_key}checked{/if} {if $formItem[109].disable[$s_key] == "1" && $arrForm[$key109] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[109].item_type == "4"}
								<select name="edata109">
									<option vlaue=""></option>
									{foreach from=$formItem[109].select key=s_key item=item name=select}
										{if !($formItem[109].disable[$s_key] == "1" && $arrForm.edata109 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata109 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc17-->
				{if $formItem[110].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[110].item_name}{if $formItem[110].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[110].item_name}{if $formItem[110].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[110].item_memo != ""}{$formItem[110].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[110].item_type == "0"}
								<input type="text" name="edata110" value="{$arrForm.edata110|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[110].item_type == "1"}
								<textarea rows="5" name="edata110" cols="85">{$arrForm.edata110}</textarea>

							{*ラジオ*}
							{elseif $formItem[110].item_type == "2"}
								{foreach from=$formItem[110].select key=s_key item=item name=select}
									<input type="radio" name="edata110" value="{$s_key}" {if $arrForm.edata110 == $s_key}checked{/if} {if $formItem[110].disable[$s_key] == "1" && $arrForm.edata110 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[110].item_type == "3"}

								{foreach from=$formItem[110].select key=s_key item=item name=select}
									{assign var=key110 value=edata110`$s_key`}
									<input type="checkbox" name="edata110{$s_key}" value="{$s_key}" {if $arrForm[$key110] == $s_key}checked{/if} {if $formItem[110].disable[$s_key] == "1" && $arrForm[$key110] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[110].item_type == "4"}
								<select name="edata110">
									<option vlaue=""></option>
									{foreach from=$formItem[110].select key=s_key item=item name=select}
										{if !($formItem[110].disable[$s_key] == "1" && $arrForm.edata110 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata110 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc18 -->
				{if $formItem[111].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[111].item_name}{if $formItem[111].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[111].item_name}{if $formItem[111].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[111].item_memo != ""}{$formItem[111].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[111].item_type == "0"}
								<input type="text" name="edata111" value="{$arrForm.edata111|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[111].item_type == "1"}
								<textarea rows="5" name="edata111" cols="85">{$arrForm.edata111}</textarea>

							{*ラジオ*}
							{elseif $formItem[111].item_type == "2"}
								{foreach from=$formItem[111].select key=s_key item=item name=select}
									<input type="radio" name="edata111" value="{$s_key}" {if $arrForm.edata111 == $s_key}checked{/if} {if $formItem[111].disable[$s_key] == "1" && $arrForm.edata111 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[111].item_type == "3"}

								{foreach from=$formItem[111].select key=s_key item=item name=select}
									{assign var=key111 value=edata111`$s_key`}
									<input type="checkbox" name="edata111{$s_key}" value="{$s_key}" {if $arrForm[$key111] == $s_key}checked{/if} {if $formItem[111].disable[$s_key] == "1" && $arrForm[$key111] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[111].item_type == "4"}
								<select name="edata111">
									<option vlaue=""></option>
									{foreach from=$formItem[111].select key=s_key item=item name=select}
										{if !($formItem[111].disable[$s_key] == "1" && $arrForm.edata111 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata111 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}



				<!-- etc19 -->
				{if $formItem[112].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[112].item_name}{if $formItem[112].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[112].item_name}{if $formItem[112].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[112].item_memo != ""}{$formItem[112].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[112].item_type == "0"}
								<input type="text" name="edata112" value="{$arrForm.edata112|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[112].item_type == "1"}
								<textarea rows="5" name="edata112" cols="85">{$arrForm.edata112}</textarea>

							{*ラジオ*}
							{elseif $formItem[112].item_type == "2"}
								{foreach from=$formItem[112].select key=s_key item=item name=select}
									<input type="radio" name="edata112" value="{$s_key}" {if $arrForm.edata112 == $s_key}checked{/if} {if $formItem[112].disable[$s_key] == "1" && $arrForm.edata112 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[112].item_type == "3"}

								{foreach from=$formItem[112].select key=s_key item=item name=select}
									{assign var=key112 value=edata112`$s_key`}
									<input type="checkbox" name="edata112{$s_key}" value="{$s_key}" {if $arrForm[$key112] == $s_key}checked{/if} {if $formItem[112].disable[$s_key] == "1" && $arrForm[$key112] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[112].item_type == "4"}
								<select name="edata112">
									<option vlaue=""></option>
									{foreach from=$formItem[112].select key=s_key item=item name=select}
										{if !($formItem[112].disable[$s_key] == "1" && $arrForm.edata112 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata112 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}

				<!-- etc20 -->
				{if $formItem[113].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[113].item_name}{if $formItem[113].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[113].item_name}{if $formItem[113].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[113].item_memo != ""}{$formItem[113].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[113].item_type == "0"}
								<input type="text" name="edata113" value="{$arrForm.edata113|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[113].item_type == "1"}
								<textarea rows="5" name="edata113" cols="85">{$arrForm.edata113}</textarea>

							{*ラジオ*}
							{elseif $formItem[113].item_type == "2"}
								{foreach from=$formItem[113].select key=s_key item=item name=select}
									<input type="radio" name="edata113" value="{$s_key}" {if $arrForm.edata113 == $s_key}checked{/if} {if $formItem[113].disable[$s_key] == "1" && $arrForm.edata113 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[113].item_type == "3"}

								{foreach from=$formItem[113].select key=s_key item=item name=select}
									{assign var=key113 value=edata113`$s_key`}
									<input type="checkbox" name="edata113{$s_key}" value="{$s_key}" {if $arrForm[$key113] == $s_key}checked{/if} {if $formItem[113].disable[$s_key] == "1" && $arrForm[$key113] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[113].item_type == "4"}
								<select name="edata113">
									<option vlaue=""></option>
									{foreach from=$formItem[113].select key=s_key item=item name=select}
										{if !($formItem[113].disable[$s_key] == "1" && $arrForm.edata113 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata113 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc21 -->
				{if $formItem[145].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[145].item_name}{if $formItem[145].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[145].item_name}{if $formItem[145].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[145].item_memo != ""}{$formItem[145].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[145].item_type == "0"}
								<input type="text" name="edata145" value="{$arrForm.edata145|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[145].item_type == "1"}
								<textarea rows="5" name="edata145" cols="85">{$arrForm.edata145}</textarea>

							{*ラジオ*}
							{elseif $formItem[145].item_type == "2"}
								{foreach from=$formItem[145].select key=s_key item=item name=select}
									<input type="radio" name="edata145" value="{$s_key}" {if $arrForm.edata145 == $s_key}checked{/if} {if $formItem[145].disable[$s_key] == "1" && $arrForm.edata145 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[145].item_type == "3"}

								{foreach from=$formItem[145].select key=s_key item=item name=select}
									{assign var=key145 value=edata145`$s_key`}
									<input type="checkbox" name="edata145{$s_key}" value="{$s_key}" {if $arrForm[$key145] == $s_key}checked{/if} {if $formItem[145].disable[$s_key] == "1" && $arrForm[$key145] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[145].item_type == "4"}
								<select name="edata145">
									<option vlaue=""></option>
									{foreach from=$formItem[145].select key=s_key item=item name=select}
										{if !($formItem[145].disable[$s_key] == "1" && $arrForm.edata145 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata145 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc22 -->
				{if $formItem[146].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[146].item_name}{if $formItem[146].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[146].item_name}{if $formItem[146].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[146].item_memo != ""}{$formItem[146].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[146].item_type == "0"}
								<input type="text" name="edata146" value="{$arrForm.edata146|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[146].item_type == "1"}
								<textarea rows="5" name="edata146" cols="85">{$arrForm.edata146}</textarea>

							{*ラジオ*}
							{elseif $formItem[146].item_type == "2"}
								{foreach from=$formItem[146].select key=s_key item=item name=select}
									<input type="radio" name="edata146" value="{$s_key}" {if $arrForm.edata146 == $s_key}checked{/if} {if $formItem[146].disable[$s_key] == "1" && $arrForm.edata146 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[146].item_type == "3"}

								{foreach from=$formItem[146].select key=s_key item=item name=select}
									{assign var=key146 value=edata146`$s_key`}
									<input type="checkbox" name="edata146{$s_key}" value="{$s_key}" {if $arrForm[$key146] == $s_key}checked{/if} {if $formItem[146].disable[$s_key] == "1" && $arrForm[$key146] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[146].item_type == "4"}
								<select name="edata146">
									<option vlaue=""></option>
									{foreach from=$formItem[146].select key=s_key item=item name=select}
										{if !($formItem[146].disable[$s_key] == "1" && $arrForm.edata146 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata146 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc23 -->
				{if $formItem[147].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[147].item_name}{if $formItem[147].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[147].item_name}{if $formItem[147].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[147].item_memo != ""}{$formItem[147].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[147].item_type == "0"}
								<input type="text" name="edata147" value="{$arrForm.edata147|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[147].item_type == "1"}
								<textarea rows="5" name="edata147" cols="85">{$arrForm.edata147}</textarea>

							{*ラジオ*}
							{elseif $formItem[147].item_type == "2"}
								{foreach from=$formItem[147].select key=s_key item=item name=select}
									<input type="radio" name="edata147" value="{$s_key}" {if $arrForm.edata147 == $s_key}checked{/if} {if $formItem[147].disable[$s_key] == "1" && $arrForm.edata147 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[147].item_type == "3"}

								{foreach from=$formItem[147].select key=s_key item=item name=select}
									{assign var=key147 value=edata147`$s_key`}
									<input type="checkbox" name="edata147{$s_key}" value="{$s_key}" {if $arrForm[$key147] == $s_key}checked{/if} {if $formItem[147].disable[$s_key] == "1" && $arrForm[$key147] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[147].item_type == "4"}
								<select name="edata147">
									<option vlaue=""></option>
									{foreach from=$formItem[147].select key=s_key item=item name=select}
										{if !($formItem[147].disable[$s_key] == "1" && $arrForm.edata147 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata147 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc24 -->
				{if $formItem[148].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[148].item_name}{if $formItem[148].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[148].item_name}{if $formItem[148].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[148].item_memo != ""}{$formItem[148].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[148].item_type == "0"}
								<input type="text" name="edata148" value="{$arrForm.edata148|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[148].item_type == "1"}
								<textarea rows="5" name="edata148" cols="85">{$arrForm.edata148}</textarea>

							{*ラジオ*}
							{elseif $formItem[148].item_type == "2"}
								{foreach from=$formItem[148].select key=s_key item=item name=select}
									<input type="radio" name="edata148" value="{$s_key}" {if $arrForm.edata148 == $s_key}checked{/if} {if $formItem[148].disable[$s_key] == "1" && $arrForm.edata148 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[148].item_type == "3"}

								{foreach from=$formItem[148].select key=s_key item=item name=select}
									{assign var=key148 value=edata148`$s_key`}
									<input type="checkbox" name="edata148{$s_key}" value="{$s_key}" {if $arrForm[$key148] == $s_key}checked{/if} {if $formItem[148].disable[$s_key] == "1" && $arrForm[$key148] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[148].item_type == "4"}
								<select name="edata148">
									<option vlaue=""></option>
									{foreach from=$formItem[148].select key=s_key item=item name=select}
										{if !($formItem[148].disable[$s_key] == "1" && $arrForm.edata148 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata148 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc25-->
				{if $formItem[149].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[149].item_name}{if $formItem[149].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[149].item_name}{if $formItem[149].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[149].item_memo != ""}{$formItem[149].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[149].item_type == "0"}
								<input type="text" name="edata149" value="{$arrForm.edata149|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[149].item_type == "1"}
								<textarea rows="5" name="edata149" cols="85">{$arrForm.edata149}</textarea>

							{*ラジオ*}
							{elseif $formItem[149].item_type == "2"}
								{foreach from=$formItem[149].select key=s_key item=item name=select}
									<input type="radio" name="edata149" value="{$s_key}" {if $arrForm.edata149 == $s_key}checked{/if} {if $formItem[149].disable[$s_key] == "1" && $arrForm.edata149 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[149].item_type == "3"}

								{foreach from=$formItem[149].select key=s_key item=item name=select}
									{assign var=key149 value=edata149`$s_key`}
									<input type="checkbox" name="edata149{$s_key}" value="{$s_key}" {if $arrForm[$key149] == $s_key}checked{/if} {if $formItem[149].disable[$s_key] == "1" && $arrForm[$key149] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[149].item_type == "4"}
								<select name="edata149">
									<option vlaue=""></option>
									{foreach from=$formItem[149].select key=s_key item=item name=select}
										{if !($formItem[149].disable[$s_key] == "1" && $arrForm.edata149 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata149 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc26 -->
				{if $formItem[150].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[150].item_name}{if $formItem[150].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[150].item_name}{if $formItem[150].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[150].item_memo != ""}{$formItem[150].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[150].item_type == "0"}
								<input type="text" name="edata150" value="{$arrForm.edata150|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[150].item_type == "1"}
								<textarea rows="5" name="edata150" cols="85">{$arrForm.edata150}</textarea>

							{*ラジオ*}
							{elseif $formItem[150].item_type == "2"}
								{foreach from=$formItem[150].select key=s_key item=item name=select}
									<input type="radio" name="edata150" value="{$s_key}" {if $arrForm.edata150 == $s_key}checked{/if} {if $formItem[150].disable[$s_key] == "1" && $arrForm.edata150 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[150].item_type == "3"}

								{foreach from=$formItem[150].select key=s_key item=item name=select}
									{assign var=key150 value=edata150`$s_key`}
									<input type="checkbox" name="edata150{$s_key}" value="{$s_key}" {if $arrForm[$key150] == $s_key}checked{/if} {if $formItem[150].disable[$s_key] == "1" && $arrForm[$key150] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[150].item_type == "4"}
								<select name="edata150">
									<option vlaue=""></option>
									{foreach from=$formItem[150].select key=s_key item=item name=select}
										{if !($formItem[150].disable[$s_key] == "1" && $arrForm.edata150 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata150 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc27 -->
				{if $formItem[151].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[151].item_name}{if $formItem[151].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[151].item_name}{if $formItem[151].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[151].item_memo != ""}{$formItem[151].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[151].item_type == "0"}
								<input type="text" name="edata151" value="{$arrForm.edata151|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[151].item_type == "1"}
								<textarea rows="5" name="edata151" cols="85">{$arrForm.edata151}</textarea>

							{*ラジオ*}
							{elseif $formItem[151].item_type == "2"}
								{foreach from=$formItem[151].select key=s_key item=item name=select}
									<input type="radio" name="edata151" value="{$s_key}" {if $arrForm.edata151 == $s_key}checked{/if} {if $formItem[151].disable[$s_key] == "1" && $arrForm.edata151 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[151].item_type == "3"}

								{foreach from=$formItem[151].select key=s_key item=item name=select}
									{assign var=key151 value=edata151`$s_key`}
									<input type="checkbox" name="edata151{$s_key}" value="{$s_key}" {if $arrForm[$key151] == $s_key}checked{/if} {if $formItem[151].disable[$s_key] == "1" && $arrForm[$key151] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[151].item_type == "4"}
								<select name="edata151">
									<option vlaue=""></option>
									{foreach from=$formItem[151].select key=s_key item=item name=select}
										{if !($formItem[151].disable[$s_key] == "1" && $arrForm.edata151 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata151 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc28 -->
				{if $formItem[152].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[152].item_name}{if $formItem[152].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[152].item_name}{if $formItem[152].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[152].item_memo != ""}{$formItem[152].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[152].item_type == "0"}
								<input type="text" name="edata152" value="{$arrForm.edata152|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[152].item_type == "1"}
								<textarea rows="5" name="edata152" cols="85">{$arrForm.edata152}</textarea>

							{*ラジオ*}
							{elseif $formItem[152].item_type == "2"}
								{foreach from=$formItem[152].select key=s_key item=item name=select}
									<input type="radio" name="edata152" value="{$s_key}" {if $arrForm.edata152 == $s_key}checked{/if} {if $formItem[152].disable[$s_key] == "1" && $arrForm.edata152 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[152].item_type == "3"}

								{foreach from=$formItem[152].select key=s_key item=item name=select}
									{assign var=key152 value=edata152`$s_key`}
									<input type="checkbox" name="edata152{$s_key}" value="{$s_key}" {if $arrForm[$key152] == $s_key}checked{/if} {if $formItem[152].disable[$s_key] == "1" && $arrForm[$key152] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[152].item_type == "4"}
								<select name="edata152">
									<option vlaue=""></option>
									{foreach from=$formItem[152].select key=s_key item=item name=select}
										{if !($formItem[152].disable[$s_key] == "1" && $arrForm.edata152 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata152 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc29 -->
				{if $formItem[153].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[153].item_name}{if $formItem[153].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[153].item_name}{if $formItem[153].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[153].item_memo != ""}{$formItem[153].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[153].item_type == "0"}
								<input type="text" name="edata153" value="{$arrForm.edata153|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[153].item_type == "1"}
								<textarea rows="5" name="edata153" cols="85">{$arrForm.edata153}</textarea>

							{*ラジオ*}
							{elseif $formItem[153].item_type == "2"}
								{foreach from=$formItem[153].select key=s_key item=item name=select}
									<input type="radio" name="edata153" value="{$s_key}" {if $arrForm.edata153 == $s_key}checked{/if} {if $formItem[153].disable[$s_key] == "1" && $arrForm.edata153 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[153].item_type == "3"}

								{foreach from=$formItem[153].select key=s_key item=item name=select}
									{assign var=key153 value=edata153`$s_key`}
									<input type="checkbox" name="edata153{$s_key}" value="{$s_key}" {if $arrForm[$key153] == $s_key}checked{/if} {if $formItem[153].disable[$s_key] == "1" && $arrForm[$key153] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[153].item_type == "4"}
								<select name="edata153">
									<option vlaue=""></option>
									{foreach from=$formItem[153].select key=s_key item=item name=select}
										{if !($formItem[153].disable[$s_key] == "1" && $arrForm.edata153 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata153 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc30-->
				{if $formItem[154].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[154].item_name}{if $formItem[154].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[154].item_name}{if $formItem[154].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[154].item_memo != ""}{$formItem[154].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[154].item_type == "0"}
								<input type="text" name="edata154" value="{$arrForm.edata154|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[154].item_type == "1"}
								<textarea rows="5" name="edata154" cols="85">{$arrForm.edata154}</textarea>

							{*ラジオ*}
							{elseif $formItem[154].item_type == "2"}
								{foreach from=$formItem[154].select key=s_key item=item name=select}
									<input type="radio" name="edata154" value="{$s_key}" {if $arrForm.edata154 == $s_key}checked{/if} {if $formItem[154].disable[$s_key] == "1" && $arrForm.edata154 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[154].item_type == "3"}

								{foreach from=$formItem[154].select key=s_key item=item name=select}
									{assign var=key154 value=edata154`$s_key`}
									<input type="checkbox" name="edata154{$s_key}" value="{$s_key}" {if $arrForm[$key154] == $s_key}checked{/if} {if $formItem[154].disable[$s_key] == "1" && $arrForm[$key154] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[154].item_type == "4"}
								<select name="edata154">
									<option vlaue=""></option>
									{foreach from=$formItem[154].select key=s_key item=item name=select}
										{if !($formItem[154].disable[$s_key] == "1" && $arrForm.edata154 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata154 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc31-->
				{if $formItem[155].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[155].item_name}{if $formItem[155].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[155].item_name}{if $formItem[155].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[155].item_memo != ""}{$formItem[155].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[155].item_type == "0"}
								<input type="text" name="edata155" value="{$arrForm.edata155|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[155].item_type == "1"}
								<textarea rows="5" name="edata155" cols="85">{$arrForm.edata155}</textarea>

							{*ラジオ*}
							{elseif $formItem[155].item_type == "2"}
								{foreach from=$formItem[155].select key=s_key item=item name=select}
									<input type="radio" name="edata155" value="{$s_key}" {if $arrForm.edata155 == $s_key}checked{/if} {if $formItem[155].disable[$s_key] == "1" && $arrForm.edata155 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[155].item_type == "3"}

								{foreach from=$formItem[155].select key=s_key item=item name=select}
									{assign var=key155 value=edata155`$s_key`}
									<input type="checkbox" name="edata155{$s_key}" value="{$s_key}" {if $arrForm[$key155] == $s_key}checked{/if} {if $formItem[155].disable[$s_key] == "1" && $arrForm[$key155] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[155].item_type == "4"}
								<select name="edata155">
									<option vlaue=""></option>
									{foreach from=$formItem[155].select key=s_key item=item name=select}
										{if !($formItem[155].disable[$s_key] == "1" && $arrForm.edata155 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata155 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc32-->
				{if $formItem[156].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[156].item_name}{if $formItem[156].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[156].item_name}{if $formItem[156].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[156].item_memo != ""}{$formItem[156].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[156].item_type == "0"}
								<input type="text" name="edata156" value="{$arrForm.edata156|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[156].item_type == "1"}
								<textarea rows="5" name="edata156" cols="85">{$arrForm.edata156}</textarea>

							{*ラジオ*}
							{elseif $formItem[156].item_type == "2"}
								{foreach from=$formItem[156].select key=s_key item=item name=select}
									<input type="radio" name="edata156" value="{$s_key}" {if $arrForm.edata156 == $s_key}checked{/if} {if $formItem[156].disable[$s_key] == "1" && $arrForm.edata156 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[156].item_type == "3"}

								{foreach from=$formItem[156].select key=s_key item=item name=select}
									{assign var=key156 value=edata156`$s_key`}
									<input type="checkbox" name="edata156{$s_key}" value="{$s_key}" {if $arrForm[$key156] == $s_key}checked{/if} {if $formItem[156].disable[$s_key] == "1" && $arrForm[$key156] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[156].item_type == "4"}
								<select name="edata156">
									<option vlaue=""></option>
									{foreach from=$formItem[156].select key=s_key item=item name=select}
										{if !($formItem[156].disable[$s_key] == "1" && $arrForm.edata156 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata156 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc33-->
				{if $formItem[157].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[157].item_name}{if $formItem[157].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[157].item_name}{if $formItem[157].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[157].item_memo != ""}{$formItem[157].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[157].item_type == "0"}
								<input type="text" name="edata157" value="{$arrForm.edata157|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[157].item_type == "1"}
								<textarea rows="5" name="edata157" cols="85">{$arrForm.edata157}</textarea>

							{*ラジオ*}
							{elseif $formItem[157].item_type == "2"}
								{foreach from=$formItem[157].select key=s_key item=item name=select}
									<input type="radio" name="edata157" value="{$s_key}" {if $arrForm.edata157 == $s_key}checked{/if} {if $formItem[157].disable[$s_key] == "1" && $arrForm.edata157 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[157].item_type == "3"}

								{foreach from=$formItem[157].select key=s_key item=item name=select}
									{assign var=key157 value=edata157`$s_key`}
									<input type="checkbox" name="edata157{$s_key}" value="{$s_key}" {if $arrForm[$key157] == $s_key}checked{/if} {if $formItem[157].disable[$s_key] == "1" && $arrForm[$key157] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[157].item_type == "4"}
								<select name="edata157">
									<option vlaue=""></option>
									{foreach from=$formItem[157].select key=s_key item=item name=select}
										{if !($formItem[157].disable[$s_key] == "1" && $arrForm.edata157 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata157 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc34-->
				{if $formItem[158].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[158].item_name}{if $formItem[158].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[158].item_name}{if $formItem[158].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[158].item_memo != ""}{$formItem[158].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[158].item_type == "0"}
								<input type="text" name="edata158" value="{$arrForm.edata158|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[158].item_type == "1"}
								<textarea rows="5" name="edata158" cols="85">{$arrForm.edata158}</textarea>

							{*ラジオ*}
							{elseif $formItem[158].item_type == "2"}
								{foreach from=$formItem[158].select key=s_key item=item name=select}
									<input type="radio" name="edata158" value="{$s_key}" {if $arrForm.edata158 == $s_key}checked{/if} {if $formItem[158].disable[$s_key] == "1" && $arrForm.edata158 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[158].item_type == "3"}

								{foreach from=$formItem[158].select key=s_key item=item name=select}
									{assign var=key158 value=edata158`$s_key`}
									<input type="checkbox" name="edata158{$s_key}" value="{$s_key}" {if $arrForm[$key158] == $s_key}checked{/if} {if $formItem[158].disable[$s_key] == "1" && $arrForm[$key158] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[158].item_type == "4"}
								<select name="edata158">
									<option vlaue=""></option>
									{foreach from=$formItem[158].select key=s_key item=item name=select}
										{if !($formItem[158].disable[$s_key] == "1" && $arrForm.edata158 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata158 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}


				<!-- etc35-->
				{if $formItem[159].disp != "1"}
					<tr>
						{if $formData.group3_layout != "1"}
							<td class="iname">
								{$formItem[159].item_name}{if $formItem[159].need == "1"}<span class="red">&nbsp;*</span>{/if}
							</td>
						{/if}
						<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
							{if $formData.group3_layout == "1"}
								{$formItem[159].item_name}{if $formItem[159].need == "1"}<span class="red">&nbsp;*</span>{/if}<br />
							{/if}
							{if $formItem[159].item_memo != ""}{$formItem[159].item_memo}<br />{/if}

							{*テキスト*}
							{if $formItem[159].item_type == "0"}
								<input type="text" name="edata159" value="{$arrForm.edata159|escape}" size="40" />

							{*テキストエリア*}
							{elseif $formItem[159].item_type == "1"}
								<textarea rows="5" name="edata159" cols="85">{$arrForm.edata159}</textarea>

							{*ラジオ*}
							{elseif $formItem[159].item_type == "2"}
								{foreach from=$formItem[159].select key=s_key item=item name=select}
									<input type="radio" name="edata159" value="{$s_key}" {if $arrForm.edata159 == $s_key}checked{/if} {if $formItem[159].disable[$s_key] == "1" && $arrForm.edata159 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*チェックボックス*}
							{elseif $formItem[159].item_type == "3"}

								{foreach from=$formItem[159].select key=s_key item=item name=select}
									{assign var=key159 value=edata159`$s_key`}
									<input type="checkbox" name="edata159{$s_key}" value="{$s_key}" {if $arrForm[$key159] == $s_key}checked{/if} {if $formItem[159].disable[$s_key] == "1" && $arrForm[$key159] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
								{/foreach}

							{*セレクト*}
							{else $formItem[159].item_type == "4"}
								<select name="edata159">
									<option vlaue=""></option>
									{foreach from=$formItem[159].select key=s_key item=item name=select}
										{if !($formItem[159].disable[$s_key] == "1" && $arrForm.edata159 != $s_key && $admin_flg == "")}
											<option value="{$s_key}" {if $arrForm.edata159 == $s_key}selected{/if}>{$item}</option>
										{/if}
									{/foreach}
								</select>
							{/if}
						</td>
					</tr>
				{/if}



				</table>