{* グループ3-1 *}
{if $group3use.1 && $formData.arrgroup3.0|strlen > 0}<div class="bname">{$formData.arrgroup3.0}</div>{/if}
<table class="rtbl">
<!-- title English -->
{if $formItem[47].disp != "1"}
	<tr>
		<td class="iname">
			{$formItem[47].item_name}{if $formItem[47].need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{$arrForm.edata47|escape}
		</td>
	</tr>
{/if}


<!-- format -->
{if $formItem[48].disp != "1"}
	<tr>
		<td class="iname">
			{$formItem[48].item_name}{if $formItem[48].need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{$formItem[48].select[$arrForm.edata48]}
		</td>
	</tr>
{/if}


<!-- summury English -->
{if $formItem[50].disp != "1"}
	<tr>
		<td class="iname">
			{$formItem[50].item_name}{if $formItem[50].need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{$arrForm.edata50|escape|nl2br}
		</td>
	</tr>
{/if}
</table>
<br/>

{* グループ3-2 *}
{if $group3use.2 && $formData.arrgroup3.1|strlen > 0}<div class="bname">{$formData.arrgroup3.1}</div>{/if}
<table class="rtbl">
<!-- file1 -->
{if $formItem[51].disp != "1"}
	<tr>
		<td class="iname">
			{$formItem[51].item_name}{if $formItem[51].need == "1"}<span class="red">&nbsp;*</span>{/if}

		</td>
		<td>
			{if $arrForm.hd_file51 != ""}{$arrForm.hd_file51}
			{elseif $arrForm.n_data51 != ""}{$arrForm.n_data51}{/if}
			{if $arrForm.file_del51 == "1"}(Delete){/if}
		</td>
	</tr>

{/if}

<!-- etc8-->
{if $formItem[101].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[101].item_name}{if $formItem[101].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[101].item_name}{if $formItem[101].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[101].item_type == "0" || $formItem[101].item_type == "1"}
				{$arrForm.edata101|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[101].item_type == "2" || $formItem[101].item_type == "4"}
				{$formItem[101].select[$arrForm.edata101]}
			{*チェック*}
			{elseif $formItem[101].item_type == "3"}
				{foreach from=$formItem[101].select key=s_key item=item name=select}

					{assign var=key101 value=edata101`$s_key`}

					{if $arrForm[$key101] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- file2 -->
{if $formItem[52].disp != "1"}
	<tr>
		<td class="iname">
			{$formItem[52].item_name}{if $formItem[52].need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $arrForm.hd_file52 != ""}{$arrForm.hd_file52}
			{elseif $arrForm.n_data52 != ""}{$arrForm.n_data52}{/if}
			{if $arrForm.file_del52 == "1"}(Delete){/if}
		</td>
	</tr>
{/if}

<!-- file3 -->
{if $formItem[53].disp != "1"}
	<tr>
		<td class="iname">
			{$formItem[53].item_name}{if $formItem[53].need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $arrForm.hd_file53 != ""}{$arrForm.hd_file53}
			{elseif $arrForm.n_data53 != ""}{$arrForm.n_data53}{/if}
			{if $arrForm.file_del53 == "1"}(Delete){/if}
		</td>
	</tr>
{/if}
</table>
<br/>

{* グループ3-3 *}
{if $group3use.3 && $formData.arrgroup3.2|strlen > 0}<div class="bname">{$formData.arrgroup3.2}</div>{/if}
<table class="rtbl">
<!-- etc1-->
{if $formItem[54].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[54].item_name}{if $formItem[54].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[54].item_name}{if $formItem[54].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[54].item_type == "0" || $formItem[54].item_type == "1"}
				{$arrForm.edata54|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[54].item_type == "2" || $formItem[54].item_type == "4"}
				{$formItem[54].select[$arrForm.edata54]}
			{*チェック*}
			{elseif $formItem[54].item_type == "3"}
				{foreach from=$formItem[54].select key=s_key item=item name=select}

					{assign var=key54 value=edata54`$s_key`}

					{if $arrForm[$key54] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}

<!-- etc2-->
{if $formItem[55].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[55].item_name}{if $formItem[55].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[55].item_name}{if $formItem[55].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}

			{*テキスト、テキストエリア*}
			{if $formItem[55].item_type == "0" || $formItem[55].item_type == "1"}
				{$arrForm.edata55|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[55].item_type == "2" || $formItem[55].item_type == "4"}
				{$formItem[55].select[$arrForm.edata55]}
			{*チェック*}
			{elseif $formItem[55].item_type == "3"}
				{foreach from=$formItem[55].select key=s_key item=item name=select}

					{assign var=key55 value=edata55`$s_key`}

					{if $arrForm[$key55] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc3-->
{if $formItem[56].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[56].item_name}{if $formItem[56].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>

			{if $formData.group3_layout == "1"}
				{$formItem[56].item_name}{if $formItem[56].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}

			{*テキスト、テキストエリア*}
			{if $formItem[56].item_type == "0" || $formItem[56].item_type == "1"}
				{$arrForm.edata56|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[56].item_type == "2" || $formItem[56].item_type == "4"}
				{$formItem[56].select[$arrForm.edata56]}
			{*チェック*}
			{elseif $formItem[56].item_type == "3"}
				{foreach from=$formItem[56].select key=s_key item=item name=select}

					{assign var=key56 value=edata56`$s_key`}

					{if $arrForm[$key56] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}

<!-- etc4-->
{if $formItem[67].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[67].item_name}{if $formItem[67].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[67].item_name}{if $formItem[67].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[67].item_type == "0" || $formItem[67].item_type == "1"}
				{$arrForm.edata67|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[67].item_type == "2" || $formItem[67].item_type == "4"}
				{$formItem[67].select[$arrForm.edata67]}
			{*チェック*}
			{elseif $formItem[67].item_type == "3"}
				{foreach from=$formItem[67].select key=s_key item=item name=select}

					{assign var=key67 value=edata67`$s_key`}

					{if $arrForm[$key67] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}

<!-- etc5-->
{if $formItem[68].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[68].item_name}{if $formItem[68].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[68].item_name}{if $formItem[68].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[68].item_type == "0" || $formItem[68].item_type == "1"}
				{$arrForm.edata68|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[68].item_type == "2" || $formItem[68].item_type == "4"}
				{$formItem[68].select[$arrForm.edata68]}
			{*チェック*}
			{elseif $formItem[68].item_type == "3"}
				{foreach from=$formItem[68].select key=s_key item=item name=select}

					{assign var=key68 value=edata68`$s_key`}

					{if $arrForm[$key68] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc6-->
{if $formItem[99].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[99].item_name}{if $formItem[99].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[99].item_name}{if $formItem[99].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[99].item_type == "0" || $formItem[99].item_type == "1"}
				{$arrForm.edata99|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[99].item_type == "2" || $formItem[99].item_type == "4"}
				{$formItem[99].select[$arrForm.edata99]}
			{*チェック*}
			{elseif $formItem[99].item_type == "3"}
				{foreach from=$formItem[99].select key=s_key item=item name=select}

					{assign var=key99 value=edata99`$s_key`}

					{if $arrForm[$key99] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc7-->
{if $formItem[100].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[100].item_name}{if $formItem[100].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[100].item_name}{if $formItem[100].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[100].item_type == "0" || $formItem[100].item_type == "1"}
				{$arrForm.edata100|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[100].item_type == "2" || $formItem[100].item_type == "4"}
				{$formItem[100].select[$arrForm.edata100]}
			{*チェック*}
			{elseif $formItem[100].item_type == "3"}
				{foreach from=$formItem[100].select key=s_key item=item name=select}

					{assign var=key100 value=edata100`$s_key`}

					{if $arrForm[$key100] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}

<!-- etc9-->
{if $formItem[102].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[102].item_name}{if $formItem[102].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[102].item_name}{if $formItem[102].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[102].item_type == "0" || $formItem[102].item_type == "1"}
				{$arrForm.edata102|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[102].item_type == "2" || $formItem[102].item_type == "4"}
				{$formItem[102].select[$arrForm.edata102]}
			{*チェック*}
			{elseif $formItem[102].item_type == "3"}
				{foreach from=$formItem[102].select key=s_key item=item name=select}

					{assign var=key102 value=edata102`$s_key`}

					{if $arrForm[$key102] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc10-->
{if $formItem[103].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[103].item_name}{if $formItem[103].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[103].item_name}{if $formItem[103].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[103].item_type == "0" || $formItem[103].item_type == "1"}
				{$arrForm.edata103|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[103].item_type == "2" || $formItem[103].item_type == "4"}
				{$formItem[103].select[$arrForm.edata103]}
			{*チェック*}
			{elseif $formItem[103].item_type == "3"}
				{foreach from=$formItem[103].select key=s_key item=item name=select}

					{assign var=key103 value=edata103`$s_key`}

					{if $arrForm[$key103] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}

<!-- etc11-->
{if $formItem[104].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[104].item_name}{if $formItem[104].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[104].item_name}{if $formItem[104].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[104].item_type == "0" || $formItem[104].item_type == "1"}
				{$arrForm.edata104|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[104].item_type == "2" || $formItem[104].item_type == "4"}
				{$formItem[104].select[$arrForm.edata104]}
			{*チェック*}
			{elseif $formItem[104].item_type == "3"}
				{foreach from=$formItem[104].select key=s_key item=item name=select}

					{assign var=key104 value=edata104`$s_key`}

					{if $arrForm[$key104] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc12-->
{if $formItem[105].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[105].item_name}{if $formItem[105].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[105].item_name}{if $formItem[105].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[105].item_type == "0" || $formItem[105].item_type == "1"}
				{$arrForm.edata105|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[105].item_type == "2" || $formItem[105].item_type == "4"}
				{$formItem[105].select[$arrForm.edata105]}
			{*チェック*}
			{elseif $formItem[105].item_type == "3"}
				{foreach from=$formItem[105].select key=s_key item=item name=select}

					{assign var=key105 value=edata105`$s_key`}

					{if $arrForm[$key105] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}

<!-- etc13-->
{if $formItem[106].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[106].item_name}{if $formItem[106].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[106].item_name}{if $formItem[106].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[106].item_type == "0" || $formItem[106].item_type == "1"}
				{$arrForm.edata106|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[106].item_type == "2" || $formItem[106].item_type == "4"}
				{$formItem[106].select[$arrForm.edata106]}
			{*チェック*}
			{elseif $formItem[106].item_type == "3"}
				{foreach from=$formItem[106].select key=s_key item=item name=select}

					{assign var=key106 value=edata106`$s_key`}

					{if $arrForm[$key106] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc14-->
{if $formItem[107].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[107].item_name}{if $formItem[107].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[107].item_name}{if $formItem[107].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[107].item_type == "0" || $formItem[107].item_type == "1"}
				{$arrForm.edata107|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[107].item_type == "2" || $formItem[107].item_type == "4"}
				{$formItem[107].select[$arrForm.edata107]}
			{*チェック*}
			{elseif $formItem[107].item_type == "3"}
				{foreach from=$formItem[107].select key=s_key item=item name=select}

					{assign var=key107 value=edata107`$s_key`}

					{if $arrForm[$key107] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc15-->
{if $formItem[108].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[108].item_name}{if $formItem[108].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[108].item_name}{if $formItem[108].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[108].item_type == "0" || $formItem[108].item_type == "1"}
				{$arrForm.edata108|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[108].item_type == "2" || $formItem[108].item_type == "4"}
				{$formItem[108].select[$arrForm.edata108]}
			{*チェック*}
			{elseif $formItem[108].item_type == "3"}
				{foreach from=$formItem[108].select key=s_key item=item name=select}

					{assign var=key108 value=edata108`$s_key`}

					{if $arrForm[$key108] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc16-->
{if $formItem[109].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[109].item_name}{if $formItem[109].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[109].item_name}{if $formItem[109].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[109].item_type == "0" || $formItem[109].item_type == "1"}
				{$arrForm.edata109|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[109].item_type == "2" || $formItem[109].item_type == "4"}
				{$formItem[109].select[$arrForm.edata109]}
			{*チェック*}
			{elseif $formItem[109].item_type == "3"}
				{foreach from=$formItem[109].select key=s_key item=item name=select}

					{assign var=key109 value=edata109`$s_key`}

					{if $arrForm[$key109] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc17-->
{if $formItem[110].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[110].item_name}{if $formItem[110].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[110].item_name}{if $formItem[110].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[110].item_type == "0" || $formItem[110].item_type == "1"}
				{$arrForm.edata110|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[110].item_type == "2" || $formItem[110].item_type == "4"}
				{$formItem[110].select[$arrForm.edata110]}
			{*チェック*}
			{elseif $formItem[110].item_type == "3"}
				{foreach from=$formItem[110].select key=s_key item=item name=select}

					{assign var=key110 value=edata110`$s_key`}

					{if $arrForm[$key110] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc18-->
{if $formItem[111].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[111].item_name}{if $formItem[111].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[111].item_name}{if $formItem[111].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[111].item_type == "0" || $formItem[111].item_type == "1"}
				{$arrForm.edata111|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[111].item_type == "2" || $formItem[111].item_type == "4"}
				{$formItem[111].select[$arrForm.edata111]}
			{*チェック*}
			{elseif $formItem[111].item_type == "3"}
				{foreach from=$formItem[111].select key=s_key item=item name=select}

					{assign var=key111 value=edata111`$s_key`}

					{if $arrForm[$key111] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc19-->
{if $formItem[112].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[112].item_name}{if $formItem[112].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[112].item_name}{if $formItem[112].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[112].item_type == "0" || $formItem[112].item_type == "1"}
				{$arrForm.edata112|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[112].item_type == "2" || $formItem[112].item_type == "4"}
				{$formItem[112].select[$arrForm.edata112]}
			{*チェック*}
			{elseif $formItem[112].item_type == "3"}
				{foreach from=$formItem[112].select key=s_key item=item name=select}

					{assign var=key112 value=edata112`$s_key`}

					{if $arrForm[$key112] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}
<!-- etc20-->
{if $formItem[113].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[113].item_name}{if $formItem[113].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[113].item_name}{if $formItem[113].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[113].item_type == "0" || $formItem[113].item_type == "1"}
				{$arrForm.edata113|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[113].item_type == "2" || $formItem[113].item_type == "4"}
				{$formItem[113].select[$arrForm.edata113]}
			{*チェック*}
			{elseif $formItem[113].item_type == "3"}
				{foreach from=$formItem[113].select key=s_key item=item name=select}

					{assign var=key113 value=edata113`$s_key`}

					{if $arrForm[$key113] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc21-->
{if $formItem[145].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[145].item_name}{if $formItem[145].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[145].item_name}{if $formItem[145].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[145].item_type == "0" || $formItem[145].item_type == "1"}
				{$arrForm.edata145|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[145].item_type == "2" || $formItem[145].item_type == "4"}
				{$formItem[145].select[$arrForm.edata145]}
			{*チェック*}
			{elseif $formItem[145].item_type == "3"}
				{foreach from=$formItem[145].select key=s_key item=item name=select}

					{assign var=key145 value=edata145`$s_key`}

					{if $arrForm[$key145] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc22-->
{if $formItem[146].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[146].item_name}{if $formItem[146].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[146].item_name}{if $formItem[146].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[146].item_type == "0" || $formItem[146].item_type == "1"}
				{$arrForm.edata146|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[146].item_type == "2" || $formItem[146].item_type == "4"}
				{$formItem[146].select[$arrForm.edata146]}
			{*チェック*}
			{elseif $formItem[146].item_type == "3"}
				{foreach from=$formItem[146].select key=s_key item=item name=select}

					{assign var=key146 value=edata146`$s_key`}

					{if $arrForm[$key146] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc23-->
{if $formItem[147].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[147].item_name}{if $formItem[147].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[147].item_name}{if $formItem[147].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[147].item_type == "0" || $formItem[147].item_type == "1"}
				{$arrForm.edata147|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[147].item_type == "2" || $formItem[147].item_type == "4"}
				{$formItem[147].select[$arrForm.edata147]}
			{*チェック*}
			{elseif $formItem[147].item_type == "3"}
				{foreach from=$formItem[147].select key=s_key item=item name=select}

					{assign var=key147 value=edata147`$s_key`}

					{if $arrForm[$key147] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc24-->
{if $formItem[148].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[148].item_name}{if $formItem[148].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[148].item_name}{if $formItem[148].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[148].item_type == "0" || $formItem[148].item_type == "1"}
				{$arrForm.edata148|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[148].item_type == "2" || $formItem[148].item_type == "4"}
				{$formItem[148].select[$arrForm.edata148]}
			{*チェック*}
			{elseif $formItem[148].item_type == "3"}
				{foreach from=$formItem[148].select key=s_key item=item name=select}

					{assign var=key148 value=edata148`$s_key`}

					{if $arrForm[$key148] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc25-->
{if $formItem[149].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[149].item_name}{if $formItem[149].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[149].item_name}{if $formItem[149].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[149].item_type == "0" || $formItem[149].item_type == "1"}
				{$arrForm.edata149|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[149].item_type == "2" || $formItem[149].item_type == "4"}
				{$formItem[149].select[$arrForm.edata149]}
			{*チェック*}
			{elseif $formItem[149].item_type == "3"}
				{foreach from=$formItem[149].select key=s_key item=item name=select}

					{assign var=key149 value=edata149`$s_key`}

					{if $arrForm[$key149] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc26-->
{if $formItem[150].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[150].item_name}{if $formItem[150].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[150].item_name}{if $formItem[150].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[150].item_type == "0" || $formItem[150].item_type == "1"}
				{$arrForm.edata150|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[150].item_type == "2" || $formItem[150].item_type == "4"}
				{$formItem[150].select[$arrForm.edata150]}
			{*チェック*}
			{elseif $formItem[150].item_type == "3"}
				{foreach from=$formItem[150].select key=s_key item=item name=select}

					{assign var=key150 value=edata150`$s_key`}

					{if $arrForm[$key150] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc27-->
{if $formItem[151].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[151].item_name}{if $formItem[151].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[151].item_name}{if $formItem[151].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[151].item_type == "0" || $formItem[151].item_type == "1"}
				{$arrForm.edata151|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[151].item_type == "2" || $formItem[151].item_type == "4"}
				{$formItem[151].select[$arrForm.edata151]}
			{*チェック*}
			{elseif $formItem[151].item_type == "3"}
				{foreach from=$formItem[151].select key=s_key item=item name=select}

					{assign var=key151 value=edata151`$s_key`}

					{if $arrForm[$key151] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc28-->
{if $formItem[152].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[152].item_name}{if $formItem[152].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[152].item_name}{if $formItem[152].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[152].item_type == "0" || $formItem[152].item_type == "1"}
				{$arrForm.edata152|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[152].item_type == "2" || $formItem[152].item_type == "4"}
				{$formItem[152].select[$arrForm.edata152]}
			{*チェック*}
			{elseif $formItem[152].item_type == "3"}
				{foreach from=$formItem[152].select key=s_key item=item name=select}

					{assign var=key152 value=edata152`$s_key`}

					{if $arrForm[$key152] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc29-->
{if $formItem[153].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[153].item_name}{if $formItem[153].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[153].item_name}{if $formItem[153].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[153].item_type == "0" || $formItem[153].item_type == "1"}
				{$arrForm.edata153|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[153].item_type == "2" || $formItem[153].item_type == "4"}
				{$formItem[153].select[$arrForm.edata153]}
			{*チェック*}
			{elseif $formItem[153].item_type == "3"}
				{foreach from=$formItem[153].select key=s_key item=item name=select}

					{assign var=key153 value=edata153`$s_key`}

					{if $arrForm[$key153] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc30-->
{if $formItem[154].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[154].item_name}{if $formItem[154].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[154].item_name}{if $formItem[154].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[154].item_type == "0" || $formItem[154].item_type == "1"}
				{$arrForm.edata154|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[154].item_type == "2" || $formItem[154].item_type == "4"}
				{$formItem[154].select[$arrForm.edata154]}
			{*チェック*}
			{elseif $formItem[154].item_type == "3"}
				{foreach from=$formItem[154].select key=s_key item=item name=select}

					{assign var=key154 value=edata154`$s_key`}

					{if $arrForm[$key154] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc31-->
{if $formItem[155].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[155].item_name}{if $formItem[155].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[155].item_name}{if $formItem[155].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[155].item_type == "0" || $formItem[155].item_type == "1"}
				{$arrForm.edata155|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[155].item_type == "2" || $formItem[155].item_type == "4"}
				{$formItem[155].select[$arrForm.edata155]}
			{*チェック*}
			{elseif $formItem[155].item_type == "3"}
				{foreach from=$formItem[155].select key=s_key item=item name=select}

					{assign var=key155 value=edata155`$s_key`}

					{if $arrForm[$key155] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc32-->
{if $formItem[156].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[156].item_name}{if $formItem[156].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[156].item_name}{if $formItem[156].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[156].item_type == "0" || $formItem[156].item_type == "1"}
				{$arrForm.edata156|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[156].item_type == "2" || $formItem[156].item_type == "4"}
				{$formItem[156].select[$arrForm.edata156]}
			{*チェック*}
			{elseif $formItem[156].item_type == "3"}
				{foreach from=$formItem[156].select key=s_key item=item name=select}

					{assign var=key156 value=edata156`$s_key`}

					{if $arrForm[$key156] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc33-->
{if $formItem[157].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[157].item_name}{if $formItem[157].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[157].item_name}{if $formItem[157].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[157].item_type == "0" || $formItem[157].item_type == "1"}
				{$arrForm.edata157|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[157].item_type == "2" || $formItem[157].item_type == "4"}
				{$formItem[157].select[$arrForm.edata157]}
			{*チェック*}
			{elseif $formItem[157].item_type == "3"}
				{foreach from=$formItem[157].select key=s_key item=item name=select}

					{assign var=key157 value=edata157`$s_key`}

					{if $arrForm[$key157] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc34-->
{if $formItem[158].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[158].item_name}{if $formItem[158].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[158].item_name}{if $formItem[158].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[158].item_type == "0" || $formItem[158].item_type == "1"}
				{$arrForm.edata158|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[158].item_type == "2" || $formItem[158].item_type == "4"}
				{$formItem[158].select[$arrForm.edata158]}
			{*チェック*}
			{elseif $formItem[158].item_type == "3"}
				{foreach from=$formItem[158].select key=s_key item=item name=select}

					{assign var=key158 value=edata158`$s_key`}

					{if $arrForm[$key158] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}


<!-- etc35-->
{if $formItem[159].disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$formItem[159].item_name}{if $formItem[159].need == "1"}<span class="red">&nbsp;*</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$formItem[159].item_name}{if $formItem[159].need == "1"}<span class="red">&nbsp;*</span>{/if}<br /><br />
			{/if}
			{*テキスト、テキストエリア*}
			{if $formItem[159].item_type == "0" || $formItem[159].item_type == "1"}
				{$arrForm.edata159|escape|nl2br}
			{*ラジオ、セレクト*}
			{elseif $formItem[159].item_type == "2" || $formItem[159].item_type == "4"}
				{$formItem[159].select[$arrForm.edata159]}
			{*チェック*}
			{elseif $formItem[159].item_type == "3"}
				{foreach from=$formItem[159].select key=s_key item=item name=select}

					{assign var=key159 value=edata159`$s_key`}

					{if $arrForm[$key159] == $s_key}{$item}<br />{/if}

				{/foreach}
			{/if}

		</td>
	</tr>
{/if}



</table>