{if $i != "1"}
<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{if $item_id == "32"}
			{include file="Mng/entry/include_detail.html" val=$aff[$key] type=3 arrval=$arrData.edata31}
		{else}
			{include file="Mng/entry/include_detail.html"
				     val=$aff[$key] type=$formItem[$item_id].item_type
				     arrval=$formItem[$item_id].item_select}
		{/if}
	</td>
</tr>
{/if}