{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(a){
		var f = document.frm;
		if(a != "") {
			f.page.value = a;
		} else {
			f.page.value = '';
		}
		f.submit();
	}

	function f_back(){
		var f = document.frm;
		f.mode.value = 'search';
		f.action = 'Mng_mailhistory.php';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>配信メール詳細</h2>
</div>

<br />
<form name="frm" method="post">

<div class="mb10">■配信メール内容</div>
<table class="listtbl">
	<tr>
		<th class="width120">タイトル</th>
		<td>{$va_mail.subject|escape}</td>
	</tr>
	<tr>
		<th>本文</th>
		<td>{$va_mail.body|escape|nl2br}</td>
	</tr>
	<tr>
		<th>配信日</th>
		<td>{$va_mail.rdate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
	</tr>
</table>
<br /><br />
<div class="mb10">■配信先一覧</div>
<br />
<p>配信対象： <b>{$count}</b>件</p>

{if $send_list}
	<table class="listtbl">
	<tr>
		<th>氏名</th>
		<th>応募者（かな）</th>
		<th>メールアドレス</th>
		<th class="width120">配信結果</th>
	</tr>

	{foreach from=$send_list item=mail}
		<tr>
			<td>{$mail.edata1|escape}&nbsp;{$mail.edata2|escape}</td>
			<td>{$mail.edata3|escape}&nbsp;{$mail.edata4|escape}</td>
			<td>{$mail.mailaddress|escape}</td>
			<td>{if $mail.result == "1"}成功{else}失敗{/if}</td>
		</tr>
	{/foreach}

	</table>

	{show_pager data=$pager}
	<br />
{/if}
<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="page" value="" />
<input type="hidden" name="send_id" value="{$send_id|escape}" />



</form>
{include file="include/footer.html"}