{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Mng_mailsend.php';
		f.mode.value = 'complete';

		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.action = 'Mng_mailsend.php';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>メール送信確認</h2>
</div>

<br />
<p>※内容をご確認の上、「送信」ボタンをクリックしてください。</p>

<form name="frm" method="post">
{$embed}
<input type="hidden" name="mail_ttl" value="{$arrForm.mail_ttl|escape}" />
<input type="hidden" name="mail_body" value="{$arrForm.mail_body|escape}" />
<div class="mb10">■配信メール内容</div>
<table class="listtbl">
	<tr>
		<th class="width120">タイトル</th>
		<td>{$arrForm.mail_ttl|escape}</td>
	</tr>
	<tr>
		<th>本文</th>
		<td>{$arrForm.mail_body|escape|nl2br}</td>
	</tr>
</table>
<br />
<div class="mb10">■配信先一覧</div>

<table class="listtbl">
		{foreach from=$arrData item=entry}
			{pre_get_pageno eid=$entry.eid arrEid=$arrForm.eid}
			{if $page != $page_no}
				{if $page_no != 0}</table><br/><br/>{/if}

				{assign var="page_no" value=$page}
				<table class="listtbl">
					<caption>{$page_no} ページ目</caption>

					{if $GLOBALS.userData.type == "1"}
		                <col width="20%" />
		                <col width="20%" />
		                <col width="20%" />
		                <col width="10%" />
		                <col width="15%" />
		                <col width="15%" />
					{else}
		                <col width="24%" />
		                <col width="23%" />
		                <col width="23%" />
		                <col width="15%" />
		                <col width="15%" />
					{/if}

					<tr>
						<th>応募者</th>
						<th>応募者（かな）</th>
						<th>email</th>
						{if $GLOBALS.userData.type == "1"}<th>状態</th>{/if}
						<th>受付日</th>
						<th>更新日</th>
					</tr>
			{/if}

		<tr>
			<td>{$entry.edata1|escape} {$entry.edata2|escape}<input type="hidden" name="eid[]" value="{$entry.eid}" /></td>
			<td>{$entry.edata3|escape} {$entry.edata4|escape}</td>
			<td>{$entry.edata25|escape}</td>
			{if $GLOBALS.userData.type == "1"}<td>{$GLOBALS.entryStatusList[$entry.status]|default:"-"}</td>{/if}
			<td>{$entry.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td>{$entry.udate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
		</tr>
		{/foreach}

	</table>
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="送信" onclick="f_submit();" />
</div>

<input type="hidden" name="mode" value="" />


</form>
{include file="include/footer.html"}