{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_search(){
		var f = document.frm;
		f.mode.value = 'search';
		f.submit();
	}

	function f_submit(a){
		var f = document.frm;
		if(a != "") {
			f.page.value = a;
		} else {
			f.mode.value = 'search';
		}
		f.submit();
	}

	function f_edit(id){
		var f = document.frm;
		f.action ='Mng_maildetail.php';
		f.send_id.value = id;
		f.submit();
	}


</script>
{/literal}

<div class="ttl">
	<h2>メール送信履歴</h2>
</div>

<br />
<form name="frm" method="post">

<!--エラーメッセージ-->
{if $arrErr}
<div class="errmsg">
{foreach from=$arrErr item=err}
	<p>{$err|escape}</p>
{/foreach}
</div>
{/if}





<table class="listtbl">
	<tr>
		<th>タイトル</th>
		<td><input type="text" name="mail_ttl" size="50" value="{$arrForm.mail_ttl|escape}" /></td>
	</tr>
	<tr>
		<th>キーワード</th>
		<td><input type="text" name="keyword" size="50" value="{$arrForm.keyword|escape}" /></td>
	</tr>
	<tr>
		<th>配信日</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>


</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_search();" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="page" value="" />

<br />
<br />
<p>配信件数： <b>{$count}</b>件</p>

{if $list}
	<table class="listtbl">
		<tr>

			<th>タイトル</th>
			<th class="width120">配信日時</th>
			<th class="width120">配信件数</th>
			<th class="width120">成功件数</th>
			<th width="80">処理</th>
		</tr>

		{foreach from=$list item=mail}
		<tr>
			<td>{$mail.subject|escape}</td>
			<td>{$mail.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td class="r">{$mail.send_num|escape}件</td>
			<td class="r">{$mail.success|escape}件</td>
			<td class="c">
				<input type="button" value="詳細" onclick="f_edit('{$mail.send_id|escape}');" />
			</td>
		</tr>
		{/foreach}

	</table>
	<input type="hidden" name="send_id" value="" />

	{show_pager data=$pager}
{/if}
</form>
{include file="include/footer.html"}