{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

{if $_formItem.disp != "1"}

	<div class="bname">Workshop Organizer's Information</div>
	
	<table class="rtbl">
	
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>
            {$GLOBALS.titleList[$arrForm.edata57]}
        </td>
    </tr>
{/if}