<!--姓-->
{if $formItem[33].disp != "1"}
	{assign var=key33 value=edata33`$smarty.section.counter.index`}
	{if $i == 0}
	{else}
	<tr>
		<td class="iname">
			{$formItem[33].item_name}{if $formItem[33].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key33]|escape}
		</td>
	</tr>
	{/if}
{/if}