<!--名-->
{if $formItem[34].disp != "1"}
	{assign var=key34 value=edata34`$smarty.section.counter.index`}
	{if $i == 0}
		<input type="hidden" name="edata34{$i}" value="{$arrForm[$key34]|escape}" />
	{else}
	<tr>
		<td class="iname">
			{$formItem[34].item_name}{if $formItem[34].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $formItem[34].item_memo != ""}{$formItem[34].item_memo}<br />{/if}
			<input type="text" name="edata34{$smarty.section.counter.index}" value="{$arrForm[$key34]|escape}" size="30" />
		</td>
	</tr>
	{/if}
{/if}