{if $formItem[29].disp != "1"}
    {if $formItem[31].disp != "1"}
		{edataXX group_id=1 item_id=26}
        <input type="hidden" name="edata31" id="edata31" value="{$_formItem.item_select}">
    {/if}
{/if}


{literal}
<script language="javascript" class="edata30Script">
var num = 0
var control = false;
$("#edata30").bind("change", function(){
	trigger();
}).change();


$(".edata29").bind("change", function(){
	trigger();
});

function trigger(){
	if(control) return;

	control = true;

    num  = $("#edata30 option:selected").val();
    if(!$.isNumeric(num)) 				   num = 0;
	if($(".edata29:checked").val() == "2") num = 0;

	var arrQuery = $("form[name='frm']").serializeArray();
	var postData = {};
	for(var key in arrQuery){
		var name = arrQuery[key]['name'];
		var val  = arrQuery[key]['value'];
		postData[name] =  val;
	}
	postData['mode'] = 'ajax';
	postData['num']  = num;

	$("#block2").remove();
	$(".rtbl").after("<div id='block2' style='text-align: center;margin: 15px 0;'><img src='../../customDir/14/img/spinner.gif'></div>");

    $.ajax({
        type: "POST",
        url: "?form_id=14&admin_flg={/literal}{$admin_flg}{literal}",
        data: postData,
        cache: false,
        dataType: "html",
        error: function(XMLHttpRequest, textStatus, errorThrown){
            alert(textStatus);
        },
        success: function(result){
			$("#block2").remove();
			$(".rtbl").after("<div id='block2'></div>");
			$("#block2").html(result);

			$("input[name^='edata43']").prop("disabled", true).css("background-color", "#D3D3D3");
			$('select[name^="edata32"]').bind("change", function(){
				var chk = $(this).val();
				if(chk == "210"){
					$(this).next().prop("disabled", false).css("background-color", "");
				}else{
					$(this).next().prop("disabled", true).css("background-color", "#D3D3D3");
			    }
			}).change();

        }
    });

	control = false;

}


</script>
{/literal}


