{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}

{if $formItem[29].disp != "1"}
	{if $formItem.disp != "1"}
	<!--所属機関名-->
		<tr>
			<td class="iname">
				{$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
			<td>
<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery.edata31-expander.js"></script>
{literal}
<script language="javascript">
$(document).ready(function(){
    var coAuthNum = {/literal}{$NumofCoAuthors|default:30};{literal}
    var data = [ ];
    {/literal}
    {foreach from=$arrForm.kikanlist key=key item=_kikan}
        data[{$key}] = "{$_kikan}";
    {/foreach}
    {literal}
    
    var addMarkJ = '追加';
	var delMarkJ = '削除';
 	$("#formadd").edata31expander({edata31:data, maxNum:coAuthNum, addMark:addMarkJ, delMark:delMarkJ});

});
</script>
{/literal}
				{if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}
				<div id="formadd"></div>
				<input type="button" name="add" value="+" class="btn_edata31_add"/>
                <input type="hidden" name="edata31" id="edata31" />
			</td>
		</tr>
	{/if}
{/if}
