{assign var=edata    value="edata`$item_id`"}
{assign var=n_data   value="n_data`$item_id`"}
{assign var=hd_file  value="hd_file`$item_id`"}
{assign var=file_del value="file_del`$item_id`"}

{if $_formItem.disp != "1"}
	<!--ファイルアップロード1-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			<input type="file" name="{$edata}" size="40" value="" />
			<input type="hidden" name="{$n_data}" value="{$arrForm.$n_data}" />
			<input type="hidden" name="{$hd_file}" value="{$arrForm.$hd_file}" />
			<input type="hidden" name="file_upload52" value="{$arrForm.file_upload52}" />

			{if $arrForm.$hd_file != ""}
				<br />
				{if $arrForm.$n_data == $arrForm.$hd_file}
					<a href="javascript:f_down('{$item_id}','1');">{$arrForm.$hd_file}</a>
				{else}
					<a href="javascript:f_down('{$item_id}','2');">{$arrForm.$hd_file}</a>
				{/if}
				{if $_formItem.need != "1"}
					&nbsp;<input type="checkbox" name="{$file_del}" value="1"{if $arrForm.$file_del == "1"} checked{/if} />削除
				{/if}
			{/if}

		</td>
	</tr>
{/if}
