<!--氏名１(英語表記)-->
{if $formItem[37].disp != "1"}
	{assign var=key37 value=edata37`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[37].item_name}{if $formItem[37].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key37]|escape}
			<input type="hidden" name="edata37{$i}" value="{$arrForm[$key37]|escape}" />
			{else}
			{if $formItem[37].item_memo != ""}{$formItem[37].item_memo}<br />{/if}
			<input type="text" name="edata37{$smarty.section.counter.index}" value="{$arrForm[$key37]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}