{assign var=formItem value=$formItem.$item_id}
{assign var=edata    value="edata`$item_id`"}

{if $formItem[29].disp != "1"}
	{if $formItem.disp != "1"}
		<!--共著者の数-->
		<tr>
			<td class="iname">
				{$formItem.item_name}{if $formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
			<td>
				{if $formItem.item_memo != ""}{$formItem.item_memo}<br />{/if}

				<select name="{$edata}" id="{$edata}" >
					<option vlaue=""></option>
						{foreach from=$formItem.select key=s_key item=item name=select}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/foreach}
				</select>
			</td>
		</tr>
	{/if}
{/if}