<!--姓-->
{if $formItem[33].disp != "1"}
	{assign var=key33 value=edata33`$smarty.section.counter.index`}

	<tr>
		<td class="iname">
			{$formItem[33].item_name}{if $formItem[33].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key33]|escape}
			<input type="hidden" name="edata33{$i}" value="{$arrForm[$key33]|escape}" />
			{else}
			{if $formItem[33].item_memo != ""}{$formItem[33].item_memo}<br />{/if}
			<input type="text" name="edata33{$smarty.section.counter.index}" value="{$arrForm[$key33]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}