<!--会員番号-->
{if $formItem[42].disp != "1"}
	{assign var=key42 value=edata42`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[42].item_name}{if $formItem[42].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key42]|escape}
			<input type="hidden" name="edata42{$i}" value="{$arrForm[$key42]|escape}" />
			{else}
			{if $formItem[42].item_memo != ""}{$formItem[42].item_memo}<br />{/if}
			<input type="text" name="edata42{$smarty.section.counter.index}" value="{$arrForm[$key42]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}