<!--氏名３(英語表記）-->
{if $formItem[39].disp != "1"}
	{assign var=key39 value=edata39`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[39].item_name}{if $formItem[39].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key39]|escape}
			<input type="hidden" name="edata39{$i}" value="{$arrForm[$key39]|escape}" />
			{else}
			{if $formItem[39].item_memo != ""}{$formItem[39].item_memo}<br />{/if}
			<input type="text" name="edata39{$smarty.section.counter.index}" value="{$arrForm[$key39]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}