<!--氏名２(英語表記)-->
{if $formItem[38].disp != "1"}
	{assign var=key38 value=edata38`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[38].item_name}{if $formItem[38].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key38]|escape}
			<input type="hidden" name="edata38{$i}" value="{$arrForm[$key38]|escape}" />
			{else}
			{if $formItem[38].item_memo != ""}{$formItem[38].item_memo}<br />{/if}
			<input type="text" name="edata38{$smarty.section.counter.index}" value="{$arrForm[$key38]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}