{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(a){

		var f = document.frm;
		f.action = 'index.php';
		f.target = '_self';

		if(a != "") {
			f.page.value = a;
			//f.mode.value = '';
			f.mode.value = 'search';
		} else {

			f.mode.value = 'search';
		}

		f.submit();
	}

	function f_clear(){
		var f = document.frm;
		f.action = 'index.php';
		f.target = '_self';
		f.mode.value = 'clear';
		f.submit();
	}

	function f_detail(id) {
		var f = document.frm;
		f.action = 'entry/Mng_entry_detail.php?eid='+id;
		f.target = '_self';
		f.submit();
	}

	function f_edit(mode, id){
		var f = document.frm;

		if(mode == '1' || mode == '2'){
			var f = document.frm;
			var form_id = f.form_id.value;
			f.mode.value = '';
			if(mode == '2'){
				f.action = '../Usr/form/Usr_entry.php?form_id='+ form_id + '&admin_flg=2&eid='+ id;
			}
			else{
				f.action = '../Usr/form/Usr_entry.php?form_id='+ form_id + '&admin_flg=2';
			}

			f.target = '_blank';
			f.submit();
		}

		if(mode == '2'){
			f.entry_id.value = id;
		}

		f.submit();
	}

	function f_back(id){
		var f = document.frm;

		f.act.value = 'search';
		f.action = 'index.php';
		f.submit();
	}

	function f_sendmail(){
		var f = document.frm;
		f.action = 'mail/Mng_mailsend.php';
		f.target = '_self';
		f.submit();
	}

	function f_status(stat){
		var f = document.frm;
		f.action = 'entry/Mng_edit_plural.php';
		f.target = '_self';
		f.set_stat.value = stat;

		f.submit();
	}

	function f_csv(num){
		var f = document.frm;

		f.action = 'index.php';
		f.target = '_self';

		if(num == '1'){
			f.mode.value = 'entry_csv';
		}
		else if(num == '2'){
			f.mode.value = 'payment_csv';
		}
		else if(num == '3'){
			f.mode.value = 'all_csv';
		}

		f.submit();

	}

	function f_view(id){

	}


    function file_download(file_num){
        var f = document.frm;

        if(!confirm('ファイル'+ file_num + 'の一括ダウンロードを行います。よろしければ「OK」をクリックしてください。\n「OK」をクリックするとダウンロードファイルの作成を開始します。\nファイルの作成が完了すると管理者宛てにメールで通知されます。')){
            return;
        }

        f.action = 'index.php';
        f.target = '_self';
        f.mode.value = 'file_download';
        f.file_num.value = file_num;
        f.submit();


    }


	$(function(){
		// 全チェック on/off
		$("#entrylist input:checkbox#all").bind("click", function(){
			$(".entry_row input").prop({'checked':$(this).is(':checked')});
		});
	});

</script>
{/literal}

<div class="ttl">
	<h2>エントリー管理&nbsp;（{$GLOBALS.userData.form_name}）</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="page" value="" />

<!--エラーメッセージ-->
{if $arrErr}
	<div class="errmsg">
	{foreach from=$arrErr item=err}
		<p>{$err|escape}</p>
	{/foreach}
	</div>
{/if}


<table class="listtbl">
	<tr>
		<th>登録No.</th>
		<td><input type="text" name="s_entry_no" size="20" value="{$arrForm.s_entry_no|escape}" />～<input type="text" name="e_entry_no" size="20" value="{$arrForm.e_entry_no|escape}" /></td>
	</tr>
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="user_name" size="50" value="{$arrForm.user_name|escape}" /></td>
	</tr>
	<tr>
		<th>応募者名（カナ）</th>
		<td><input type="text" name="user_name_kana" size="50" value="{$arrForm.user_name_kana|escape}" /></td>
	</tr>
	{if $GLOBALS.userData.lang == "2"}
	   {if $formitemview.60 != "1"}
		  <tr>
			 <th>国名</th>
			 <td><input type="text" name="country" size="50" value="{$arrForm.country|escape}" /></td>
		  </tr>
        {/if}
       {if $formitemview.114 != "1"}
          <tr>
             <th>Country</th>
             <td>
                <select name="country_list">
                    <option value=""></option>
                    {html_options options=$GLOBALS.country selected=$arrForm.country_list}
                </select>
             </td>
          </tr>
        {/if}
	{/if}

	<tr>
		<th>状態</th>
		<td>
			{if $GLOBALS.userData.type == "1"}
				<input type="checkbox" name="status1" value="1"{if $arrForm.status1 == "1"} checked{/if} />採択
				<input type="checkbox" name="status2" value="2"{if $arrForm.status2 == "2"} checked{/if} />初期状態
				<input type="checkbox" name="status3" value="3"{if $arrForm.status3 == "3"} checked{/if} />不採択
				<input type="checkbox" name="status4" value="4"{if $arrForm.status4 == "4"} checked{/if} />キャンセル
			{else}
				<input type="checkbox" name="status2" value="2"{if $arrForm.status2 == "2"} checked{/if} />初期状態
				<input type="checkbox" name="status4" value="4"{if $arrForm.status4 == "4"} checked{/if} />キャンセル

			{/if}
		</td>
	</tr>

	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>更新期間</th>
		<td>
			<select name="upd_syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.upd_syear}
			</select>年
			<select name="upd_smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.upd_smonth}
			</select>月
			<select name="upd_sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.upd_sday}
			</select>日～
			<select name="upd_eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.upd_eyear}
			</select>年
			<select name="upd_emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.upd_emonth}
			</select>月
			<select name="upd_eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.upd_eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>ソート順</th>
		<td>
			<select name="sort_name">
				{html_options options=$sort_name selected=$arrForm.sort_name}
			</select>&nbsp;の
			<select name="sort">
				{html_options options=$sort selected=$arrForm.sort}
			</select>
		</td>
	</tr>

	<tr>
		<th>表示件数</th>
		<td>
			<select name="limit">
				{html_options values=$arrLimit output=$arrLimit selected=$arrForm.limit}
			</select>
		</td>
	</tr>

</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit('');" />
	<input type="button" value="検索条件クリア" onclick="f_clear();" />
	<input type="button" value="新規エントリー登録" onclick="f_edit('1','');" />
	<input type="button" value="エントリー情報CSV出力" onclick="f_csv('1');" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id"   value="{$userData.form_id|escape}" />
<input type="hidden" name="pre_page"  value="{$arrForm.page|default:1}" />
<input type="hidden" name="pre_limit" value="{$arrForm.limit|default:$limit}" />
<input type="hidden" name="file_num" value="" />

<br />
<p>登録件数： <b>{$arrData.count}</b>件</p>

{if $arrData.list}

	<div class="actionblock">
		<span class="rtop">
			<span class="r1"></span>
			<span class="r2"></span>
			<span class="r3"></span>
			<span class="r4"></span>
		</span>
		<p>一括処理</p>
        <p class="small">チェックしたエントリー情報に対して一括処理を行います。<br />また、ファイルダウンロードボタンをクリックすると、アップロードファイルの一括ダウンロードを行います。</p>
        <p>
            <input type="button" value="初期状態戻す" onclick="f_status('2');" />
            {if $GLOBALS.userData.type == "1"}<input type="button" value="採択" onclick="f_status('1');" />
                <input type="button" value="不採択" onclick="f_status('3');" />
            {/if}

            <input type="button" value="キャンセル" onclick="f_status('99');" />
            <input type="button" value="メール送信" onclick="f_sendmail();" />
            <input type="button" value="削除" onclick="f_status('4');" />

            &nbsp;&nbsp;&nbsp;&nbsp;

            {foreach from=$upload_file_field item=file_view key=k}
                {if $file_view != '1'}
                    <input type="button" value="論文データ一括DL&nbsp;{$k}" onclick="file_download('{$k}');" />
                {/if}
            {/foreach}



        </p>

		<span class="rbottom">
			<span class="r4"></span>
			<span class="r3"></span>
			<span class="r2"></span>
			<span class="r1"></span>
		</span>

	</div>

	<table class="listtbl" id="entrylist">
		<tr>
			<th><input type="checkbox" name="all" id="all" value="" /></th>
			<th class="">登録No.</th>
			<th class="width280">応募者</th>
			{if $GLOBALS.userData.lang == "2"}
			     {if $formitemview.60 != "1"}
			         <th>国名</th>
			     {/if}
			     {if $formitemview.114 != "1"}
			         <th>Country</th>
			     {/if}
			{/if}

			<th>状態</th>
			<th width="10%">受付日</th>
			<th width="10%">更新日</th>
			<th class="width100">処理</th>
		</tr>

		{foreach from=$arrData.list item=entry}
		<tr class="entry_row">
			<td class="c">
				<input type="hidden"   name="eid[{$entry.eid}]" value="0">
				<input type="checkbox" name="eid[{$entry.eid}]" value="1" {if $arrEid[$arrForm.page][$entry.eid] == 1}checked{/if} />
			</td>
			<td>{$entry.entry_no|escape}</td>
			<td>{$entry.edata1|escape} {$entry.edata2|escape}</td>
			{if $GLOBALS.userData.lang == "2"}
			     {if $formitemview.60 != "1"}
			         <td>{$entry.edata60|escape}</td>
			     {/if}
			     {if $formitemview.114 != "1"}
			         <td>{$GLOBALS.country[$entry.edata114]|escape}</td>
			     {/if}
			 {/if}
			<td>{$GLOBALS.entryStatusList[$entry.status]|default:"-"}</td>
			<td>{$entry.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td>{$entry.udate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td class="c" nowrap>
				<input type="button" value="詳細" onclick="f_detail('{$entry.eid|escape}');" />
				<input type="button" value="編集" onclick="f_edit('2','{$entry.eid|escape}');" />

				<!--<input type="button" value="削除" onclick="f_edit('3','{$entry.entry_id}');" />-->
			</td>
		</tr>
		{/foreach}

	</table>

	<input type="hidden" name="set_stat" value="" />

	{show_pager data=$pager}

{/if}
</form>
{include file="include/footer.html"}