{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){

		var f = document.frm;
		f.act.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.act.value = 'search';
		f.action = 'index.php';
		f.submit();		
	}
	function f_save(){
		var f = document.frm;
		f.act.value = 'search';
		f.action = 'Sys_formlist.php';
		f.submit();		
	}
</script>
{/literal}

<div class="ttl">
	<h2>エントリー情報　内容確認</h2>
</div>

<br />

<form name="frm" method="post" enctype="multipart/form-data">

{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

<br />

<div class="mb10">■応募者情報</div>

	<table class="listtbl">

		<tr>
			<th class="width150">氏名</th>
			<td>{$arrForm.item1}</td>
		</tr>
		<tr>
			<th>氏名（かな）</th>
			<td>{$arrForm.item2}</td>
		</tr>
		<tr>
			<th>氏名（英字表記）</th>
			<td>{$arrForm.item3}</td>
		</tr>
		<tr>
			<th>所属機関</th>
			<td>{$arrForm.item12}</td>
		</tr>	
		<tr>
			<th>所属機関（英語表記）</th>
			<td>{$arrForm.item13}</td>
		</tr>		
		<tr>
			<th>雑誌掲載用所属機関</th>
			<td>{$arrForm.item14}</td>
		</tr>
		<tr>
			<th>雑誌掲載用所属機関<br />（英語表記）</th>
			<td>{$arrForm.item15}</td>
		</tr>				
		<tr>
			<th>メールアドレス</th>
			<td>{$arrForm.item6}</td>
		</tr>	
		<tr>
			<th>郵便番号</th>
			<td>{$arrForm.item7}</td>
		</tr>
		<tr>
			<th>住所</th>
			<td>{$arrForm.item8}</td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td>{$arrForm.item9}</td>
		</tr>
		<tr>
			<th>電話番号（内線）</th>
			<td>{$arrForm.item10}</td>
		</tr>
		<tr>
			<th>FAX</th>
			<td>{$arrForm.item11}</td>
		</tr>
		<tr>
			<th>その他連絡先　郵便番号</th>
			<td>{$arrForm.item16}</td>
		</tr>
		<tr>
			<th>その他連絡先　住所</th>
			<td>{$arrForm.item17}</td>
		</tr>
	
		<tr>
			<th>その他連絡先　電話番号</th>
			<td>{$arrForm.item18}</td>
		</tr>
	
		<tr>
			<th>その他連絡先　内線</th>
			<td>{$arrForm.item19}</td>
		</tr>
		<tr>
			<th>その他連絡先　FAX</th>
			<td>{$arrForm.item20}</td>
		</tr>
		
		<tr>
			<th>会員・非会員</th>
			<td>会員
			</td>
		</tr>				
							
	</table>


	<br />
	<div class="mb10">■共著者情報</div>
	{section name=i start=0 loop=5}
		<p>・共著者{$smarty.section.i.iteration}</p>
		<table class="listtbl">
			<tr>
				<th class="width150">氏名</th>
				<td>{$arrForm.item21}</td>
			</tr>
			<tr>
				<th>氏名（かな）</th>
				<td>{$arrForm.item22}</td>
			</tr>
		
			<tr>
				<th>氏名（英字表記）</th>
				<td>{$arrForm.item23}</td>
			</tr>
	
			<tr>
				<th>会員・非会員</th>
				<td>非会員
				</td>
			</tr>
			<tr>
				<th>雑誌掲載用所属機関</th>
				<td>{$arrForm.item25}</td>
			</tr>
		
		</table>
		<br />
	{/section}
	<div class="mb10">■論文情報</div>
	<table class="listtbl">
		<tr>
			<th class="width150">発表形式</th>
			<td >{$arrForm.item26}</td>
		</tr>
	
		<tr>
			<th>論文タイトル</th>
			<td>{$arrForm.item27}</td>
		</tr>
		<tr>
			<th>論文タイトル（英語表記）</th>
			<td>{$arrForm.item28}</td>
		</tr>
	
		<tr>
			<th>本文</th>
			<td>
				{$arrForm.item29}
			</td>
		</tr>
		<tr>
			<th>その他添付資料</th>
			<td>
				なし
			</td>
		</tr>		
	</table>	
	


<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="{if $mode == "1"}登録{else}編集{/if}" onclick="f_submit();" />
</div>


<input type="hidden" name="mode" value="{if $arrForm.form_id == ""}1{else}2{/if}" />
<input type="hidden" name="manager_id" value="{$arrForm.managar_id}" />
<input type="hidden" name="entry_id" value="{$arrForm.entry_id}" />


</form>
{include file="include/footer.html"}