{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.action = 'Mng_edit_plural.php';
		f.submit();
	}


	function f_back(){
		var f = document.frm;

		f.action = '../index.php';
		f.mode.value = 'back';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>一括処理（{$exec_name}）</h2>
</div>

<br />
<form name="frm" method="post">
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="set_stat" value="{$arrForm.set_stat|escape}" />
	<input type="hidden" name="chg_status" value="{$arrForm.chg_status|escape}" />
{$embed}


	<p>{$freemsg}※下記エントリーの{$exec_name}処理を行います。<br />内容をご確認の上、よろしければ「{$exec_name}」ボタンをクリックしてください。
	</p>
	<br/>

		{assign var="page_no" value=0}
		{foreach from=$arrData item=entry}
			{pre_get_pageno eid=$entry.eid arrEid=$arrForm.eid}
			{if $page != $page_no}
				{if $page_no != 0}</table><br/><br/>{/if}

				{assign var="page_no" value=$page}
				<table class="listtbl">
					<caption>{$page_no} ページ目</caption>

					{if $GLOBALS.userData.type == "1"
					 || ($GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0")}
		                <col width="20%" />
		                <col width="20%" />
		                <col width="20%" />
		                <col width="10%" />
		                <col width="15%" />
		                <col width="15%" />
					{else}
		                <col width="24%" />
		                <col width="23%" />
		                <col width="23%" />
		                <col width="15%" />
		                <col width="15%" />
					{/if}

					<tr>
						<th>応募者</th>
						<th>応募者（かな）</th>
						<th>email</th>
						{if $GLOBALS.userData.type == "1"}<th>状態</th>{/if}
						{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th>支払</th>{/if}
						<th>受付日</th>
						<th>更新日</th>
					</tr>
			{/if}

			<tr>
				<td>{$entry.edata1|escape} {$entry.edata2|escape}<input type="hidden" name="eid[]" value="{$entry.eid|escape}" /></td>
				<td>{$entry.edata3|escape} {$entry.edata4|escape}</td>
				<td>{$entry.edata25|escape}</td>
				{if $GLOBALS.userData.type == "1"}<td>{$GLOBALS.entryStatusList[$entry.status]|default:"-"}</td>{/if}
				{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
				<td>{$GLOBALS.paymentstatusList[$entry.payment_status]|escape}</td>
				{/if}
				<td>{$entry.rdate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
				<td>{$entry.udate|escape|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			</tr>
		{/foreach}
		</table>
<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="{$exec_name}" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}
