{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(a){

		var f = document.frm;
		f.action = 'Mng_entry_error.php';
		f.target = '_self';

		if(a != "") {
			f.page.value = a;
			//f.mode.value = '';
			f.mode.value = 'search';
		} else {

			f.mode.value = 'search';
		}

		f.submit();
	}

	function f_clear(){
		var f = document.frm;
		f.action = 'Mng_entry_error.php';
		f.target = '_self';
		f.mode.value = 'clear';
		f.submit();
	}

	function f_detail(id) {
		var f = document.frm;
		f.action = 'Mng_entry_detail.php?eid='+id;
		f.target = '_self';
		f.submit();
	}

	function f_edit(mode, id){
		var f = document.frm;

		if(mode == '1' || mode == '2'){
			var f = document.frm;
			var form_id = f.form_id.value;
			if(mode == '2'){
				f.action = '../Usr/form/Usr_entry.php?form_id='+ form_id + '&admin_flg=2&eid='+ id;
			}
			else{
				f.action = '../Usr/form/Usr_entry.php?form_id='+ form_id + '&admin_flg=2';
			}

			f.target = '_blank';
			f.submit();
		}

		if(mode == '2'){
			f.entry_id.value = id;
		}

		f.submit();
	}

	function f_back(id){
		var f = document.frm;

		f.act.value = 'search';
		f.action = 'index.php';
		f.submit();
	}

	function f_sendmail(){
		var f = document.frm;
		f.action = 'mail/Mng_mailsend.php';
		f.target = '_self';
		f.submit();
	}

	function f_status(stat){
		var f = document.frm;
		f.action = 'entry/Mng_edit_plural.php';
		f.target = '_self';
		f.set_stat.value = stat;

		f.submit();
	}

	function f_csv(num){
		var f = document.frm;

		f.action = 'Mng_entry_error.php';
		f.target = '_self';

		if(num == '1'){
			f.mode.value = 'entry_csv';
		}
		else if(num == '2'){
			f.mode.value = 'payment_csv';
		}
		else if(num == '3'){
			f.mode.value = 'all_csv';
		}

		f.submit();

	}

	function f_view(id){

	}


	function f_allcheck(){

		var f = document.frm;

		if(f.all.checked == true){
			var exec = true;
		}
		else{
			var exec = false;
		}

      var ElementsCount = f['eid' + '[]'].length; // チェックボックスの数
      for( i=0 ; i<ElementsCount ; i++ ) {
         f['eid' + '[]'][i].checked = exec; // ON・OFFを切り替え
      }
	}




</script>
{/literal}

<div class="ttl">
	<h2>銀聯決済ログ&nbsp;（{$GLOBALS.userData.form_name}）</h2>
</div>

<br />
<form name="frm" method="post">
<input type="hidden" name="page" value="" />
<input type="hidden" name="payment_method[]" value="3" />
<input type="hidden" name="invalid" value="1" />

<!--エラーメッセージ-->
{if $arrErr}
	<div class="errmsg">
	{foreach from=$arrErr item=err}
		<p>{$err|escape}</p>
	{/foreach}
	</div>
{/if}


<table class="listtbl">
	<tr>
		<th>登録No.</th>
		<td><input type="text" name="s_entry_no" size="20" value="{$arrForm.s_entry_no}" />～<input type="text" name="e_entry_no" size="20" value="{$arrForm.e_entry_no}" /></td>
	</tr>
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="user_name" size="50" value="{$arrForm.user_name}" /></td>
	</tr>
	<tr>
		<th>応募者名（カナ）</th>
		<td><input type="text" name="user_name_kana" size="50" value="{$arrForm.user_name_kana}" /></td>
	</tr>
	{if $GLOBALS.userData.lang == "2"}
	   {if $formitemview.60 != "1"}
		  <tr>
			 <th>国名</th>
			 <td><input type="text" name="country" size="50" value="{$arrForm.country}" /></td>
		  </tr>
        {/if}
       {if $formitemview.114 != "1"}
          <tr>
             <th>Country</th>
             <td>
                <select name="country_list">
                    <option value=""></option>
                    {html_options options=$GLOBALS.country selected=$arrForm.country_list}
                </select>            
             </td>
          </tr>
        {/if}        
	{/if}

	<tr>
		<th>有効/無効</th>
		<td>
			<input type="checkbox" name="invalid_flg1" value="1"{if $arrForm.invalid_flg1 == "1"} checked{/if} />有効
			<input type="checkbox" name="invalid_flg2" value="1"{if $arrForm.invalid_flg2 == "1"} checked{/if} />無効
		</td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>更新期間</th>
		<td>
			<select name="upd_syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.upd_syear}
			</select>年
			<select name="upd_smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.upd_smonth}
			</select>月
			<select name="upd_sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.upd_sday}
			</select>日～
			<select name="upd_eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.upd_eyear}
			</select>年
			<select name="upd_emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.upd_emonth}
			</select>月
			<select name="upd_eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.upd_eday}
			</select>日
		</td>
	</tr>
	<tr>
		<th>ソート順</th>
		<td>
			<select name="sort_name">
				{html_options options=$sort_name selected=$arrForm.sort_name}
			</select>&nbsp;の
			<select name="sort">
				{html_options options=$sort selected=$arrForm.sort}
			</select>
		</td>
	</tr>
</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit('');" />
	<input type="button" value="検索条件クリア" onclick="f_clear();" />
	<input type="button" value="エントリー情報CSV出力" onclick="f_csv('1');" />
	{if $GLOBALS.userData.type == "3"}
		<input type="button" value="決済情報CSV出力" onclick="f_csv('2');" />
		<input type="button" value="エントリー+決済情報CSV出力" onclick="f_csv('3');" />
	{/if}
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id" value="{$userData.form_id}" />
<br />
<p>登録件数： <b>{$arrData.count}</b>件</p>

{if $arrData.list}

<!--
	<div class="actionblock">
		<span class="rtop">
			<span class="r1"></span>
			<span class="r2"></span>
			<span class="r3"></span>
			<span class="r4"></span>
		</span>
		<p>一括処理</p>
		<p class="small">チェックしたエントリー情報に対して一括処理を行います</p>
		<p>
			<input type="button" value="初期状態戻す" onclick="f_status('2');" />
			{if $GLOBALS.userData.type == "1"}<input type="button" value="採択" onclick="f_status('1');" />

				<input type="button" value="不採択" onclick="f_status('3');" />
			{/if}

				<input type="button" value="キャンセル" onclick="f_status('99');" />
				<input type="button" value="メール送信" onclick="f_sendmail();" />
				<input type="button" value="削除" onclick="f_status('4');" />
				{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
				{$form.chg_status}
				<input type="button" value="ステータス変更" onclick="f_status('5');" />
			{/if}
		</p>

		<span class="rbottom">
			<span class="r4"></span>
			<span class="r3"></span>
			<span class="r2"></span>
			<span class="r1"></span>
		</span>

	</div>
-->

	<table class="listtbl">
		<tr>
			<th><input type="checkbox" name="all" value="" onclick="f_allcheck();" /></th>
			<th class="">登録No.</th>
			<th class="width280">応募者</th>
			{if $GLOBALS.userData.lang == "2"}
			     {if $formitemview.60 != "1"}
			         <th>国名</th>
			     {/if}    
			     {if $formitemview.114 != "1"}
			         <th>Country</th>
			     {/if}    
			{/if}

			<th>有効/無効</th>
			{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th>支払い方法</th>{/if}
			{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}<th>支払いステータス</th>{/if}
			<th width="10%">受付日</th>
			<th width="10%">更新日</th>
			<th class="width100">処理</th>
		</tr>

		{foreach from=$arrData.list item=entry}
		<tr>
			<td class="c">
				<input type="checkbox" name="eid[]" value="{$entry.eid}" />
			</td>
			<td>{$entry.entry_no}</td>
			<td>{$entry.edata1} {$entry.edata2}</td>
			{if $GLOBALS.userData.lang == "2"}
			     {if $formitemview.60 != "1"}
			         <td>{$entry.edata60}</td>
			     {/if}
			     {if $formitemview.114 != "1"}
			         <td>{$GLOBALS.country[$entry.edata114]}</td>
			     {/if}   
			 {/if}

			<td>{if $entry.invalid_flg == "0"}有効{else}無効{/if}</td>
			{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
				<td>{$GLOBALS.method_J[$entry.payment_method]}</td>
			{/if}
			{if $GLOBALS.userData.type == "3" && $GLOBALS.userData.credit != "0"}
				<td>{$GLOBALS.paymentstatusList[$entry.payment_status]}</td>
			{/if}
			<td>{$entry.rdate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td>{$entry.udate|date_format:"%Y-%m-%d %H:%M:%S"}</td>
			<td class="c" nowrap>
				<input type="button" value="詳細" onclick="f_detail('{$entry.eid}');" />
				<!--input type="button" value="編集" onclick="f_edit('2','{$entry.eid}');" /-->
				
				<!--<input type="button" value="削除" onclick="f_edit('3','{$entry.entry_id}');" />-->
			</td>
		</tr>
		{/foreach}

	</table>

	<input type="hidden" name="set_stat" value="" />

	{show_pager data=$pager}

{/if}
</form>
{include file="include/footer.html"}