<!--ファイルアップロード3-->
{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}


			<input type="file" name="edata53" size="40" value="" {attr} />
			<input type="hidden" name="n_data53" value="{$arrForm.n_data53}" />
			<input type="hidden" name="hd_file53" value="{$arrForm.hd_file53}" />
			<input type="hidden" name="file_upload53" value="{$arrForm.file_upload53}" />


			{if $arrForm.hd_file53 != ""}
				<br />
				{if $arrForm.n_data53 == $arrForm.hd_file53}
					<a href="javascript:f_down('53','1');">{$arrForm.hd_file53}</a>
				{else}
					<a href="javascript:f_down('53','2');">{$arrForm.hd_file53}</a>
				{/if}
				{if $_formItem.need != "1"}
					&nbsp;<input type="checkbox" name="file_del53" value="1"{if $arrForm.file_del53 == "1"} checked{/if} />Delete
				{/if}
			{/if}

		</td>
	</tr>
{/if}