{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
    </table>

		{*テキスト*}
		{if $_formItem.item_type == "0"}
			<input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr} />

		{*テキストエリア*}
		{elseif $_formItem.item_type == "1"}
			<textarea rows="{$_formItem.rows|default:"5"}" name="{$edata}" class="{$edata}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata}</textarea>

		{*ラジオ*}
		{elseif $_formItem.item_type == "2"}
			{foreach from=$_formItem.select key=s_key item=item name=select}
				<input type="radio" name="{$edata}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {attr} />{$item}{$_formItem.sep|default:"<br />"}
			{/foreach}

		{*チェックボックス*}
		{elseif $_formItem.item_type == "3"}
            <br/>
            <p id="edata71" class="c">
			{foreach from=$_formItem.select key=s_key item=item name=select}
				{assign var=key54 value=`$edata``$s_key`}
				<input type="checkbox" name="{$edata}{$s_key}" id="{$edata}{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm[$key54] == $s_key}checked{/if} {attr} />{$item}{$_formItem.sep|default:"<br />"}
			{/foreach}
            </p>

		{*セレクト*}
		{else $_formItem.item_type == "4"}
			<select name="{$edata}" class="{$edata}" {attr}>
				<option vlaue=""></option>
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
						<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
					{/if}
				{/foreach}
			</select>
		{/if}
{/if}
