<!--カナ(姓)-->
{if $formItem[35].disp != "1"}
	{assign var=key35 value=edata35`$smarty.section.counter.index`}
	{if $i == 0}
	{else}
	<tr>
		<td class="iname">
			{$formItem[35].item_name}{if $formItem[35].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key35]|escape}
		</td>
	</tr>
	{/if}
{/if}