<!--カナ(姓)-->
{if $formItem[35].disp != "1"}
	{assign var=key35 value=edata35`$smarty.section.counter.index`}
	{if $i == 0}
		<input type="hidden" name="edata35{$i}" value="{$arrForm[$key35]|escape}" />
	{else}
	<tr>
		<td class="iname">
			{$formItem[35].item_name}{if $formItem[35].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $formItem[35].item_memo != ""}{$formItem[35].item_memo}<br />{/if}
			<input type="text" name="edata35{$smarty.section.counter.index}" value="{$arrForm[$key35]|escape}" size="30" />
		</td>
	</tr>
	{/if}
{/if}