<!--カナ(名）-->
{if $formItem[36].disp != "1"}
	{assign var=key36 value=edata36`$smarty.section.counter.index`}
	{if $i == 0}
		<input type="hidden" name="edata36{$i}" value="{$arrForm[$key36]|escape}" />
	{else}
	<tr>
		<td class="iname">
			{$formItem[36].item_name}{if $formItem[36].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $formItem[36].item_memo != ""}{$formItem[36].item_memo}<br />{/if}
			<input type="text" name="edata36{$smarty.section.counter.index}" value="{$arrForm[$key36]|escape}" size="30" />
		</td>
	</tr>
	{/if}
{/if}