<!--所属機関-->
{if $formItem[32].disp != "1"}
	{assign var=key32 value=edata32`$smarty.section.counter.index`}
	{assign var=sel32 value=$arrForm[$key32]}
	<tr>
		<td class="iname">
			{$formItem[32].item_name}{if $formItem[32].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{foreach from=$arrForm.kikanlist key=s_key item=item name=select}
				{assign var=chk32 value=$key32`$s_key`}

				{if $arrForm[$chk32] == $s_key}{$item|escape}<br />{/if}
			{/foreach}
		</td>
	</tr>
{/if}