{assign var=edata    value="edata`$item_id`"}
{assign var=n_data   value="n_data`$item_id`"}
{assign var=hd_file  value="hd_file`$item_id`"}
{assign var=file_del value="file_del`$item_id`"}

{if $_formItem.disp != "1"}
	<!--ファイルアップロード1-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

		</td>
		<td>
			{$arrForm.$hd_file}
		</td>
	</tr>
{/if}
