<!--メールアドレス-->
{if $formItem[40].disp != "1"}
	{assign var=key40 value=edata40`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[40].item_name}{if $formItem[40].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key40]|escape}
		</td>
	</tr>
{/if}