{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--発表形式-->
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{assign var="data" value=$arrForm.$edata}
			{$_formItem.select[$data]}
		</td>
	</tr>
{/if}
