<!--氏名１(英語表記)-->
{if $formItem[37].disp != "1"}
	{assign var=key37 value=edata37`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[37].item_name}{if $formItem[37].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key37]|escape}
		</td>
	</tr>
{/if}