<!--会員番号-->
{if $formItem[42].disp != "1"}
	{assign var=key42 value=edata42`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[42].item_name}{if $formItem[42].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key42]|escape}
		</td>
	</tr>
{/if}