<!--カナ(名）-->
{if $formItem[36].disp != "1"}
	{assign var=key36 value=edata36`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[36].item_name}{if $formItem[36].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key36]|escape}
		</td>
	</tr>
{/if}