{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<!--所属機関名(英語表記)	-->
	<tr>

		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm.$edata|escape}
		</td>
	</tr>
{/if}
