<!--氏名２(英語表記)-->
{if $formItem[38].disp != "1"}
	{assign var=key38 value=edata38`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[38].item_name}{if $formItem[38].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key38]|escape}
		</td>
	</tr>
{/if}