<!--氏名３(英語表記）-->
{if $formItem[39].disp != "1"}
	{assign var=key39 value=edata39`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[39].item_name}{if $formItem[39].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key39]|escape}
		</td>
	</tr>
{/if}