{* 入力した数　ループ *}
{section name=counter loop=$arrForm.edata30+1 start=$author_start_index}
{assign var=i value=`$smarty.section.counter.index`}


{if $i == 0}
	<div class="bname g{$i}">{$GLOBALS.msg.entrant}</div>
{elseif $i == 1}
	{* ブロック2 *}
	{if $formData.group2 != ""}
		<div class="bname g{$i}">{$formData.group2}</div>
	{/if}

	{* ブロック2説明 *}
	{if $formWord.word6 != ""}
		<div class="bcomment">{$formWord.word6|nl2br}</div>
	{/if}
{/if}


	<table class="rtbl g{$i}">
	{if $i != 0}<tr>
		<td class="iname" colspan="2">
		
		<label>
		<input type="checkbox" name="group2_del[]" value="{$i}"{$arrForm.group2_del|@md_checked:$i} />
		{$GLOBALS.msg.btn_delete}</label>
		
		</td>
	</tr>{/if}

	{assign var="group_id" value="2"}

	{setIncFormItem type="0"}
	{foreach from=$arrItemData.$group_id key=_key item=_formItem}
		{assign var="item_id" value=$_formItem.item_id}

		{* 2次編集不可 *}
		{if $_formItem.disp == "2"}
			{assign var=edata    value="edata`$item_id`"}
			{assign var=data     value=$arrForm.$edata}

			{* 任意項目 *}
			{if $_formItem.controltype == "1"}
				{include file="Usr/form/parts/parts/_group`$group_id`Nini_confirm.html" item_id=$item_id}
			{* 標準項目 *}
			{else}
				{include file="Usr/form/parts/parts/`$lang`/confirm/formItem`$item_id`_confirm_`$lang`.html" item_id=$item_id}
			{/if}

		{* 通常 *}
		{elseif $_formItem.disp != "1"}
			{* カスタマイズあり *}
			{if $exitems.$item_id}
				{include file=$exitems.$item_id item_id=$item_id}

			{* カスタマイズなし *}
			{else}
				{* 任意項目 *}
				{if $_formItem.controltype == "1"}
					{include file="Usr/form/parts/parts/_group`$group_id`Nini.html" item_id=$item_id}

				{* 標準項目 *}
				{else}
					{include file="Usr/form/parts/parts/`$lang`/formItem`$item_id`_`$lang`.html" item_id=$item_id}
				{/if}
			{/if}
		{/if}
	{/foreach}
</table>
<br class="g{$i}" />
{/section}