{assign var="group_id" value="3"}
{setIncFormItem type="1"}


{* グループ3-1 *}
{if $group3use.1 && $formData.arrgroup3.0|strlen > 0}<div class="bname">{$formData.arrgroup3.0}</div>{/if}

<table class="rtbl">
{foreach from=$group3item.0 key=_key item=item_id}
	{assign var="_formItem" value=$arrItemData.$group_id.$item_id}

	{if $_formItem.disp != "1"}
		{* カスタマイズあり *}
		{if $exitems.$item_id}
			{include file=$exitems.$item_id item_id=$item_id}

		{* カスタマイズなし *}
		{else}
			{* 任意項目 *}
			{if $_formItem.controltype == "1"}
				{include file="Usr/form/parts/parts/_group`$group_id`Nini_confirm.html" item_id=$item_id}

			{* 標準項目 *}
			{else}
				{include file="Usr/form/parts/parts/`$lang`/confirm/formItem`$item_id`_confirm_`$lang`.html" item_id=$item_id}
			{/if}
		{/if}
	{/if}
{/foreach}
</table>
<br/>


{* グループ3-2 *}
{if $group3use.2 && $formData.arrgroup3.1|strlen > 0}<div class="bname">{$formData.arrgroup3.1}</div>{/if}

<table class="rtbl">
{foreach from=$group3item.1 key=_key item=item_id}
	{assign var="_formItem" value=$arrItemData.$group_id.$item_id}

	{if $_formItem.disp != "1"}
		{* カスタマイズあり *}
		{if $exitems.$item_id}
			{include file=$exitems.$item_id item_id=$item_id}

		{* カスタマイズなし *}
		{else}
			{* 任意項目 *}
			{if $_formItem.controltype == "1"}
				{include file="Usr/form/parts/parts/_group`$group_id`Nini_confirm.html" item_id=$item_id}

			{* 標準項目 *}
			{else}
				{include file="Usr/form/parts/parts/`$lang`/confirm/formItem`$item_id`_confirm_`$lang`.html" item_id=$item_id}
			{/if}
		{/if}
	{/if}
{/foreach}
</table>
<br/>


{* グループ3-3 *}
{if $group3use.3 && $formData.arrgroup3.2|strlen > 0}<div class="bname">{$formData.arrgroup3.2}</div>{/if}

<table class="rtbl">
{foreach from=$group3item.2 key=_key item=item_id}
	{assign var="_formItem" value=$arrItemData.$group_id.$item_id}

	{if $_formItem.disp != "1"}
		{* 任意項目 *}
		{if $_formItem.controltype == "1"}
			{* カスタマイズあり *}
			{if $exitems.$item_id}
				{include file=$exitems.$item_id item_id=$item_id}

			{* カスタマイズなし *}
			{else}
				{include file="Usr/form/parts/parts/_group`$group_id`Nini_confirm.html" item_id=$item_id}
			{/if}
		{/if}
	{/if}
{/foreach}
</table>
