{* 入力した数　ループ *}
{section name=counter loop=$arrForm.edata30+1 start=$author_start_index}
{assign var=i value=`$smarty.section.counter.index`}

	{if $i == "0"}
		<div class="bname g{$i} g{$i}_confirm">{$GLOBALS.msg.entrant}</div>
	{elseif $i == "1"}
	{if $formData.group2 != ""}
		<div class="bname g{$i} g{$i}_confirm">{$formData.group2}</div>
	{/if}
	{/if}


	<table class="rtbl g{$i} g{$i}_confirm">
	{if $arrForm.group2_del}
		{if $i|in_array:$arrForm.group2_del} 
		<tr>
			<td class="iname">{$GLOBALS.msg.btn_delete}</td>
			<td><span class="red">{$GLOBALS.msg.btn_delete}</span></td>
		</tr>
		{/if}
	{/if}


	{assign var="group_id" value="2"}

	{setIncFormItem type="1"}
	{foreach from=$arrItemData.$group_id key=_key item=_formItem}
		{assign var="item_id" value=$_formItem.item_id}

		{if $_formItem.disp != "1"}
			{* カスタマイズあり *}
			{if $exitems.$item_id}
				{include file=$exitems.$item_id item_id=$item_id}

			{* カスタマイズなし *}
			{else}
				{* 任意項目 *}
				{if $_formItem.controltype == "1"}
					{include file="Usr/form/parts/parts/_group`$group_id`Nini_confirm.html" item_id=$item_id}

				{* 標準項目 *}
				{else}
					{include file="Usr/form/parts/parts/`$lang`/confirm/formItem`$item_id`_confirm_`$lang`.html" item_id=$item_id}
				{/if}
			{/if}
		{/if}
	{/foreach}


	</table>
	<br class="g{$i} g{$i}_confirm" />
{/section}