{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

</div>

<div id="FormTtl">{$fData.form_name}</div>
<br />

<form name="frm" method="post" action="/cfp/Usr/Usr_login16.php">
<input type="hidden" name="form_id" value="16" />
<input type="hidden" name="mode" value="login" />
	<div id="Login">
		<p class="l">The first author must complete the registration before abstract submission.<br />
		Please enter the submission form by using your Registration No. and submission code you created during registration.</p>
		{show_err var=$arrErr}
		<br />
		<table>
			<tr>
				<td class="r">Registration No.:&nbsp;</td>
				<td><input type="text" name="login_id" value="{$arrForm.login_id}" size="30" /></td>
			</tr>
			<tr>
				<td class="r">Abstract Submission Code:&nbsp;</td>
				<td><input type="password" name="login_passwd" value="{$arrForm.login_passwd}" size="30" /></td>
			</tr>
		</table>
		<div class="btn">
			<input type="submit" value="{$GLOBALS.msg.btn_login}" name="submit" />
		</div>
	</div>

{*<br /><br />
<!-- フッター-->
<div class="footer">{$fData.contact|nl2br}</div>*}
</form>
{include file="include/usr_footer.html"}