{include file="include/usr_header.html" _title="`$fData.form_name``$_title`"}

<div class="header">

	{if $fData.head_image}
		<img src="{$smarty.const.IMG_URL}header/{$fData.head_image}" border="0" />
	{/if}

	</div>

	<div id="FormTtl">{$fData.form_name}</div>
	<br />


<form name="frm" method="post" action=>
<input type="hidden" name="form_id" value="{$fData.form_id}" />
<input type="hidden" name="mode" value="login" />
	<div id="Login">
		<p>{$msg}</p>
		{show_err var=$arrErr}
		<br />
		<table>
			<tr>
				<td class="r">{$GLOBALS.msg.login_id}：</td>
				<td><input type="text" name="login_id" value="{$arrForm.login_id}" size="30" autocomplete="off" /></td>
			</tr>
			<tr>
				<td class="r">{$GLOBALS.msg.login_passwd}：</td>
				<td><input type="password" name="password" value="{$arrForm.password}" size="30" autocomplete="off" /></td>
			</tr>
		</table>
		<div class="btn">
			<input type="submit" value="{$GLOBALS.msg.btn_login}" name="submit" />
		</div>

{*		{if $form_id != 78}
			<p>※ID、パスワードをお持ちでない方は&nbsp;<a href="./form/Usr_entry.php?form_id={$fData.form_id}">こちら</a>&nbsp;から</p>
		{/if}
		<p>※パスワードを忘れた方は&nbsp;<a href="./form/Usr_reissue.php?form_id={$fData.form_id}&mode=reissue">こちら</a>&nbsp;から</p>*}
	</div>

{*<br /><br />
<!-- フッター-->
<div class="footer">{$fData.contact|nl2br}</div>*}
</form>
{include file="include/usr_footer.html"}