{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
			{/if}
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}


			{*テキスト*}
			{if $_formItem.item_type == "0"}
				<input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr} />

			{*テキストエリア*}
			{elseif $_formItem.item_type == "1"}
				<textarea rows="{$_formItem.rows|default:"5"}" name="{$edata}" class="{$edata}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata}</textarea>

			{*ラジオ*}
			{elseif $_formItem.item_type == "2"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					<input type="radio" name="{$edata}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {attr} />{$item}{$_formItem.sep|default:"<br />"}
				{/foreach}

			{*チェックボックス*}
			{elseif $_formItem.item_type == "3"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var=key54 value=`$edata``$s_key`}
					<input type="checkbox" name="{$edata}{$s_key}" id="{$edata}{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm[$key54] == $s_key}checked{/if} {attr} />{$item}{$_formItem.sep|default:"<br />"}
				{/foreach}

			{*セレクト*}
			{else $_formItem.item_type == "4"}
				<select name="{$edata}" class="{$edata}" {attr}>
					<option vlaue=""></option>
					{foreach from=$_formItem.select key=s_key item=item name=select}
						{if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
							<option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
						{/if}
					{/foreach}
				</select>
			{/if}


{if $useNameList}
<script language="javascript">
{literal}
$(function(){
	var isList = {/literal}{$inList};{literal}
	$(".edata55").prop("disabled", true);
	if(isList == 1){
	    $(".edata54").bind("change", function(){
	        var chk = $(this).filter(":checked").val();
	        if(typeof chk == 'undefined') return;
			$(".edata55").prop("disabled", true);
	        chk = parseInt(chk);  // convert to integer

			if(chk == 1) $(".edata55").prop("disabled", false);
	    }).change();
	}
});
</script>
{/literal}
{/if}
		</td>
	</tr>
{/if}
