<!--抄録本文英語-->
{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			<textarea name="edata50" id="edata50" rows="10" cols="85">{$arrForm.edata50|escape}</textarea>
			<br/>
			Enter <span id="word50"></span>&nbsp;words.

{literal}
<script language="javascript">
(function(){
	var area = document.getElementById('edata50');
	Countable.live(area, function(counter){
	     document.getElementById("word50").innerHTML = counter['words']
	});
})();
</script>
{/literal}

		</td>
	</tr>
{/if}