{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	<tr>
		{if $formData.group3_layout != "1"}
			<td class="iname">
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
				<br/>
				<br/>
				<input type="button" value="Reset" id="btn_edata56"><br/>
				(To reselect topics, please click this button and clear the choices .)
			</td>
		{/if}
		<td {if $formData.group3_layout == "1"}colspan="2"{/if}>
			{if $formData.group3_layout == "1"}
				{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
			{/if}

			{*テキスト*}
			{if $_formItem.item_type == "0"}
				<input type="text" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" size="{$_formItem.size|default:"40"}" {attr} />

			{*テキストエリア*}
			{elseif $_formItem.item_type == "1"}
				<textarea rows="{$_formItem.rows|default:"5"}" name="{$edata}" class="{$edata}" cols="{$_formItem.cols|default:"85"}" {attr}>{$arrForm.$edata}</textarea>

			{*ラジオ*}
			{elseif $_formItem.item_type == "2"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					<input type="radio" name="{$edata}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {attr} />{$item}{$_formItem.sep|default:"<br />"}
				{/foreach}

			{*チェックボックス*}
			{elseif $_formItem.item_type == "3"}
				{foreach from=$_formItem.select key=s_key item=item name=select}
					{assign var=key54 value=`$edata``$s_key`}
					<input type="checkbox" name="{$edata}{$s_key}" id="{$edata}{$s_key}" class="{$edata}" value="{$s_key}" {if $arrForm[$key54] == $s_key}checked{/if} {attr} />{$item}{$_formItem.sep|default:"<br />"}
				{/foreach}

			{*セレクト*}
			{else $_formItem.item_type == "4"}
				{if $_formItem.item_memo != ""}<span class="edata56_ttl">{$_formItem.item_memo}:</span>{/if}
				{assign var=data value=$arrForm.$edata}
				<input type="hidden" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" />
				<input type="text" name="_{$edata}" class="_{$edata}" value="{$_formItem.select[$data]}" size="{$_formItem.size|default:"40"}" readonly="readonly" /><br/>


				{edataXX group_id=$group_id item_id=106}
				{if $_formItem.item_memo != ""}<span class="edata56_ttl">{$_formItem.item_memo}:</span>{/if}
				{assign var=data value=$arrForm.$edata}
				<input type="hidden" name="{$edata}" class="{$edata}" value="{$arrForm.$edata|escape}" />
				<input type="text" name="_{$edata}" class="_{$edata}" value="{$_formItem.select[$data]}" size="{$_formItem.size|default:"40"}" readonly="readonly" /><br/>

				<p>Please choose a category from the list as below.</p>

				{edataXX group_id=$group_id item_id=56}
				<dl class="glowselect">
				{foreach from=$_formItem.arrayselect key=s_key item=item name=select}
					{* 見出し *}{if $item|substr:1:1 == 1}
						{assign var="parent_key" value=$s_key}
						{$_formItem.select.$s_key|string_format:"<dt class='level$parent_key'>%s<span class='operation'></span></dt>"}
					{/if}

					{* 選択肢 *}{if $item|substr:1:1 == 2}
						{$_formItem.select.$s_key|string_format:"<dd class='level$parent_key'><span>$s_key</span>%s</dd>"}
					{/if}
				{/foreach}
				</dl>
{literal}
<style>
dl.glowselect {
	border-top  :1px solid #CFD3D9;
	border-left :1px solid #CFD3D9;
	border-right:1px solid #CFD3D9;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

dl.glowselect dt {
	background-color: #E9EEF9;
	color: black;
	display: block;
	padding: 4px 0;
	padding-left: 10px;
	text-decoration: none;
	height:16px;
}

dl.glowselect dt .operation {
	background-attachment: fixed;
	background: url(../../htdocs/js/images/ui-icons_228ef1_256x240.png) repeat-x bottom left;
	background-repeat: no-repeat;
	background-position: -35px -130px;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	display: block;
	text-align: right;
	margin-top: -16px;
	margin-left: auto;

}

dl.glowselect dt,
dl.glowselect dd {
	cursor: pointer;
	border-bottom: 1px solid #CFD3D9;
}

dl.glowselect dd {
	display:none;
	padding: 3px 0 3px 30px;
	margin: 0;
}

dl.glowselect dd span { display:none; }

</style>
<script language="javascript">
$(function(){
    $("dl.glowselect dt").hover(function(){
        $(this).css("background-color", "#D6E1FA");
    },function(){
        $(this).css("background-color", "#E9EEF9");
    });
    $("dl.glowselect dd").hover(function(){
        $(this).css("background-color", "#F7F7F7");
    },function(){
        $(this).css("background-color", "#FFFFFF");
    });

	$("dl.glowselect dt").bind("click", function(){
		var element = $(this).attr('class');
		var bf = $("dl.glowselect dd#active").attr("class");
		$("dl.glowselect dd#active").slideToggle("fast").removeAttr("id");
		$(".operation").css("background-position", "-35px -130px");
		if(bf == element) return;
		$("dd."+element).attr("id", "active").slideToggle("fast");
		$("dt."+element+" .operation").css("background-position", "-65px -130px");
	});

	$("dl.glowselect dd").bind("click", function(){
		var s_key  = $("span", this).text();
		var s_name = $(this).html().replace(/<span>.*?<\/span>/gi,'');
		var s_name = s_name.replace(/\&amp\;/gi,'&');

		if($(".edata56").val().length == 0){
			$(".edata56").val(s_key);
			$("._edata56").val(s_name);
		}else if($(".edata106").val().length == 0){
			$(".edata106").val(s_key);
			$("._edata106").val(s_name);
		}
	});

	$("#btn_edata56").bind("click", function(){
		$(".edata56").val("");	$("._edata56").val("");
		$(".edata106").val("");	$("._edata106").val("");
	});

});
</script>
{/literal}
			{/if}

		</td>
	</tr>
{/if}
