<!--Title (Prof.・Dr.・Mr.・Ms.)-->
{if $formItem[61].disp != "1"}
	{assign var=key61 value=edata61`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[61].item_name}{if $formItem[61].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{assign var=title61 value=$arrForm[$key61]}
			{$GLOBALS.titleList[$title61]}
		</td>
	</tr>
{/if}