<!--middle名-->
{if $_formItem.disp != "1"}
	{assign var=key62 value=edata62`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{$arrForm[$key62]|escape}
		</td>
	</tr>
{/if}