<!--Title (Prof.・Dr.・Mr.・Ms.)-->
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>
            {$GLOBALS.titleList[$arrForm.edata57]}
        </td>
    </tr>
{/if}
