<!--共著者の有無-->
{if $formItem[29].disp != "1"}
    <!--共著者の数-->
    {if $formItem[30].disp != "1"}
        <tr>
            <td class="iname">
                {$formItem[30].item_name}{if $formItem[30].need == "1"}<span class="red">&nbsp;*</span>{/if}
            </td>
            <td>
                {$arrForm.edata30|escape}
            </td>
        </tr>
    {/if}
{/if}
