<!-- mei -->
{if $formItem[34].disp != "1"}
	{assign var=key34 value=edata34`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[34].item_name}{if $formItem[34].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{$arrForm[$key34]|escape}
		</td>
	</tr>
{/if}