<!-- member -->
{if $formItem[41].disp != "1"}
	{assign var=key41 value=edata41`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[41].item_name}{if $formItem[41].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $arrForm[$key41] == "1"}
				{$va_kaiin[1]}

			{else}
				{$va_kaiin[2]}
			{/if}

		</td>
	</tr>
{/if}
