<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>


        {foreach from=$dispDOB key=__key item=item_id}
			{edataXX group_id=$group_id item_id=$item_id}
			{if $_formItem.disp != "1" &&  $_formItem.item_type == "4"}
				{assign var=key value="edata`$item_id`"}
				{include file="Mng/entry/include_detail.html"
						 val=$arrData[$key]
					     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
				}
                {if $_formItem.item_memo != ""}{if $item_id !=63}/{/if}&nbsp;{/if}
			{/if}
        {/foreach}
	</td>
</tr>
