<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}

		{foreach from=$references55 item=item}
		{edataXX group_id=$group_id item_id=$item}
			{assign var="key" value="edata`$item`"}
			{if $_formItem.item_type == "0"}
				{if $arrData[$key]|strlen > 0}<br/>{$arrData[$key]}{/if}
			{/if}
		{/foreach}

	</td>
</tr>