{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_back(){
		var f = document.frm;

		f.action = 'Sys_formadmin.php';
		f.submit();
	}

	function f_next(){
		var f = document.frm;
		f.action = 'Sys_formadmin_edit.php';
		f.mode.value='confirm';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>管理者設定（{$formdata.form_name}）</h2>
</div>

<br />
<form name="frm" method="post" autocomplete="off">
<input type="hidden" name="formadmin_id" value="{$arrForm.formadmin_id|escape}" />
<input type="hidden" name="user_id" value="{$arrForm.user_id|escape}" />
<input type="hidden" name="form_id" value="{$arrForm.form_id|escape}" />
<input type="hidden" name="mode" value="" />
<input type="hidden" name="lock_reset" value="{$arrForm.lock_reset|escape}" />


	<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}


■管理者{if $arrForm.formadmin_id == ""}新規登録{else}{if $arrForm.lock_reset == 1}ロック解除{else}編集{/if}{/if}<br /><br />
<table class="listtbl">
	<tr>
		<th width="150">ログインID</th>
		<td>
			<input name="login_id" type="text" value="{$arrForm.login_id|escape}" />
		</td>
	</tr>
	<tr>
		<th width="150">パスワード</th>
		<td>
			<input name="password" type="password" value="{$arrForm.password|escape}" />
		</td>
	</tr>
	<tr>
		<th width="150">パスワード(確認用)</th>
		<td>
			<input name="password2" type="password" value="{$arrForm.password2|escape}" />
		</td>
	</tr>
</table>
<br />

<div class="btn">
	<input name="backbtn" type="button" value="管理者一覧へ戻る" onclick="f_back();" />
	<input name="nextbtn" type="button" value="次へ" onclick="f_next();" />
</div>

</form>

{include file="include/footer.html"}