{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_back(id){
		var f = document.frm;

		f.action = 'Sys_formlist.php';
		f.submit();
	}

	function f_next(){
		var f = document.frm;
		f.action = 'Sys_word.php';
		f.mode.value='confirm';
		f.submit();
	}

	function f_open(){

		var f = document.frm;
		var url = './Sys_word_replace.php';

		newwin=window.open(url, 'WIN', 'width=900, height=500, menubar=no, toolbar=no, scrollbars=yes');

		newwin.focus();
	}
</script>
{/literal}

<div class="ttl">
	<h2>各種文言設定（{$formdata.form_name}）</h2>
</div>

<br />
<form name="frm" method="post">

	<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}


■文言設定<br /><br />
<table class="listtbl">
	<tr>
		<th width="150">フォーム表示タイトル</th>
		<td>
			<textarea name="word14" cols="80" rows="4">{$arrForm.word14}</textarea>
		</td>
	</tr>

	<tr>
		<th width="150">登録完了画面</th>
		<td>
			※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。<br />
			<textarea name="word1" cols="80" rows="4">{$arrForm.word1}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">編集完了画面</th>
		<td>
			※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。<br />
			<textarea name="word2" cols="80" rows="4">{$arrForm.word2}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">メール差出人名</th>
		<td>
			<input type="text" name="word13" value="{$arrForm.word13}" size="50" />
		</td>
	</tr>
	<tr>
		<th width="150">登録完了メール</th>
		<td>
			※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。<br />
			<textarea name="word3" cols="80" rows="4">{$arrForm.word3}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">登録完了メールタイトル</th>
		<td>
			<textarea name="word11" cols="80" rows="4">{$arrForm.word11}</textarea>
		</td>
	</tr>

	<tr>
		<th width="150">編集完了メール</th>
		<td>
			※置き換え文字を使用する場合は、<a href="javascript:f_open();">こちらの一覧</a>に記載されている文字列を使用してください。<br />
			<textarea name="word4" cols="80" rows="4">{$arrForm.word4}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">編集完了メールタイトル</th>
		<td>
			<textarea name="word12" cols="80" rows="4">{$arrForm.word12}</textarea>
		</td>
	</tr>

	<tr>
		<th width="150">グループ１　説明</th>
		<td>
			<textarea name="word5" cols="80" rows="4">{$arrForm.word5}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">グループ１　ページ下部のコメント</th>
		<td>
			<textarea name="word17" cols="80" rows="4">{$arrForm.word17}</textarea>
		</td>
	</tr>

	<tr>
		<th width="150">グループ2　説明</th>
		<td>
			<textarea name="word6" cols="80" rows="4">{$arrForm.word6}</textarea>
		</td>
	</tr>

	<tr>
		<th width="150">グループ2　ページ下部のコメント</th>
		<td>
			<textarea name="word18" cols="80" rows="4">{$arrForm.word18}</textarea>
		</td>
	</tr>

	<tr>
		<th width="150">グループ3　説明</th>
		<td>
			<textarea name="word7" cols="80" rows="4">{$arrForm.word7}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">グループ3　ページ下部のコメント</th>
		<td>
			<textarea name="word19" cols="80" rows="4">{$arrForm.word19}</textarea>
		</td>
	</tr>
<!--
	<tr>
		<th width="150">支払金額　説明</th>
		<td>
			<textarea name="word8" cols="80" rows="4">{$arrForm.word8}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">支払方法　説明</th>
		<td>
			<textarea name="word9" cols="80" rows="4">{$arrForm.word9}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">支払情報　説明</th>
		<td>
			<textarea name="word10" cols="80" rows="4">{$arrForm.word10}</textarea>
		</td>
	</tr>
	
	
    <tr>
        <th width="150">カード会社　説明</th>
        <td>
            <textarea name="word31" cols="80" rows="4">{$arrForm.word31}</textarea>
        </td>
    </tr>	
	
    <tr>
        <th width="150">クレジットカード番号　説明</th>
        <td>
            <textarea name="word32" cols="80" rows="4">{$arrForm.word32}</textarea>
        </td>
    </tr>   	
    <tr>
        <th width="150">有効期限　説明</th>
        <td>
            <textarea name="word33" cols="80" rows="4">{$arrForm.word33}</textarea>
        </td>
    </tr>   	
    <tr>
        <th width="150">カード名義人　説明</th>
        <td>
            <textarea name="word34" cols="80" rows="4">{$arrForm.word34}</textarea>
        </td>
    </tr>  
    <tr>
        <th width="150">セキュリティコード　説明</th>
        <td>
            <textarea name="word35" cols="80" rows="4">{$arrForm.word35}</textarea>
        </td>
    </tr> 
     	
	<tr>
		<th width="150">銀行振込　説明</th>
		<td>
			<textarea name="word15" cols="80" rows="4">{$arrForm.word15}</textarea>
		</td>
	</tr>
    <tr>
        <th width="150">お振り込み人名義　コメント</th>
        <td>
            <textarea name="word28" cols="80" rows="4">{$arrForm.word28}</textarea>
        </td>
    </tr>	
    <tr>
        <th width="150">お支払銀行名　コメント</th>
        <td>
            <textarea name="word29" cols="80" rows="4">{$arrForm.word29}</textarea>
        </td>
    </tr>   	
    <tr>
        <th width="150">お振り込み日　コメント</th>
        <td>
            <textarea name="word30" cols="80" rows="4">{$arrForm.word30}</textarea>
        </td>
    </tr>   	
	
	<tr>
		<th width="150">クレジット　説明</th>
		<td>
			<textarea name="word16" cols="80" rows="4">{$arrForm.word16}</textarea>
		</td>
	</tr>
-->
	<tr>
		<th width="150">エントリー開始前メッセージ</th>
		<td>
			<textarea name="word26" cols="80" rows="4">{$arrForm.word26}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">エントリー終了メッセージ</th>
		<td>
			<textarea name="word27" cols="80" rows="4">{$arrForm.word27}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">審査期間中メッセージ</th>
		<td>
			<textarea name="word37" cols="80" rows="4">{$arrForm.word37}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">確認画面メッセージ：新規登録用</th>
		<td>
			<textarea name="word38" cols="80" rows="4">{$arrForm.word38}</textarea>
		</td>
	</tr>
	<tr>
		<th width="150">確認画面メッセージ：編集用</th>
		<td>
			<textarea name="word39" cols="80" rows="4">{$arrForm.word39}</textarea>
		</td>
	</tr>
</table>
<br />

■背景色・フォントカラー設定<br /><br />
<table class="listtbl">
	<tr>
		<th width="200">各ブロックの見出し　背景色</th>
		<td>
			<input type="text" name="word20" value="{$arrForm.word20}" />
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックの見出し　ボーダーカラー</th>
		<td>
			<input type="text" name="word24" value="{$arrForm.word24}" />
		</td>
	</tr>

	<tr>
		<th width="200">各ブロックの見出し　フォントカラー</th>
		<td>
			<input type="text" name="word21" value="{$arrForm.word21}" />
		</td>
	</tr>

	<tr>
		<th width="200">各ブロックtableヘッダ　背景色</th>
		<td>
			<input type="text" name="word22" value="{$arrForm.word22}" />
		</td>
	</tr>

	<tr>
		<th width="200">各ブロックtableヘッダ　ボーダーカラー</th>
		<td>
			<input type="text" name="word25" value="{$arrForm.word25}" />
		</td>
	</tr>
	<tr>
		<th width="200">各ブロックtableヘッダ　フォントカラー</th>
		<td>
			<input type="text" name="word23" value="{$arrForm.word23}" />
		</td>
	</tr>

</table>
<br />

<div class="btn">
	<input type="button" value="フォーム一覧へ戻る" onclick="f_back();" />
	<input type="button" value="次へ" onclick="f_next();" />
</div>

<input type="hidden" name="user_id" value="{$arrForm.user_id}" />
<input type="hidden" name="form_id" value="{$arrForm.form_id}" />
<input type="hidden" name="mode" value="" />
</form>

{include file="include/footer.html"}