{include file="include/header.html"}

{literal}
<script language="JavaScript">
	
	function f_back(id){
		var f = document.frm;
		
		f.action = 'Sys_formlist.php';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>URL（{$userData.user_name}）</h2>
</div>

<br />
<form name="frm" method="post">
<table class="listtbl">
	<tr>
		<th width="150">新規応募ページ</th>
		<td><input type="text" name="new" value="{$smarty.const.URL_ROOT}Usr/form/Usr_entry.php?form_id={$arrForm.form_id}" readonly size="70" />
	<a href="{$smarty.const.URL_ROOT}Usr/form/Usr_entry.php?form_id={$arrForm.form_id}" target="_blank">アクセス</a>
</td>
	</tr>
	<tr>
		<th>編集（ログインページ）</th>
		<td><input type="text" name="new" value="{$smarty.const.URL_ROOT}Usr/Usr_login.php?form_id={$arrForm.form_id}" readonly size="70" />
		</td>
	</tr>
</table>

<div class="btn">
	<input type="button" value="フォーム一覧へ戻る" onclick="f_back();" />
</div>

<input type="hidden" name="user_id" value="{$arrForm.user_id}" />

</form>

{include file="include/footer.html"}