{include file="include/header.html" onload="hiddenform()"}

{literal}
<script language="JavaScript">
	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'back';
		f.submit();
	}
</script>
{/literal}

<div class="ttl">
	<h2>フォーム複製　確認画面</h2>
</div>
<br />


<form name="frm" method="post" action="?">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id" value="{$arrCopyBase.form_id}" />
{foreach from=$arrForm key=_key item=_item}
	<input type="hidden" name="{$_key}" value="{$_item}" />
{/foreach}

<div>■複製元フォーム基本情報</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td>{$arrCopyBase.form_name}</td>
	</tr>
	<tr>
		<th class="width150">言語</th>
		<td>{if $arrCopyBase.lang == "1"}日本語{/if}
			{if $arrCopyBase.lang == "2"}英語{/if}
		</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td>{$arrCopyBase.head}</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>{$arrCopyBase.form_mail}</td>
	</tr>
	<tr>
		<th>フォーム種別</th>
			{assign var="_type"  value=$arrCopyBase.type}
		<td>{$GLOBALS.formtypeList[$_type]}</td>
	</tr>
	<tr>
		<th>決済システム</th>
			{assign var="_credit"  value=$arrCopyBase.credit}
		<td id="type3_1">{$GLOBALS.credittypeList[$_credit]}</td>
	</tr>
</table>
<br />
<br />
<br />
<br />


{show_err var=$arrErr}

<div>■複製先フォーム　ユーザ設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">ユーザ区分</th>
		<td>
			{if $arrForm.user_type == "1"}既存ユーザ{/if}
			{if $arrForm.user_type == "2"}新規登録{/if}
		</td>
	</tr>
	<tr>
		<th class="width150">ユーザ名</th>
		<td>
			{if $arrForm.user_type == "1"}
				{assign var="user_id" value=$arrForm.user_id}
				{$arrUser[$user_id]}
			{/if}

			{if $arrForm.user_type == "2"}
				{$arrForm.user_name}
			{/if}
		</td>
	</tr>
</table>
<br />
<br />


<div>■複製先フォーム　基本情報設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td>{$arrForm.form_name}</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td>{$arrForm.head}</td>
	</tr>
	<tr>
		<th class="width150">ログインID</th>
		<td>{$arrForm.login_id}</td>
	</tr>
	<tr>
		<th class="width150">パスワード</th>
		<td>********</td>
	</tr>
</table>



<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="完了" onclick="f_submit();" />
</div>




</form>
{include file="include/footer.html"}