{include file="include/header.html" onload="hiddenform()"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'confirm';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.action = 'Sys_formlist.php';
		f.submit();
	}
	function hiddenform() {
		var radioList = document.getElementsByName("type");
		var i;
		for(i = 0; i < radioList.length; i++){
			if (radioList[i].checked) {
				val = radioList[i].value;
				active(val);
				break;
			}
		}
		var radioList = document.getElementsByName("auto_change_flg");
		var i;
		for(i = 0; i < radioList.length; i++){
			if (radioList[i].checked) {
				val = radioList[i].value;
				active2(val);
				break;
			}
		}
	}
	function active(a) {
		var f = document.frm;
		switch(a) {
			case "1":
				primarydatedisabled(false, '#FFFFFF');
				creditdisabled(true, '#F5F5F5');
				break;
			case "2":
				primarydatedisabled(true, '#F5F5F5');
				creditdisabled(true, '#F5F5F5');
				break;
			case "3":
				primarydatedisabled(true, '#F5F5F5');
				creditdisabled(false, '#FFFFFF');
				break;
		}
	}

	function primarydatedisabled(a, color) {
		var f = document.frm;
		document.getElementById('type1_1').style.background = color;
		document.getElementById('type1_2').style.background = color;
		f.fst_syear.disabled = a;
		f.fst_smonth.disabled = a;
		f.fst_sday.disabled = a;
		f.fst_shour.disabled = a;
		f.fst_eyear.disabled = a;
		f.fst_emonth.disabled = a;
		f.fst_eday.disabled = a;
		f.fst_ehour.disabled = a;
	}

	function creditdisabled(a, color) {
		document.getElementById('type3_1').style.background = color;
		document.getElementById('type3_2').style.background = color;
		document.getElementById('type3_3').style.background = color;
		document.getElementById('type3_4').style.background = color;
		document.getElementById('type3_5').style.background = color;
		var f = document.frm;
		var radioList = document.getElementsByName("credit");
		var i;
		for(i = 0; i < radioList.length; i++){
			radioList[i].disabled = a;
		}
		radioList = document.getElementsByName("pricetype");
		for(i = 0; i < radioList.length; i++){
			radioList[i].disabled = a;
		}
		f.price_header.disabled = a;
		f.price.disabled = a;
		radioList = document.getElementsByName("ather_price_flg");
		for(i = 0; i < radioList.length; i++){
			radioList[i].disabled = a;
		}
		f.ather_price_header.disabled = a;
		f.ather_price.disabled = a;

		f.price_head0.disabled = a;
		f.price_head1.disabled = a;
		f.ather_price_head0.disabled = a;
		f.ather_price_head1.disabled = a;
	}

	function active2(a) {
		var f = document.frm;
		switch(a) {
			case "0":
				auto_change_price(true, '#FFFFFF');
				break;
			case "1":
				auto_change_price(false, '#F5F5F5');
				break;
		}
	}
	function auto_change_price(a, color) {
		var f = document.frm;
		f.myear.disabled = a;
		f.mmonth.disabled = a;
		f.mday.disabled = a;
		f.mhour.disabled = a;

		var radioList = document.getElementsByName("auto_change_disp");
		var i;
		for(i = 0; i < radioList.length; i++){
			radioList[i].disabled = a;
		}

		f.auto_change_price_head0.disabled = a;
		f.auto_change_price_head1.disabled = a;
		f.auto_change_price.disabled = a;

		f.auto_change_ather_price_head0.disabled = a;
		f.auto_change_ather_price_head1.disabled = a;
		f.auto_change_ather_price.disabled = a;

		f.csv_auto_change_price_head0.disabled = a;
		f.csv_auto_change_ather_price_head0.disabled = a;

		f.csv_auto_change_price_head1.disabled = a;
		f.csv_auto_change_ather_price_head1.disabled = a;

	}

$(function(){

	$(".rd_user_type").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		if(chk == 1){
			$("#user_name").css("display", "none");
			$("#user_id").css("display", "block");
		}
		if(chk == 2){
			$("#user_id").css("display", "none");
			$("#user_name").css("display", "block");
		}

	}).change();

});

</script>
{/literal}

<div class="ttl">
	<h2>フォーム複製　入力画面</h2>
</div>
<br />


<form name="frm" method="post" action="?">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id" value="{$arrCopyBase.form_id}" />


<div>■複製元フォーム基本情報</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td>{$arrCopyBase.form_name}</td>
	</tr>
	<tr>
		<th class="width150">言語</th>
		<td>{if $arrCopyBase.lang == "1"}日本語{/if}
			{if $arrCopyBase.lang == "2"}英語{/if}
		</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td>{$arrCopyBase.head}</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>{$arrCopyBase.form_mail}</td>
	</tr>
	<tr>
		<th>フォーム種別</th>
			{assign var="_type"  value=$arrCopyBase.type}
		<td>{$GLOBALS.formtypeList[$_type]}</td>
	</tr>
	<tr>
		<th>決済システム</th>
			{assign var="_credit"  value=$arrCopyBase.credit}
		<td id="type3_1">{$GLOBALS.credittypeList[$_credit]}</td>
	</tr>
</table>
<br />
<br />
<br />
<br />


{show_err var=$arrErr}

<div>■複製先フォーム　ユーザ設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">ユーザ区分</th>
		<td>
			<input type="radio" name="user_type" id="user_type1" class="rd_user_type" value="1"{if $arrForm.user_type == "1"} checked{/if} />
			<label for="user_type1">既存ユーザ</label>
			<input type="radio" name="user_type" id="user_type2" class="rd_user_type" value="2"{if $arrForm.user_type == "2"} checked{/if} />
			<label for="user_type2">新規登録</label>
		</td>
	</tr>
	<tr>
		<th class="width150">ユーザ名</th>
		<td>
			<select name="user_id" id="user_id">
				<option value=""></option>
				{html_options options=$arrUser selected=$arrForm.user_id|default:$arrCopyBase.user_id}
			</select>

			<input type="text" name="user_name" id="user_name" size="70" value="{$arrForm.user_name}" />
		</td>
	</tr>
</table>
<br />
<br />


<div>■複製先フォーム　基本情報設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td><input type="text" name="form_name" size="70" value="{$arrForm.form_name}" /></td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td><input type="text" name="head" size="40" value="{$arrForm.head}" /></td>
	</tr>
	<tr>
		<th class="width150">ログインID</th>
		<td><input type="text" name="login_id" size="20" value="{$arrForm.login_id}" /></td>
	</tr>
	<tr>
		<th class="width150">パスワード</th>
		<td><input type="password" name="password" size="20" value="{$arrForm.password}" /></td>
	</tr>
</table>



<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
	<input type="button" value="確認" onclick="f_submit();" />
</div>




</form>
{include file="include/footer.html"}