{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.act.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
//		f.act.value = 'search';
//		f.action = 'index.php';
		f.action = 'Sys_formbase.php';
		f.submit();		
	}
	function f_save(){
		var f = document.frm;
		f.act.value = 'search';
		f.action = 'Sys_formlist.php';
		f.submit();		
	}
</script>
{/literal}

<div class="ttl">
	<h2>フォーム登録　プレビュー&nbsp;&nbsp;（{$user_data.user_name}）</h2>
</div>

<br />
<div>
	<table id="progress">
		<tr>
			<td class="other">基本情報</td>
			<td><div class="ico"></div></td>
			<td class="other">項目作成</td>
			<td><div class="ico"></div></td>
			<td class="now">プレビュー</td>
			<td><div class="ico"></div></td>
			<td class="other">完成</td>
		</tr>
	</table>
</div>
<br />
<form name="frm" method="post" enctype="multipart/form-data">

{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

<br />
<p>※内容をご確認の上、よろしければ「登録」ボタンをクリックしてください。</p>

<div class="c">


	{*アブストラクトまたはフルペーパー*}
	{if $arrForm.form_kbn == "1" || $arrForm.form_kbn == "2"}
		<iframe src="../Usr/Usr_entry.php?disp=1" width="900" height="700" frameborder="1">フォームプレビュー</iframe>	
	
	{else}
		<iframe src="../Usr/Usr_entry.php?disp=1" width="900" height="700" frameborder="1">フォームプレビュー</iframe>	
	{/if}

</div>


	


<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="一次保存" onclick="f_save();" />
	<input type="button" value="登録" onclick="f_submit();" />
</div>

<input type="hidden" name="act" value="" />
<input type="hidden" name="mode" value="{if $arrForm.form_id == ""}1{else}2{/if}" />
<input type="hidden" name="manager_id" value="{$arrForm.managar_id}" />
<input type="hidden" name="form_id" value="{$arrForm.form_id}" />


</form>
{include file="include/footer.html"}