{include file="include/header.html"}

<div class="ttl">
	<h2>フォーム削除　（{$arrForm.form_name}）</h2>
</div>

<br />

<form name="frm" method="post" action="">

<p>下記のフォーム情報を削除します。よろしければ「削除」ボタンをクリックしてください。<br />
	<span class="red">※フォーム情報を削除すると、応募情報や会議情報等は全て削除されます。</span>
</p>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td>{$arrForm.form_name}</td>
	</tr>
	<tr>
		<th class="width150">言語</th>
		<td>{if $arrForm.lang == 1}日本語{else}英語{/if}</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td>{$arrForm.head}</td>
	</tr>
	<tr>
		<th class="width150">ログインID</th>
		<td>{$arrForm.login_id}</td>
	</tr>
	<tr>
		<th class="width150">パスワード</th>
		<td>********</td>
	</tr>
	<tr>
		<th>フォーム説明</th>
		<td>{$arrForm.form_desc|nl2br}</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>{$arrForm.form_mail}</td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>{$arrForm.reception_date1|truncate:10:""}～{$arrForm.reception_date2|truncate:10:""}</td>
	</tr>
	<tr>
		<th>フォーム種別</th>
		<td>{$GLOBALS.formtypeList[$arrForm.type]}</td>
	</tr>
	{if $arrForm.type == "1"}
	<tr>
		<th>一次受付期間</th>
		<td>{$arrForm.reception_date1|truncate:10:""}～{$arrForm.primary_reception_date|truncate:10:""}</td>
	</tr>
	<tr>
		<th>二次受付期間</th>
		<td>{$arrForm.secondary_reception_date|truncate:10:""}～{$arrForm.reception_date2|truncate:10:""}</td>
	</tr>
	{/if}
	{if $arrForm.type == "3"}
	<tr>
		<th>決済システム</th>
		<td>{$GLOBALS.credittypeList[$arrForm.credit]}</td>
	</tr>
	{if $arrForm.credit != "0"}
	<tr>
		<th>金額設定タイプ</th>
		<td>{$GLOBALS.pricetypeList[$arrForm.pricetype]}</td>
	</tr>
	<tr>
		<th>金額</th>
		<td>{$arrForm.price|nl2br}</td>
	</tr>
	{/if}{/if}
	<tr>
		<th>問い合わせ先</th>
		<td>{$arrForm.contact}</td>
	</tr>
	<tr>
		<th>ヘッダ画像</th>
		<td>
			{if $arrForm.head_image}
			<img src="{$smarty.const.IMG_URL}header/{$arrForm.head_image}" width="300" />
			{/if}
		</td>
	</tr>
	<tr>
		<th>個人情報の確認</th>
		<td>{$GLOBALS.agreetypeList[$arrForm.agree]}</td>
	</tr>
	<tr>
		<th>個人情報本文</th>
		<td>{$arrForm.agree_text|nl2br}</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名1</th>
		<td>{$arrForm.group1}</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名2</th>
		<td>{$arrForm.group2}</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3</th>
		<td>{$arrForm.group3}</td>
	</tr>
</table>

<div class="btn">
	<input type="button" value="一覧へ戻る" name="return" onclick="location.href='Sys_formlist.php?user_id={$arrForm.user_id}'" />
	<input type="submit" value="削除" name="submit" />
</div>

<input type="hidden" name="mode" value="complete" />
<input type="hidden" name="form_id" value="{$arrForm.form_id}" />

</form>
{include file="include/footer.html"}