{include file="include/header.html" onload="hiddenform()"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'next';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.action = 'Sys_formlist.php';
		f.submit();
	}
	function f_save(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'save';
		f.submit();
	}
	
	function hiddenform() {
		var radioList = document.getElementsByName("type");
		var i;
		for(i = 0; i < radioList.length; i++){
			if (radioList[i].checked) {
				val = radioList[i].value;
				active(val);
				break;
			}
		}
	}

	function showtypeform(type) {
		var radioList = document.getElementsByName(type);
		var i;
		for(i = 0; i < radioList.length; i++){
			if(radioList[i].checked){
				val = radioList[i].value;
				active(val);
				break;
			}
		}
	}
	function showtypeform2(type) {
		var radioList = document.getElementsByName(type);
		var i;
		for(i = 0; i < radioList.length; i++){
			if(radioList[i].checked){
				val = radioList[i].value;
				active2(val);
				break;
			}
		}
	}
	function active(a) {
		var f = document.frm;
		switch(a) {
			case "1":
				primarydatedisabled(false, '#FFFFFF');
				break;
			case "2":
				primarydatedisabled(true, '#F5F5F5');
				break;
		}
	}

	function primarydatedisabled(a, color) {
		var f = document.frm;
		document.getElementById('type1_1').style.background = color;
		document.getElementById('type1_2').style.background = color;
		f.fst_syear.disabled = a;
		f.fst_smonth.disabled = a;
		f.fst_sday.disabled = a;
		f.fst_shour.disabled = a;
		f.fst_eyear.disabled = a;
		f.fst_emonth.disabled = a;
		f.fst_eday.disabled = a;
		f.fst_ehour.disabled = a;
	}

</script>
{/literal}

<div class="ttl">
	<h2>フォーム登録　基本情報設定&nbsp;&nbsp;（{$user_data.user_name}）</h2>
</div>

<br />
<div>
	<table id="progress">
		<tr>
			<td class="now">基本情報</td>
			<td><div class="ico"></div></td>
			<td class="other">項目作成</td>
			<td><div class="ico"></div></td>
			<td class="other">プレビュー</td>
			<td><div class="ico"></div></td>
			<td class="other">完成</td>
		</tr>
	</table>
</div>
<br />
{show_err var=$arrErr}
<form name="frm" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="" />
<input type="hidden" name="form_id" value="{$arrForm.form_id}" />
<input type="hidden" name="user_id" value="{$arrForm.user_id}" />
<input type="hidden" name="temp" value="{$arrForm.temp}" />

{foreach key=key item=item from=$arrForm}
{if $key != "item_name" && $key != "item_view" && $key != "item_check" && $key != "item_len" && $key != "item_pview" && $key != "item_pview2" && $key != "item_pview3" && $key != "item_mail" && $key != "item_type" && $key != "item_select" && $key != "item_memo"}
{else}
{foreach key=key2 item=item2 from=$item}
{if $key != "item_check"}
	<input type="hidden" name="{$key}[{$key2}]" value="{$item2|escape}">
{else}
	{foreach item=item3 from=$item2}
	<input type="hidden" name="{$key}[{$key2}][]" value="{$item3|escape}">
	{/foreach}
{/if}
{/foreach}
{/if}
{/foreach}

<div>■フォーム基本設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td><input type="text" name="form_name" size="70" value="{$arrForm.form_name}" /></td>
	</tr>
	<tr>
		<th class="width150">言語</th>
		<td>
			<input type="radio" name="lang" id="lang1" value="1"{if $arrForm.lang == "1"} checked{/if} />
			<label for="lang1">日本語</label>
			<input type="radio" name="lang" id="lang2" value="2"{if $arrForm.lang == "2"} checked{/if} />
			<label for="lang2">英語</label>
		</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td><input type="text" name="head" size="40" value="{$arrForm.head}" /></td>
	</tr>
	<tr>
		<th class="width150">ログインID</th>
		<td><input type="text" name="login_id" size="20" value="{$arrForm.login_id}" /></td>
	</tr>
	<tr>
		<th class="width150">パスワード</th>
		<td><input type="password" name="password" size="20" value="{$arrForm.password}" /></td>
	</tr>
	<tr>
		<th>フォーム説明</th>
		<td><textarea name="form_desc" cols="60" rows="8">{$arrForm.form_desc}</textarea></td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td><input type="text" name="form_mail" size="70" value="{$arrForm.form_mail}" /></td>
	</tr>
	<tr>
		<th>メールアドレス2</th>
		<td><input type="text" name="form_mail2" size="70" value="{$arrForm.form_mail2}" /></td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日
			<select name="shour">
				<option value=""></option>
				{html_options options=$shour selected=$arrForm.shour}
			</select>時 開始　
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日
			<select name="ehour">
				<option value=""></option>
				{html_options options=$ehour selected=$arrForm.ehour}
			</select>時 終了
		</td>
	</tr>
	<tr>
		<th>フォーム種別</th>
		<td>
			{foreach from=$GLOBALS.formtypeList item=ftype key=key}
			<input type="radio" name="type" id="formtype{$key}" onclick="showtypeform('type')" value="{$key}"{if $arrForm.type == $key}checked{/if} />
			<label for="formtype{$key}">{$ftype}</label>
			{/foreach}
		</td>
	</tr>
	<tr>
		<th>一次受付期間終了日</th>
		<td id="type1_1" style="background: #f5f5f5;">
			<select name="fst_syear" disabled="disabled">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.fst_syear}
			</select>年
			<select name="fst_smonth" disabled="disabled">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.fst_smonth}
			</select>月
			<select name="fst_sday" disabled="disabled">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.fst_sday}
			</select>日
			<select name="fst_shour" disabled="disabled">
				<option value=""></option>
				{html_options options=$shour selected=$arrForm.fst_shour}
			</select>時 終了
		</td>
	</tr>
	<tr>
		<th>二次受付期間開始日</th>
		<td id="type1_2" style="background: #f5f5f5;">
			<select name="fst_eyear" disabled="disabled">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.fst_eyear}
			</select>年
			<select name="fst_emonth" disabled="disabled">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.fst_emonth}
			</select>月
			<select name="fst_eday" disabled="disabled">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.fst_eday}
			</select>日
			<select name="fst_ehour" disabled="disabled">
				<option value=""></option>
				{html_options options=$ehour selected=$arrForm.fst_ehour}
			</select>時 開始
		</td>
	</tr>
	<tr>
		<th>編集許可</th>
		<td>{foreach from=$GLOBALS.proprietyList item=propriety key=key}
			<input type="radio" name="edit_flg" id="edit_flg{$key}" value="{$key}"{if $arrForm.edit_flg == $key}checked{/if} />
			<label for="edit_flg{$key}">{$propriety}</label>
			{/foreach}</td>
	</tr>
	<tr>
		<th>問い合わせ先</th>
		<td><textarea name="contact" cols="60" rows="5">{$arrForm.contact}</textarea></td>
	</tr>
	<tr>
		<th>ヘッダ画像</th>
		<td>
			{if $arrForm.dst_head_image != ""}
				<input type="hidden" name="dst_head_image" value="{$arrForm.dst_head_image}" />
				{assign var=image value=$arrForm.dst_head_image}
			{/if}
			{if $arrForm.temp_image != ""}
				<input type="hidden" name="temp_image" value="{$arrForm.temp_image}" />
				{assign var=image value=$arrForm.temp_image}
			{/if}
			{if $image != ""}
			<img src="{$smarty.const.IMG_URL}header/{$image}" width="300" /><br />
			<input type="checkbox" name="image_del" value="1"{if $arrForm.image_del == "1"} checked{/if} />
			削除<br />
			{/if}
			<input type="file" name="upfile" value="" />
		</td>
	</tr>
	<tr>
		<th>個人情報の確認</th>
		<td>{foreach from=$GLOBALS.agreetypeList item=ag key=key}
			<input type="radio" name="agree" id="agree{$key}" value="{$key}" {if $arrForm.agree == $key}checked{/if} />
			<label for="agree{$key}">{$ag}</label>
			{/foreach}
		</td>
	</tr>
	<tr>
		<th>個人情報本文</th>
		<td>
			<textarea name="agree_text" cols="60" rows="5">{$arrForm.agree_text}</textarea>
		</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名1</th>
		<td><input type="text" name="group1" size="70" value="{$arrForm.group1}" />
	</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名2</th>
		<td><input type="text" name="group2" size="70" value="{$arrForm.group2}" />
		<input type="radio" name="group2_use" id="group2_use0" value="0"{if $arrForm.group2_use != "1"} checked{/if} />
		<label for="group2_use0">使用する</label>
		<input type="radio" name="group2_use" id="group2_use1" value="1"{if $arrForm.group2_use == "1"} checked{/if} />
		<label for="group2_use1">使用しない</label>
	</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3</th>
		<td>
			{*<input type="text" name="group3" size="70" value="{$arrForm.group3}" />*}
			1.<input type="text" name="group3_1" size="70" value="{$arrForm.group3_1}" />
			<br />

			2.<input type="text" name="group3_2" size="70" value="{$arrForm.group3_2}" />
			(ファイルアップロード)
			<br />

			3.<input type="text" name="group3_3" size="70" value="{$arrForm.group3_3}" />
			(任意項目)
			<br />

			<input type="radio" name="group3_use" id="group3_use0" value="0"{if $arrForm.group3_use != "1"} checked{/if} />
			<label for="group3_use0">使用する</label>
			<input type="radio" name="group3_use" id="group3_use1" value="1"{if $arrForm.group3_use == "1"} checked{/if} />
			<label for="group3_use1">使用しない</label>
		</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3　任意項目レイアウト</th>
		<td>
		<input type="radio" name="group3_layout" id="group3_layout0" value="0"{if $arrForm.group3_layout != "1"} checked{/if} />
		<label for="group3_layout0">左右</label>
		<input type="radio" name="group3_layout" id="group3_layout1" value="1"{if $arrForm.group3_layout == "1"} checked{/if} />
		<label for="group3_layout1">上下</label>
		</td>
	</tr>

	<tr>
		<th>フォーム管理者　CSVDL-Basic認証設定</th>
		<td>
			{assign var=use_csvbasic value=$arrForm.use_csvbasic}
			{if $use_csvbasic|strlen == 0 || $use_csvbasic|is_null}
				{assign var=use_csvbasic value="1"}
			{/if}
			<input type="radio" name="use_csvbasic" id="use_csvbasic0" value="0"{if $use_csvbasic != "1"} checked{/if} />
			<label for="use_csvbasic0">使用する</label>

			<input type="radio" name="use_csvbasic" id="use_csvbasic1" value="1"{if $use_csvbasic == "1"} checked{/if} />
			<label for="use_csvbasic1">使用しない</label>

			<br/>
			<span>利用すると設定したBasic認証をクリアすることでエントリーCSVをダウンロードすることができます。</span>
		</td>
	</tr>

</table>

<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
	{if $arrForm.form_id == "" || $arrForm.temp == "1"}<input type="button" value="一次保存" onclick="f_save();" />{/if}
	<input type="button" value="次へ" onclick="f_submit();" />
</div>




</form>
{include file="include/footer.html"}