{include file="include/header.html"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'complete';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'next';
		f.submit();
	}
	function f_save(){
		var f = document.frm;
		f.action = 'Sys_formbase.php';
		f.mode.value = 'save';
		f.submit();
	}

</script>
{/literal}

<div class="ttl">
	<h2>フォーム登録　基本情報設定&nbsp;&nbsp;（{$user_data.user_name}）</h2>
</div>

<br />
<div>
	<table id="progress">
		<tr>
			<td class="now">基本情報</td>
			<td><div class="ico"></div></td>
			<td class="other">項目作成</td>
			<td><div class="ico"></div></td>
			<td class="other">プレビュー</td>
			<td><div class="ico"></div></td>
			<td class="other">完成</td>
		</tr>
	</table>
</div>
<br />

<form name="frm" method="post" enctype="multipart/form-data">
<input type="hidden" name="mode" value="" />

{foreach key=key item=item from=$arrForm}
{if $key != "item_name" && $key != "item_view" && $key != "item_check" && $key != "item_len" && $key != "item_pview" && $key != "item_pview2" && $key != "item_pview3" && $key != "item_mail" && $key != "item_type" && $key != "item_select" && $key != "item_memo"}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{else}
{foreach key=key2 item=item2 from=$item}
{if $key != "item_check"}
	<input type="hidden" name="{$key}[{$key2}]" value="{$item2|escape}">
{else}
	{foreach item=item3 from=$item2}
	<input type="hidden" name="{$key}[{$key2}][]" value="{$item3|escape}">
	{/foreach}
{/if}
{/foreach}
{/if}
{/foreach}
{$embed}
<br />
<div>■フォーム基本設定</div>
<br />
<table class="listtbl">
	<tr>
		<th class="width150">フォーム名</th>
		<td>{$arrForm.form_name}</td>
	</tr>
	<tr>
		<th class="width150">言語</th>
		<td>{if $arrForm.lang == 1}日本語{else}英語{/if}</td>
	</tr>
	<tr>
		<th class="width150">フォーム頭文字</th>
		<td>{$arrForm.head}</td>
	</tr>
	<tr>
		<th class="width150">ログインID</th>
		<td>{$arrForm.login_id}</td>
	</tr>
	<tr>
		<th class="width150">パスワード</th>
		<td>********</td>
	</tr>
	<tr>
		<th>フォーム説明</th>
		<td>{$arrForm.form_desc|nl2br}</td>
	</tr>
	<tr>
		<th>メールアドレス</th>
		<td>{$arrForm.form_mail}</td>
	</tr>
	<tr>
		<th>メールアドレス2</th>
		<td>{$arrForm.form_mail2}</td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>{$arrForm.reception_date1}開始　{$arrForm.reception_date2}終了</td>
	</tr>
	<tr>
		<th>フォーム種別</th>
		<td>{$GLOBALS.formtypeList[$arrForm.type]}</td>
	</tr>
	{if $arrForm.type == "1"}
	<tr>
		<th>一次受付期間</th>
		<td>{$arrForm.reception_date1}開始　{$arrForm.primary_reception_date}終了</td>
	</tr>
	<tr>
		<th>二次受付期間</th>
		<td>{$arrForm.secondary_reception_date}開始　{$arrForm.reception_date2}終了</td>
	</tr>
	{/if}
	<tr>
		<th>編集許可</th>
		<td>{$GLOBALS.proprietyList[$arrForm.edit_flg]}</td>
	</tr>
	<tr>
		<th>問い合わせ先</th>
		<td>{$arrForm.contact}</td>
	</tr>
	<tr>
		<th>ヘッダ画像</th>
		<td>
			{if $arrForm.dst_head_image != ""}
				{assign var=image value=$arrForm.dst_head_image}
			{/if}
			{if $arrForm.temp_image != ""}
				{assign var=image value=$arrForm.temp_image}
			{/if}
			{if $image != ""}
			<img src="{$smarty.const.IMG_URL}header/{$image}" width="300" />
			{/if}
		</td>
	</tr>
	<tr>
		<th>個人情報の確認</th>
		<td>{$GLOBALS.agreetypeList[$arrForm.agree]}</td>
	</tr>
	<tr>
		<th>個人情報本文</th>
		<td>{$arrForm.agree_text|nl2br}</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名1</th>
		<td>{$arrForm.group1}</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名2</th>
		<td>{if $arrForm.group2_use != "1"}{$arrForm.group2}{else}利用しない{/if}</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3</th>
		<td>{if $arrForm.group3_use != "1"}
				{*$arrForm.group3*}
				1.{$arrForm.group3_1}<br />
				2.{$arrForm.group3_2}<br />
				3.{$arrForm.group3_3}<br />
			{else}利用しない{/if}
		</td>
	</tr>
	<tr>
		<th class="width150">グループ項目名3　任意項目レイアウト</th>
		<td>{if $arrForm.group3_layout != "1"}左右{else}上下{/if}</td>
	</tr>

	<tr class="credit">
		<th>フォーム管理者　CSVDL-Basic認証設定</th>
		<td>
			{if $arrForm.use_csvbasic != "1"}使用する{/if}
			{if $arrForm.use_csvbasic == "1"}使用しない{/if}
		</td>
	</tr>
</table>
<br />
{assign var=g value=0}
{foreach from=$field item=fld}
{assign var=key value=$fld.item_id}
{if $g != $fld.group_id}
{if $g != 0}
</table>
<br />
{/if}
<div class="mb10">■{$group[$fld.group_id].title|escape}項目設定</div><br />

<table class="listtbl" style="width: auto;">
		<tr>
			<th class="width120">&nbsp;</th>
			<th>表示項目名<br />備考欄(例文等)</th>
			<th nowrap>フォーム</th>
			<th nowrap>メール</th>
			{if $arrForm.type == "1"}<th nowrap>一次・二次審査</th>{/if}
			<th>チェック項目</th>
			<th>サイズ</th>
			<th>タイプ</th>
		</tr>
{/if}
		<tr>
			<th class="width120">{$fld.defname}</th>
			<td>{$arrForm.item_name[$key]}<br />
				{$arrForm.item_memo[$key]}</td>
			<td>{if $fld.require != "1"}
				{if $arrForm.item_view[$key] == "1"}非表示{/if}
				{/if}
			</td>
			<td>{if $arrForm.item_mail[$key] == "1"}非表示{/if}</td>

			{if $arrForm.type == "1"}
				<td>
					{if $arrForm.item_pview[$key]  == "1"}一次非表示<br/>{/if}
					{if $arrForm.item_pview2[$key] == "1"}二次非表示<br/>{/if}
					{if $arrForm.item_pview3[$key] == "1"}二次編集不可<br/>{/if}
				</td>
			{/if}

			<td>{foreach from=$arrForm.item_check[$key] item=ck name=ckloop}
				{$GLOBALS.checktypeList[$ck]}
				{if !$smarty.foreach.ckloop.last}, {/if}
				{/foreach}
			</td>
			<td>{$arrForm.item_len[$key]}</td>
			<td>
				{if $fld.controltype == "1"}
				{assign var=ct value=`$arrForm.item_type[$key]`}
				{$GLOBALS.controltypeList[$ct]}<br />
				{$arrForm.item_select[$key]}
				{elseif $fld.controltype == "2"}
				{$arrForm.item_select[$key]}
				{/if}
			</td>
		</tr>
		{assign var=g value=$fld.group_id}
{/foreach}
</table>
<br />

<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="{if $arrForm.form_id != ""}更新{else}登録{/if}" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}