{include file="include/header.html" _title="Error"}

<h2>Error</h2>
<p>{$errorParam.errMsg|escape}</p>
{if $errorParam.returnPage != ""}<p><a href="{$errorParam.returnPage|escape}">{$errorParam.returnPageName|escape}</a></p>{/if}

{include file="include/footer.html"}