{include file="include/usr_header.html"}

{literal}
<script language="JavaScript">

	function f_search(){
		var f = document.frm;
		f.mode.value = 'search';
		f.submit();
	}

	function f_submit(a){
		var f = document.frm;
		if(a != "") {
			f.page.value = a;
		} else {
			f.mode.value = 'search';
		}
		f.submit();
	}
	
	function f_edit(id){
		var f = document.frm;
		f.action ='Mng_maildetail.php';
		f.send_id.value = id;
		f.submit();
	}
	

</script>
{/literal}

<div class="ttl">
	<h2>エントリーCSVダウンロード [BASIC]</h2>
</div>

<br />
<form name="frm" method="post">

<!--エラーメッセージ-->
{if $arrErr}
<div class="errmsg">
{foreach from=$arrErr item=err}
	<p>{$err|escape}</p>
{/foreach}
</div>
{/if}


</form>
{include file="include/usr_footer.html"}
