{include file="include/header.html"}

{if $invalid == "1"}
{assign var=returnurl value="Mng_entry_error.php"}
{else}
{assign var=returnurl value="../index.php"}
{/if}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'complete';
		f.action = 'Mng_edit_plural.php';
		f.submit();
	}


	function f_back(){
		var f = document.frm;

		f.action = '{/literal}{$returnurl}{literal}';
		f.mode.value = 'back';
		f.submit();
	}

	function f_down(num){

		var f = document.frm;
		f.mode.value = 'download';
		f.down_num.value = num;
		f.submit();

	}

</script>
{/literal}

<div class="ttl">
	<h2>エントリー詳細</h2>
</div>

<br />
<form name="frm" method="post">
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="down_num" value="" />
{$embed}
<br />


	<p></p>

		<!--エラーメッセージ-->
		{if $arrErr}
			<br />
			<div class="errmsg">
			{foreach from=$arrErr item=err}
				<p>{$err|escape}</p>
			{/foreach}
			</div>
		{/if}

	{if $arrData}
	<table class="listtbl">
	<caption>{$arrForm.group1|default:"group1"}</caption>
	{* ID、PASS*}
	{if $arrForm.type != "3" && $arrForm.edit_flg == "1"}
		<tr>
			<th class="width150">ID</th>
			<td>{$arrData.e_user_id}</td>
		</tr>
		<tr>
			<th class="width150">PASSWORD</th>
			<td>{$arrData.e_user_passwd}</td>
		</tr>
	{/if}


	{foreach from=$ItemIni item=ini key=item_id}

	{if $ini.group_id == "1" && $formItem.item_view[$item_id] == "0"}
	{if ($arrForm.type == "3" && $item_id == "29") || ($arrForm.type == "3" && $item_id == "30") || ($arrForm.type == "3" && $item_id == "31")}
	{else}
	
		{if $item_id == "24"}
		</table>
		<br />
		
		<table class="listtbl">
		<caption>Presenting Author</caption>
		{elseif $item_id == "29"}
		</table>
		<br />
		
		<table class="listtbl">
		<caption>Infomation off All Researchers</caption>
		{/if}

		<tr>
			<th class="width150">{$formItem.item_name[$item_id]|default:$ini.defname}</th>
			<td>{assign var=key value="edata`$item_id`"}
				{include file="Mng/entry/include_detail.html" val=$arrData[$key] type=$formItem.item_type[$item_id] arrval=$formItem.item_select[$item_id]}
			</td>
		</tr>
	{/if}
	{/if}
	{/foreach}
	</table>
	<br />
	{/if}

	{if $arrAff}
	

	{foreach from=$arrAff item=aff name=loopaff}
	{assign var=i value=$smarty.foreach.loopaff.iteration}
	
	{if $i > 1}
	{if $i == 1}
	<table class="listtbl">
	<caption>
		{assign var=lang value=$GLOBALS.userData.lang}
		{$GLOBALS.langtxt.entrant[$lang]|escape}</caption>
	</table>
	{elseif $i == 2}
	<table class="listtbl">
	<caption>{$arrForm.group2|default:"group2"}</caption>
	</table>
	{/if}
	
	<table class="listtbl">
	{foreach from=$ItemIni item=ini key=item_id}
	{if $ini.group_id == "2" && $formItem.item_view[$item_id] == "0"}
		<tr>
			<th class="width150">{$formItem.item_name[$item_id]|default:$ini.defname}</th>
			<td>{assign var=key value="edata`$item_id`"}
				{if $item_id == "32"}
					{include file="Mng/entry/include_detail.html" val=$aff[$key] type=3 arrval=$arrData.edata31}
				{else}
					{include file="Mng/entry/include_detail.html" val=$aff[$key] type=$formItem.item_type[$item_id] arrval=$formItem.item_select[$item_id]}
				{/if}
			</td>
		</tr>
	{/if}
	{/foreach}
	</table>
	<br />
	{/if}
	{/foreach}
	{/if}

	{if $arrData && $arrForm.group3_use != "1"}
	<table class="listtbl">
	<caption>{$arrForm.group3|default:"group3"}</caption>
	{foreach from=$ItemIni item=ini key=item_id}
	{if $ini.group_id == "3" && $formItem.item_view[$item_id] == "0"}
		<tr>
			<th class="width150">{$formItem.item_name[$item_id]|default:$ini.defname}</th>
			<td>{assign var=key value="edata`$item_id`"}
				{include file="Mng/entry/include_detail.html" val=$arrData[$key] type=$formItem.item_type[$item_id] arrval=$formItem.item_select[$item_id]}
			</td>
		</tr>
	{/if}
	{/foreach}
	</table>
	<br />
	{/if}

	{if $arrPayment}
	<br />
	<table class="listtbl">
	<caption>お支払い情報</caption>
	<tr>
		<th class="width150">支払い方法</th>
		<td>{$GLOBALS.method_J[$arrPayment.payment_method]}</td>
	</tr>
	<tr>
		<th class="width150">金額</th>
		<td>{$arrPayment.price|number_format}円</td>
	</tr>
    <tr>
        <th class="width150">明細</th>
        <td>
            <table class="payment_detail">
                <tr>
                    <td>項目</td>
                    <td>単価</td>
                    <td>数量</td>
                    
                </tr>
                {foreach from=$payment_detail item=detail}
                 <tr>
                    <td>{$detail.name}</td>
                    <td>{$detail.price|number_format}円</td>
                    <td>{$detail.quantity}</td>
                    
                </tr>                   
                {/foreach}
            </table>
        </td>
    </tr>	
	
	<tr>
		<th class="width150">ステータス</th>
		<td>{$GLOBALS.paymentstatusList[$arrPayment.payment_status]}</td>
	</tr>
	{if $arrPayment.payment_method == "1"}
	<tr>
		<th class="width150">クレジット</th>
		<td>
			<ul class="nonstyle">
				<li>{$GLOBALS.card_type_J[$arrPayment.c_company]}
					{$GLOBALS.jpo1_J[$arrPayment.c_method]}
					{if $arrPayment.c_split != ""}{$arrPayment.c_split}回{/if}
				</li>
				<li>クレジット番号:{$arrPayment.c_number}</li>
				<li>有効期限:{$arrPayment.c_date}</li>
				<li>名義人:{$arrPayment.c_holder}</li>
				<li>セキュリティコード:{$arrPayment.c_scode}</li>
			</ul>
		</td>
	</tr>
	{elseif $arrPayment.payment_method == "2"}
	<tr>
		<th class="width150">振込情報</th>
		<td>
			<ul class="nonstyle">
				<li>お振込み人名義:{$arrPayment.lessee}</li>
				<li>お支払銀行名:{$arrPayment.bank}</li>
				<li>お振込み日:{$arrPayment.closure}</li>
			</ul>
		</td>
	</tr>

	{/if}
	</table>
	{/if}

<br />
<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
</div>

</form>
{include file="include/footer.html"}