{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'confirm';
		f.submit();
	}
	function f_back(){
		var f = document.frm;
		f.mode.value = 'search';
		f.action = 'index.php';
		f.submit();		
	}

</script>
{/literal}

<div class="ttl">
	<h2>ユーザ情報{if $arrForm.user_id == ""}登録{else}編集{/if}</h2>
</div>
{show_err var=$arrErr}
<br />
<form name="frm" method="post">
<input type="hidden" name="user_id" value="{$arrForm.user_id}" />
<input type="hidden" name="mode" value="" />
<table class="listtbl">
	<tr>
		<th>ユーザ名</th>
		<td><input type="text" name="user_name" size="30" value="{$arrForm.user_name}" /></td>
	</tr>
	<tr>
		<th>eMail</th>
		<td><input type="text" name="email" size="35" value="{$arrForm.email}" /></td>
	</tr>
	<tr>
		<th>住所</th>
		<td><input type="text" name="addr" size="55" value="{$arrForm.addr}" /></td>
	</tr>
	<tr>
		<th>電話番号</th>
		<td><input type="text" name="tel" size="40" value="{$arrForm.tel}" /></td>
	</tr>
	<tr>
		<th>FAX</th>
		<td><input type="text" name="fax" size="40" value="{$arrForm.fax}" /></td>
	</tr>				
</table>

<div class="btn">
	<input type="button" value="戻る" onclick="f_back();" />
	<input type="button" value="次へ" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}