{include file="include/header.html" _title="$title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'confirm';
		f.submit();
	}


</script>
{/literal}

<div class="ttl">
	<h2>パスワード変更</h2>
</div>
{show_err var=$arrErr}
<br />
<form name="frm" method="post">
<input type="hidden" name="mode" value="" />
<table class="listtbl">
	<tr>
		<th>パスワード</th>
		<td><input type="password" name="password" size="30" value="{$arrForm.password}" /></td>
	</tr>
	<tr>
		<th>パスワード（確認）</th>
		<td><input type="password" name="password2" size="35" value="{$arrForm.password2}" /></td>
	</tr>				
</table>

<div class="btn">
	<input type="button" value="次へ" onclick="f_submit();" />
</div>

</form>
{include file="include/footer.html"}