<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}


		{edataXX group_id=$group_id item_id=68}
		{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
			{assign var=key value="edata`$item_id`"}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}

		{edataXX group_id=$group_id item_id=99}
		{if $_formItem.disp != "1" &&  $_formItem.item_type == "0"}
			{assign var=key value="edata`$item_id`"}
			{include file="Mng/entry/include_detail.html"
					 val=$arrData[$key]
				     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
			}
		{/if}

	</td>
</tr>