<tr>
	<th class="width150">{$formItem[$item_id].item_name|default:$ini.defname}</th>
	<td>
		<span class="edata56_ttl">{$formItem[$item_id].item_memo}:</span>
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>

		{edataXX group_id=$group_id item_id=106}
		<span class="edata56_ttl">{$formItem[$item_id].item_memo}:</span>
		{assign var=key value="edata`$item_id`"}
		{include file="Mng/entry/include_detail.html"
				 val=$arrData[$key]
			     type=$formItem[$item_id].item_type arrval=$formItem[$item_id].item_select
		}<br/>
	</td>
</tr>