{assign var=edata    value="edata`$item_id`"}
{assign var=data     value=$arrForm.$edata}

<!-- etc1-->
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
        </td>
        <td>
            {*テキスト、テキストエリア*}
            {if $_formItem.item_type == "0" || $_formItem.item_type == "1"}
                {$arrForm.edata26|escape|nl2br}
            {*ラジオ、セレクト*}
            {elseif $_formItem.item_type == "2" || $_formItem.item_type == "4"}
                {$_formItem.select[$arrForm.edata26]}
            {*チェック*}
            {elseif $_formItem.item_type == "3"}
                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=edata26`$s_key`}

                    {if $arrForm[$key26] == $s_key}{$item}<br />{/if}

                {/foreach}
            {/if}

            <!-- etc2-->
			{edataXX group_id=$group_id item_id=27}
            {if $_formItem.disp != "1"}
				{if $arrForm.edata27|strlen > 0}
				&nbsp;
                {*テキスト、テキストエリア*}
                {$arrForm.edata27|escape|nl2br}
				{/if}
            {/if}

        </td>
    </tr>
{/if}
