{assign var=edata    value="edata`$item_id`"}

<!-- etc1 -->
{if $_formItem.disp != "1"}
    <tr>
        <td class="iname">

            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}


        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="edata26" value="{$arrForm.edata26|escape}" size="20" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="edata26" cols="85">{$arrForm.edata26}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="edata26" value="{$s_key}" {if $arrForm.edata26 == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.edata26 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=edata26`$s_key`}
                    <input type="checkbox" name="edata26{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="edata26">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.edata26 != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.edata26 == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}


        <!-- etc2 -->
        {if $formItem[27].disp != "1"}
			&nbsp;
            {$formItem[27].item_name}{if $formItem[27].need == "1"}<span class="red">&nbsp;*</span>{/if}
            {if $formItem[27].item_memo != ""}{$formItem[27].item_memo}<br />{/if}

            {*テキスト*}
            {if $formItem[27].item_type == "0"}
                <input type="text" name="edata27" value="{$arrForm.edata27|escape}" size="20" />

            {*テキストエリア*}
            {elseif $formItem[27].item_type == "1"}
                <textarea rows="5" name="edata27" cols="85">{$arrForm.edata27}</textarea>

            {*ラジオ*}
            {elseif $formItem[27].item_type == "2"}
                {foreach from=$formItem[27].select key=s_key item=item name=select}
                    <input type="radio" name="edata27" value="{$s_key}" {if $arrForm.edata27 == $s_key}checked{/if} {if $formItem[27].disable[$s_key] == "1" && $arrForm.edata27 != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*チェックボックス*}
            {elseif $formItem[27].item_type == "3"}
                {foreach from=$formItem[27].select key=s_key item=item name=select}
                    {assign var=key27 value=edata27`$smarty.foreach.select.iteration`}
                    <input type="checkbox" name="edata27{$s_key}" value="{$s_key}" {if $arrForm[$key27] == $s_key}checked{/if} {if $formItem[27].disable[$s_key] == "1" && $arrForm[$key27] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $formItem[27].item_type == "4"}
                <select name="edata27">
                    <option vlaue=""></option>
                    {foreach from=$formItem[27].select key=s_key item=item name=select}
                        {if !($formItem[27].disable[$s_key] == "1" && $arrForm.edata27 != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.edata27 == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}
        {/if}
        </td>
    </tr>
{/if}