{if $formItem[29].disp != "1"}
    {if $formItem[31].disp != "1"}
        <!--所属機関名-->
        <tr>
            <td class="iname">
                {$formItem[31].item_name}{if $formItem[31].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
            </td>
            <td>
                {if $formItem[31].item_memo != ""}{$formItem[31].item_memo}<br />{/if}
                <textarea name="edata31" id="edata31" cols="50" rows="8">{$arrForm.edata31|escape}</textarea>
            </td>
        </tr>
    {/if}
{/if}