{assign var=edata    value="edata`$item_id`"}

{if $_formItem.disp != "1"}
	</table>

	<div class="bname">Presenting Author</div>
	<br />
	<table class="rtbl">
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>

        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            {*テキスト*}
            {if $_formItem.item_type == "0"}
                <input type="text" name="{$edata}" value="{$arrForm.$edata|escape}" size="40" />

            {*テキストエリア*}
            {elseif $_formItem.item_type == "1"}
                <textarea rows="5" name="{$edata}" cols="85">{$arrForm.$edata}</textarea>

            {*ラジオ*}
            {elseif $_formItem.item_type == "2"}
                {foreach from=$_formItem.select key=s_key item=item name=select}
                    <input type="radio" name="{$edata}" class="{$edata}" value="{$s_key}" {if $arrForm.$edata == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}
                {/foreach}

            {*チェックボックス*}
            {elseif $_formItem.item_type == "3"}

                {foreach from=$_formItem.select key=s_key item=item name=select}

                    {assign var=key26 value=`$edata``$s_key`}
                    <input type="checkbox" name="{$edata}{$s_key}" value="{$s_key}" {if $arrForm[$key26] == $s_key}checked{/if} {if $_formItem.disable[$s_key] == "1" && $arrForm[$key26] != $s_key && $admin_flg == ""}disabled="disabled"{/if} />{$item}<br />
                {/foreach}

            {*セレクト*}
            {else $_formItem.item_type == "4"}
                <select name="{$edata}">
                    <option vlaue=""></option>
                    {foreach from=$_formItem.select key=s_key item=item name=select}
                        {if !($_formItem.disable[$s_key] == "1" && $arrForm.$edata != $s_key && $admin_flg == "")}
                            <option value="{$s_key}" {if $arrForm.$edata == $s_key}selected{/if}>{$item}</option>
                        {/if}
                    {/foreach}
                </select>
            {/if}

<script type="text/javascript" src="{$smarty.const.APP_ROOT}htdocs/js/jquery-1.10.2.min.js"></script>
{literal}
<script laguage="javascript">
$(function(){
    $(".edata83").bind("change", function(){
        var chk = $(this).filter(":checked").val();
        if(typeof chk == 'undefined'){ return; }

		{/literal}
			{foreach from=$authorkeys key=_key item=item_id name=authorkeys}
				$("#edata{$item_id}").prop("disabled", false).css("background", "#fff");
				$(".edata{$item_id}").prop("disabled", false).css("background", "#fff");
			{/foreach}
		{literal}

		if(chk == 2) return;

		{/literal}
			{foreach from=$authorkeys key=_key item=item_id name=authorkeys}
				$("#edata{$item_id}").prop("disabled", true).css("background", "#eee");
				$(".edata{$item_id}").prop("disabled", true).css("background", "#fff");
			{/foreach}
		{literal}
    }).change();
});
</script>
{/literal}

        </td>
    </tr>
{/if}
