@charset "utf-8";
/* CSS Document */

/* ACN 2015用CSS */


.edata56_ttl {
    width: 80px;
    display:inline-block;
    /display: inline !important;
    /zoom: 1 !important;
}

.edata103_cap {
    text-align: left;
    margin-bottom: 10px;
}