
{include file="include/usr_header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	function f_login(id){
		var f = document.frm;
		f.entry_id.value = id;
		f.submit();
	}
	
	function f_submit(){
		var f = document.frm;
		f.mode.value="confrim";
		f.submit();
	}
	
	function f_download(file){
		var f = document.frm;
		f.down_file.value = file;
		f.mode.value = 'download';
		f.submit();
		
	}
</script>
{/literal}


<form name="frm" method="post">
	<div class="header">
	{if $va_header}
		{foreach from=$va_header item=file}
			<img src="{$head_path}{$file}" width="920" border="0" />
		{/foreach}	
	{/if}	
	</div>	

	<br />
	<div id="Form">

			<p>■応募情報</p>
			<div class="mb10"></div>
			
			<table class="listtbl">
				<tr>
					<th width="width150">会議名</th>
					<td>{$formItem.title}</td>
				</tr>			
				<tr>
					<th width="width150">概要</th>
					<td>{$formItem.body|nl2br}</td>
				</tr>
				<tr>
					<th>開催日</th>
					<td>{$formItem.open_day}</td>
				</tr>
				<tr>
					<th>受付期間</th>
					<td>{$formItem.entry_term}</td>
				</tr>
				
				{if $va_tmp_files}
					<tr>
						<th>添付資料</th>
						<td>
							{foreach from=$va_tmp_files item=file}
								<a href="javascript:f_download('{$file}');">{$file}</a>&nbsp;&nbsp;
							{/foreach}
						</td>
					</tr>
				{/if}
										
			</table>
			<br /><br />
			
			<p>■応募フォーム</p>
			<p>必要事項をご記入の上、お申込みください。</p>
			{*エラーメッセージ*}
			{if $arrErr}
				<div class="errmsg">
					{foreach from=$arrErr item=err}
						<p>{$err|escape}</p>
					{/foreach}
				</div>
			{/if}
			
			
			
			<table class="listtbl">
				{if $formItem.f_name_show == "1"}
					<tr>
						<th width="width120">{$formItem.f_name}</th>
						<td>
							<input type="text" name="m_name" size="50" value="{$arrForm.m_name|escape}" />
							{if $formItem.f_name_need == "1"}
								<span class="red">※必須</span>
							{/if}
						</td>
					</tr>
				{/if}
				{if $formItem.f_kname_show == "1"}
					<tr>
						<th>{$formItem.f_kname}</th>
						<td>
							<input type="text" name="m_kname" size="50" value="{$arrForm.m_kname|escape}" />
							{if $formItem.f_kname_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_email_show == "1"}
					<tr>
						<th>{$formItem.f_email}</th>
						<td>
							<input type="text" name="m_email" size="50" value="{$arrForm.m_email|escape}" />
							{if $formItem.f_email_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_zip_show == "1"}
					<tr>
						<th>{$formItem.f_zip}</th>
						<td>
							<input type="text" name="m_zip" size="10" value="{$arrForm.m_zip|escape}" />
							{if $formItem.f_zip_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_address_show == "1"}
					<tr>
						<th>{$formItem.f_address}</th>
						<td>
							<input type="text" name="m_address" size="80" value="{$arrForm.m_address|escape}" />
							{if $formItem.f_address_need == "1"}
								<span class="red">※必須</span>
							{/if}								
							
						</td>
					</tr>
				{/if}
				{if $formItem.f_tel_show == "1"}
					<tr>
						<th>{$formItem.f_tel}</th>
						<td>
							<input type="text" name="m_tel" size="20" value="{$arrForm.m_tel|escape}" />
							{if $formItem.f_tel_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_extension_show == "1"}	
					<tr>
						<th>{$formItem.f_extension}</th>
						<td>
							<input type="text" name="m_extension" size="20" value="{$arrForm.m_extension|escape}" />
							{if $formItem.f_extension_need == "1"}
								<span class="red">※必須</span>
							{/if}						
						</td>
					</tr>
				{/if}
				{if $formItem.f_fax_show == "1"}		
					<tr>
						<th>{$formItem.f_fax}</th>
						<td>
							<input type="text" name="m_fax" size="20" value="{$arrForm.m_fax|escape}" />
							{if $formItem.f_fax_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_zip2_show == "1"}
					<tr>
						<th>{$formItem.f_zip2}</th>
						<td>
							<input type="text" name="m_zip2" size="10" value="{$arrForm.m_zip2|escape}" />
							{if $formItem.f_zip2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_address2_show == "1"}
					<tr>
						<th>{$formItem.f_address2}</th>
						<td>
							<input type="text" name="m_address2" size="80" value="{$arrForm.m_address2|escape}" />
							{if $formItem.f_address2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_tel2_show == "1"}			
					<tr>
						<th>{$formItem.f_tel2}</th>
						<td>
							<input type="text" name="m_tel2" size="20" value="{$arrForm.m_tel2|escape}" />
							{if $formItem.f_tel2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_extension2_show == "1"}					
					<tr>
						<th>{$formItem.f_extension2}</th>
						<td>
							<input type="text" name="m_extension2" size="20" value="{$arrForm.m_extension2|escape}" />
							{if $formItem.f_extension2_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_fax2_show == "1"}			
					<tr>
						<th>{$formItem.f_fax2}</th>
						<td>
							<input type="text" name="m_fax2" size="20" value="{$arrForm.m_fax2|escape}" />
							{if $formItem.f_fax2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}	
			</table>

	</div>
	
	<div class="btn">
		<input type="button" value="内容確認" onclick="f_submit();" />
	</div>
	
	<br />	
	<div class="footer">{$formItem.contact|nl2br}</div>
	
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="mode" value="" />
	<input type="hidden" name="down_file" value="" />

</form>
{include file="include/usr_footer.html"}