{include file="include/usr_header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	
	function f_submit(num){
		var f = document.frm;
		
		if(num == '2'){
			f.mode.value="complete";
		}
		else{
			f.mode.value="back";
		}
		
		f.submit();
	}
	
	
</script>
{/literal}


<form name="frm" method="post">
{foreach key=key item=item from=$arrForm}
	<input type="hidden" name="{$key}" value="{$item|escape}">
{/foreach}

	<div class="header">
	{if $va_header}
		{foreach from=$va_header item=file}
			<img src="{$head_path}{$file}" width="920" border="0" />
		{/foreach}	
	{/if}	
	</div>	

	<br />
	<div id="Form">


			<p>■応募フォーム</p>
			<p>入力内容をご確認の上、「送信」ボタンをクリックしてください。</p>
			
			<table class="listtbl">
				{if $formItem.f_name_show == "1"}
					<tr>
						<th width="width120">{$formItem.f_name}</th>
						<td>
							{$arrForm.m_name|escape}
							{if $formItem.f_name_need == "1"}
								<span class="red">※必須</span>
							{/if}
						</td>
					</tr>
				{/if}
				{if $formItem.f_kname_show == "1"}
					<tr>
						<th>{$formItem.f_kname}</th>
						<td>
							{$arrForm.m_kname|escape}
							{if $formItem.f_kname_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_email_show == "1"}
					<tr>
						<th>{$formItem.f_email}</th>
						<td>
							{$arrForm.m_email|escape}
							{if $formItem.f_email_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_zip_show == "1"}
					<tr>
						<th>{$formItem.f_zip}</th>
						<td>
							{$arrForm.m_zip|escape}
							{if $formItem.f_zip_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_address_show == "1"}
					<tr>
						<th>{$formItem.f_address}</th>
						<td>
							{$arrForm.m_address|escape}
							{if $formItem.f_address_need == "1"}
								<span class="red">※必須</span>
							{/if}								
							
						</td>
					</tr>
				{/if}
				{if $formItem.f_tel_show == "1"}
					<tr>
						<th>{$formItem.f_tel}</th>
						<td>
							{$arrForm.m_tel|escape}
							{if $formItem.f_tel_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_extension_show == "1"}	
					<tr>
						<th>{$formItem.f_extension}</th>
						<td>
							{$arrForm.m_extension|escape}
							{if $formItem.f_extension_need == "1"}
								<span class="red">※必須</span>
							{/if}						
						</td>
					</tr>
				{/if}
				{if $formItem.f_fax_show == "1"}		
					<tr>
						<th>{$formItem.f_fax}</th>
						<td>
							{$arrForm.m_fax|escape}
							{if $formItem.f_fax_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_zip2_show == "1"}
					<tr>
						<th>{$formItem.f_zip2}</th>
						<td>
							{$arrForm.m_zip2|escape}
							{if $formItem.f_zip2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_address2_show == "1"}
					<tr>
						<th>{$formItem.f_address2}</th>
						<td>
							{$arrForm.m_address2|escape}
							{if $formItem.f_address2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_tel2_show == "1"}			
					<tr>
						<th>{$formItem.f_tel2}</th>
						<td>
							{$arrForm.m_tel2|escape}
							{if $formItem.f_tel2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}
				{if $formItem.f_extension2_show == "1"}					
					<tr>
						<th>{$formItem.f_extension2}</th>
						<td>
							{$arrForm.m_extension2|escape}
							{if $formItem.f_extension2_need == "1"}
								<span class="red">※必須</span>
							{/if}								
						</td>
					</tr>
				{/if}
				{if $formItem.f_fax2_show == "1"}			
					<tr>
						<th>{$formItem.f_fax2}</th>
						<td>
							{$arrForm.m_fax2|escape}
							{if $formItem.f_fax2_need == "1"}
								<span class="red">※必須</span>
							{/if}							
						</td>
					</tr>
				{/if}	
			</table>

	</div>
	
	<div class="btn">
		<input type="button" value="戻る" onclick="f_submit('1');" />
		<input type="button" value="送信" onclick="f_submit('2');" />
	</div>
	
	<br />	
	<div class="footer">{$formItem.contact|nl2br}</div>
	
	<input type="hidden" name="mid" value="{$mid}" />
	<input type="hidden" name="mode" value="" />

</form>
{include file="include/usr_footer.html"}