<!--Title (Prof.・Dr.・Mr.・Ms.)-->
{if $formItem[61].disp != "1"}
	{assign var=key61 value=edata61`$smarty.section.counter.index`}

	<tr>
		<td class="iname">
			{$formItem[61].item_name}{if $formItem[61].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
		{if $i == 0}
			{assign var=v value=`$arrForm[$key61]`}
			{$GLOBALS.titleList[$v]}
			<input type="hidden" name="edata61{$i}" value="{$arrForm[$key61]}" />
		{else}
			{if $formItem[61].item_memo != ""}{$formItem[61].item_memo}<br />{/if}

			{foreach from=$GLOBALS.titleList key=s_key item=item name=select}
				<input type="radio" name="edata61{$smarty.section.counter.index}" value="{$s_key}" {if $arrForm[$key61] == $s_key}checked{/if} />{$item}
			{/foreach}
		{/if}
		</td>
	</tr>
{/if}