<!--ファイルアップロード2-->
{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}

		</td>
		<td>

			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}

			<input type="file" name="edata52" size="40" value="" {attr} />
			<input type="hidden" name="n_data52" value="{$arrForm.n_data52}" />
			<input type="hidden" name="hd_file52" value="{$arrForm.hd_file52}" />
			<input type="hidden" name="file_upload52" value="{$arrForm.file_upload52}" />

			{if $arrForm.hd_file52 != ""}
				<br />
				{if $arrForm.n_data52 == $arrForm.hd_file52}
					<a href="javascript:f_down('52','1');">{$arrForm.hd_file52}</a>
				{else}
					<a href="javascript:f_down('52','2');">{$arrForm.hd_file52}</a>
				{/if}
				{if $_formItem.need != "1"}
					&nbsp;<input type="checkbox" name="file_del52" value="1"{if $arrForm.file_del52 == "1"} checked{/if} />Delete
				{/if}
			{/if}

		</td>
	</tr>
{/if}