{if $_formItem.disp != "1"}
    <!--メールアドレス-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata25" value="{$arrForm.edata25|escape}" size="40"
                autocomplete="off" oncopy="return false;" onpaste="return false;" />

        </td>
    </tr>

    {if $_formItem.mail == "1"}
        <tr>
            <td class="iname">
                {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
            </td>
            <td>
                Please fill in again to confirm<br />
                <input type="text" name="chkemail" value="" size="40"
                    autocomplete="off" oncopy="return false;" onpaste="return false;" />
            </td>
        </tr>
    {/if}
{/if}
