<!-- member/none member -->
{if $formItem[41].disp != "1"}
	{assign var=key41 value=edata41`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[41].item_name}{if $formItem[41].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}


		</td>
		<td>
			{if $i == 0}
			{assign var=v value=`$arrForm[$key41]`}
			{$va_kaiin[$v]}
			<input type="hidden" name="edata41{$i}" value="{$arrForm[$key41]|escape}" />
			{else}
			{if $formItem[41].item_memo != ""}{$formItem[41].item_memo}<br />{/if}
			<input type="radio" name="edata41{$smarty.section.counter.index}" value="1" {if $arrForm[$key41] == "1"}checked{/if} />&nbsp;{$va_kaiin[1]}							<input type="radio" name="edata41{$smarty.section.counter.index}" value="2" {if $arrForm[$key41] == "2"}checked{/if} />&nbsp;{$va_kaiin[2]}
			{/if}
		</td>
	</tr>
{/if}