<!--Middle Name(initial)-->
{if $formItem[62].disp != "1"}
	{assign var=key62 value=edata62`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[62].item_name}{if $formItem[62].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key62]|escape}
			<input type="hidden" name="edata62{$i}" value="{$arrForm[$key62]|escape}" />
			{else}
			{if $formItem[62].item_memo != ""}{$formItem[62].item_memo}<br />{/if}
			<input type="text" name="edata62{$smarty.section.counter.index}" value="{$arrForm[$key62]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}