{if $_formItem.disp != "1"}
    <!--電話番号-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata21" value="{$arrForm.edata21|escape}" size="30" />

        </td>
    </tr>
{/if}

