<!-- mei -->
{if $formItem[34].disp != "1"}
	{assign var=key34 value=edata34`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[34].item_name}{if $formItem[34].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key34]|escape}
			<input type="hidden" name="edata34{$i}" value="{$arrForm[$key34]|escape}" />
			{else}
			{if $formItem[34].item_memo != ""}{$formItem[34].item_memo}<br />{/if}
			<input type="text" name="edata34{$smarty.section.counter.index}" value="{$arrForm[$key34]|escape}" size="30" />
			{/if}
		</td>
	</tr>
{/if}