<!--英語演題名-->
{if $_formItem.disp != "1"}
	<tr>
		<td class="iname">
			{$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;*</span>{/if}
		</td>
		<td>
			{if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
			<input type="text" name="edata47" value="{$arrForm.edata47|escape}" size="100" />

		</td>
	</tr>
{/if}
