{if $_formItem.disp != "1"}
    <!--部署(研究室名)-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata13" value="{$arrForm.edata13|escape}" size="80" />

        </td>
    </tr>
{/if}
