<!-- mailaddress -->
{if $formItem[40].disp != "1"}
	{assign var=key40 value=edata40`$smarty.section.counter.index`}
	<tr>
		<td class="iname">
			{$formItem[40].item_name}{if $formItem[40].need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}<br />
		</td>
		<td>
			{if $i == 0}
			{$arrForm[$key40]|escape}
			<input type="hidden" name="edata40{$i}" value="{$arrForm[$key40]|escape}" />
			{else}
			{if $formItem[40].item_memo != ""}{$formItem[40].item_memo}<br />{/if}
			<input type="text" name="edata40{$smarty.section.counter.index}" value="{$arrForm[$key40]|escape}" size="40" />
			{/if}
		</td>
	</tr>
{/if}
