{if $_formItem.disp != "1"}
    <!--都道府県-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}

        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
                <!--
            <select name="edata18">
                <option value=""></option>
                {html_options options=$va_ken selected=$arrForm.edata18}
            </select>
            -->
            <input type="text" name="edata18" value="{$arrForm.edata18|escape}" size="50" />

        </td>
    </tr>
{/if}


