{if $_formItem.disp != "1"}
    <!-- 役職　-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata14" value="{$arrForm.edata14|escape}" size="80" />

        </td>
    </tr>
{/if}

