{if $_formItem.disp != "1"}
    <!--City-->
    <tr>
        <td class="iname">
            {$_formItem.item_name}{if $_formItem.need == "1"}<span class="red">&nbsp;{$need_mark}</span>{/if}
        </td>
        <td>
            {if $_formItem.item_memo != ""}{$_formItem.item_memo}<br />{/if}
            <input type="text" name="edata59" value="{$arrForm.edata59|escape}" size="50" />

        </td>
    </tr>
{/if}

