{include file="include/header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	function f_submit(){
		var f = document.frm;
		f.mode.value = 'search';
		f.submit();
	}
	
	function f_edit(mode, id){
		var f = document.frm;
		
		if(mode == '1' || mode == '2'){
			f.action ='Mng_edit_entry.php';
		}

		else if(mode = '3'){
			f.action ='Mng_del_entry.php';
		}
		
		if(mode == '2' || mode == '3'){
			f.aid.value = id;
		}
		
		f.submit();
	}
	
	function f_back(id){
		var f = document.frm;
		
		f.mode.value = 'search';
		f.action = 'Mng_meetinglist.php';
		f.submit();
	}



	function f_status(stat){
		var f = document.frm;
		//f.action = 'Mng_meet_plural.php';
		
		if(stat == '1'){
			f.mode.value = 'cancel';
		}
		else if(stat == '4'){
			f.mode.value = 'del';
		}

		f.submit();
	}
	
	function f_allcheck(){
		
		var f = document.frm;
		
		if(f.all.checked == true){
			var exec = true;
		}
		else{
			var exec = false;
		}

      
      
      if(f['aid' + '[]'].length){
		var ElementsCount = f['aid' + '[]'].length;// チェックボックスの数
      		
	      for( i=0 ; i<ElementsCount ; i++ ) {
	         f['aid' + '[]'][i].checked = exec; // ON・OFFを切り替え
	      }      	
      }
      else{
      		f['aid' + '[]'].checked = exec;
      }


	}
</script>
{/literal}

<div class="ttl">
	<h2>{$_title}</h2>
</div>

<br />
<form name="frm" method="post">
<table class="listtbl">
	<tr>
		<th>応募者名</th>
		<td><input type="text" name="sk_user_name" size="50" /></td>
	</tr>
</table>

<div class="btn">
	<input type="button" value="検索" onclick="f_submit();" />
	<!--
	<input type="button" value="新規エントリー登録" onclick="f_edit('1','');" />
	<input type="button" value="CSV出力" onclick="f_csv();" />
	-->
</div>

<input type="hidden" name="mode" value="" />



<br />
{if $list}

	<div class="actionblock">
		<span class="rtop">
			<span class="r1"></span>
			<span class="r2"></span>
			<span class="r3"></span>
			<span class="r4"></span>
		</span>
		<p>一括処理</p>
		<p class="small">チェックした参加者情報に対して一括処理を行います</p>
		<p>
			<input type="button" value="キャンセル" onclick="f_status('1');" />
			<input type="button" value="削除" onclick="f_status('4');" />
		</p>
		
		<span class="rbottom">
			<span class="r4"></span>
			<span class="r3"></span>
			<span class="r2"></span>
			<span class="r1"></span>
		</span>

	</div>

	<table class="listtbl">
		<tr>
			<th><input type="checkbox" name="all" value="" onclick="f_allcheck();" /></th>
			<th class="width150">参加者</th>
			<th class="width150">参加者（かな）</th>
			<th class="width150">email</th>
			<th>状態</th>
			<th>受付日</th>
			<th>更新日</th>
			<!--<th>処理</th>-->
		</tr>

		{foreach from=$list item=entry}
		<tr>
			<td class="c">
				<input type="checkbox" name="aid[]" value="{$entry.aid}" />
			</td>
			<td>{$entry.m_name}</td>
			<td>{$entry.m_kname}</td>
			<td>{$entry.m_email}</td>
			<td>{if $entry.status == "1"}キャンセル{/if}</td>
			<td>{$entry.rdate|date_format}</td>
			<td>{$entry.udate}</td>
			<!--
			<td class="c">
				<input type="button" value="詳細" onclick="f_edit('2','{$entry.entry_id}');" />
				<input type="button" value="削除" onclick="f_edit('3','{$entry.entry_id}');" />
			</td>
			-->
		</tr>			
		{/foreach}
	
	</table>

	<input type="hidden" name="set_stat" value="" />
{else}
	<p>該当データはありません</p>
{/if}
<br />	
<div class="btn">
	<input type="button" value="会議一覧へ戻る" onclick="f_back();" />
</div>
<input type="hidden" name="mid" value="{$mid}" />
</form>
{include file="include/footer.html"}