{include file="include/header.html" _title="$_title"}

{literal}
<script language="JavaScript">

	function f_submit(num){
		var f = document.frm;
		f.action = 'Mng_edit_meet.php';
		
		if(num == '1'){
			f.mode.value = 'confirm';
		}
		else if(num == '2'){
			f.mode.value = 'headimg';
		}
		//添付ファイルを添付
		else if(num == '3'){
			f.mode.value = 'tmpfile';
		}
		
		f.submit();
	}
	
	function f_del_file(num, fname){
		var f = document.frm;
		f.action = 'Mng_edit_meet.php';
		
		if(num == '1'){
			f.mode.value = 'del_headimg';
		}
		else if(num == '2'){
			f.mode.value = 'del_tmpfile';
		}
		
		f.del_fname.value = fname;
		f.submit();
	}
	
	function f_back(){
		var f = document.frm;
		f.mode.value = 'search';
		f.action = 'Mng_meetinglist.php';
		f.submit();		
	}

	
</script>
{/literal}

<div class="ttl">
	<h2>{$_title}</h2>
</div>

<br />

<form name="frm" method="post" enctype="multipart/form-data">

<div>■フォーム基本設定</div>
<br />
{*エラーメッセージ*}
{if $arrErr}
	<div class="errmsg">
		{foreach from=$arrErr item=err}
			<p>{$err|escape}</p>
		{/foreach}
	</div>
{/if}
<table class="listtbl">
	<tr>
		<th class="width150">会議名</th>
		<td><input type="text" name="title" size="70" value="{$arrForm.title}" /></td>
	</tr>
	<tr>
		<th>本文</th>
		<td><textarea name="body" cols="60" rows="25">{$arrForm.body}</textarea></td>
	</tr>
	<tr>
		<th>受付期間</th>
		<td>
			<select name="syear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.syear}
			</select>年
			<select name="smonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.smonth}
			</select>月
			<select name="sday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.sday}
			</select>日～						
			<select name="eyear">
				<option value=""></option>
				{html_options options=$eyear selected=$arrForm.eyear}
			</select>年
			<select name="emonth">
				<option value=""></option>
				{html_options options=$emonth selected=$arrForm.emonth}
			</select>月
			<select name="eday">
				<option value=""></option>
				{html_options options=$eday selected=$arrForm.eday}
			</select>日			
		</td>
	</tr>
	<tr>
		<th>開催日</th>
		<td>
			<select name="oyear">
				<option value=""></option>
				{html_options options=$syear selected=$arrForm.oyear}
			</select>年
			<select name="omonth">
				<option value=""></option>
				{html_options options=$smonth selected=$arrForm.omonth}
			</select>月
			<select name="oday">
				<option value=""></option>
				{html_options options=$sday selected=$arrForm.oday}
			</select>日		
		</td>
	</tr>	

	<tr>
		<th>問い合わせ先</th>
		<td><textarea name="contact" cols="60" rows="5">{$arrForm.contact}</textarea></td>
	</tr>
	<tr>
		<th>ヘッダ画像</th>
		<td>
			<input type="file" name="head_image" size="40" value="" />&nbsp;<input type="button" value="アップロード" onclick="f_submit('2');" />
			<p><span class="red">※ファイルアップロードまたは削除を行った後、必ず確認画面の「{if $arrForm.mid == ""}登録{else}編集{/if}」ボタンをクリックしてください。<br />
			※ヘッダ画像は１つしか登録できません。
			</span></p>

			<table>
			{foreach from=$va_headimg item=file}
				<tr>
					<td>{$file}</td><td><input type="button" value="削除" onclick="f_del_file('1','{$file}');" /></td>
				</tr>	
			{/foreach}
			</table>

			
		</td>
	</tr>
	<tr>
		<th>添付資料</th>
		<td>
			<input type="file" name="tmp_file" size="40" value="" />&nbsp;<input type="button" value="アップロード" onclick="f_submit('3');" />
			<p><span class="red">※ファイルアップロードまたは削除を行った後、必ず確認画面の「{if $arrForm.mid == ""}登録{else}編集{/if}」ボタンをクリックしてください。</span></p>
			<table>
			{foreach from=$va_tmp_files item=file}
				<tr>
					<td>{$file}</td><td><input type="button" value="削除" onclick="f_del_file('2','{$file}');" /></td>
				</tr>	
			{/foreach}
			</table>
		</td>
	</tr>						
</table>

<br /><br />
<div>■応募者入力項目設定</div>

	<p>※フォーム上の文言を入力してください。設定した文言で表示されます。<br />
		※「表示/非表示設定」でチェックした項目がフォームの項目として表示されます。<br />
		※「必須」でチェックした項目は、必須入力項目となります。<br />
	</p>
	
	<table class="listtbl">
		<tr>
			<th class="width150">&nbsp;</th>
			<th>フォーム上に文言設定</th>
			<th>表示/非表示設定</th>
			<th>必須</th>
		</tr>
		<tr>
			<th class="width150">氏名</th>
			<td><input type="text" name="f_name" size="70" value="{$arrForm.f_name}" /></td>
			<td>
			<!--
				<input type="checkbox" name="item1_view" value="1" {if $arrForm.item1_view == "1"}checked="checked"{/if} />
			-->	
				<input type="hidden" name="f_name_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_name_need" value="1" {if $arrForm.f_name_need == "1"}checked="checked"{/if} /></td>
		</tr>
		<tr>
			<th>氏名（かな）</th>
			<td><input type="text" name="f_kname" size="70" value="{$arrForm.f_kname}" /></td>
			<td>
			<!--
				<input type="checkbox" name="item2_view" value="1" {if $arrForm.item2_view == "1"}checked="checked"{/if} />
			-->	
				<input type="hidden" name="f_kname_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_kname_need" value="1" {if $arrForm.f_kname_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
	
			
		<tr>
			<th>メールアドレス</th>
			<td><input type="text" name="f_email" size="70" value="{$arrForm.f_email}" /></td>
			<td>
			<!--
				<input type="checkbox" name="f_email_show" value="1" {if $arrForm.f_email_show == "1"}checked="checked"{/if} />
			-->
				<input type="hidden" name="f_email_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_email_need" value="1" {if $arrForm.f_email_need == "1"}checked="checked"{/if} /></td>
			
		</tr>	
		<tr>
			<th>郵便番号</th>
			<td><input type="text" name="f_zip" size="70" value="{$arrForm.f_zip}" /></td>
			<td>
			<!--
				<input type="checkbox" name="f_zip_show" value="1" {if $arrForm.f_zip_show == "1"}checked="checked"{/if} />
			-->	
				<input type="hidden" name="f_zip_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_zip_need" value="1" {if $arrForm.f_zip_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		<tr>
			<th>住所</th>
			<td><input type="text" name="f_address" size="70" value="{$arrForm.f_address}" /></td>
			<td>
			<!--
				<input type="checkbox" name="f_address_show" value="1" {if $arrForm.f_address_show == "1"}checked="checked"{/if} />
			-->	
				<input type="hidden" name="f_address_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_address_need" value="1" {if $arrForm.f_address_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		<tr>
			<th>電話番号</th>
			<td><input type="text" name="f_tel" size="70" value="{$arrForm.f_tel}" /></td>
			<td>
			<!--
				<input type="checkbox" name="f_tel_show" value="1" {if $arrForm.f_tel_show == "1"}checked="checked"{/if} />
			-->	
				<input type="hidden" name="f_tel_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_tel_need" value="1" {if $arrForm.f_tel_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		<tr>
			<th>電話番号（内線）</th>
			<td><input type="text" name="f_extension" size="70" value="{$arrForm.f_extension}" /></td>
			<td>
				<input type="checkbox" name="f_extension_show" value="1" {if $arrForm.f_extension_show == "1"}checked="checked"{/if} />
			</td>
			<td><input type="checkbox" name="f_extension_need" value="1" {if $arrForm.f_extension_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		<tr>
			<th>FAX</th>
			<td><input type="text" name="f_fax" size="70" value="{$arrForm.f_fax}" /></td>
			<td>
			<!--
				<input type="checkbox" name="f_fax_show" value="1" {if $arrForm.f_fax_show == "1"}checked="checked"{/if} />
			-->	
				<input type="hidden" name="f_fax_show" value="1" />
			</td>
			<td><input type="checkbox" name="f_fax_need" value="1" {if $arrForm.f_fax_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		
	
		<tr>
			<th>その他連絡先　郵便番号</th>
			<td><input type="text" name="f_zip2" size="70" value="{$arrForm.f_zip2}" /></td>
			<td>
				<input type="checkbox" name="f_zip2_show" value="1" {if $arrForm.f_zip2_show == "1"}checked="checked"{/if} />
			</td>
			<td><input type="checkbox" name="f_zip2_need" value="1" {if $arrForm.f_zip2_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		<tr>
			<th>その他連絡先　住所</th>
			<td><input type="text" name="f_address2" size="70" value="{$arrForm.f_address2}" /></td>
			<td>
				<input type="checkbox" name="f_address2_show" value="1" {if $arrForm.f_address2_show == "1"}checked="checked"{/if} />
			</td>
			<td><input type="checkbox" name="f_address2_need" value="1" {if $arrForm.f_address2_need == "1"}checked="checked"{/if} /></td>
		</tr>
	
		<tr>
			<th>その他連絡先　電話番号</th>
			<td><input type="text" name="f_tel2" size="70" value="{$arrForm.f_tel2}" /></td>
			<td>
				<input type="checkbox" name="f_tel2_show" value="1" {if $arrForm.f_tel2_show == "1"}checked="checked"{/if} />
			</td>
			<td><input type="checkbox" name="f_tel2_need" value="1" {if $arrForm.f_tel2_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
	
		<tr>
			<th>その他連絡先　内線</th>
			<td><input type="text" name="f_extension2" size="70" value="{$arrForm.f_extension2}" /></td>
			<td>
				<input type="checkbox" name="f_extension2_show" value="1" {if $arrForm.f_extension2_show == "1"}checked="checked"{/if} />
			</td>
			<td><input type="checkbox" name="f_extension2_need" value="1" {if $arrForm.f_extension2_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
		<tr>
			<th>その他連絡先　FAX</th>
			<td><input type="text" name="f_fax2" size="70" value="{$arrForm.f_fax2}" /></td>
			<td>
				<input type="checkbox" name="f_fax2_show" value="1" {if $arrForm.f_fax2_show == "1"}checked="checked"{/if} />
			</td>
			<td><input type="checkbox" name="f_fax2_need" value="1" {if $arrForm.f_fax2_need == "1"}checked="checked"{/if} /></td>
			
		</tr>
			
							
	</table>

<div class="btn">
	<input type="button" value="一覧へ戻る" onclick="f_back();" />
	<input type="button" value="次へ" onclick="f_submit('1');" />
</div>

<input type="hidden" name="mode" value="" />
<input type="hidden" name="mid" value="{$arrForm.mid}" />
<input type="hidden" name="del_fname" value="" />

</form>
{include file="include/footer.html"}