{include file="include/usr_header.html"}

<form name="frm" method="post" action="{$_SERVER.PHP_SELF|escape}">
	<input type="hidden" name="mode" value="login" />
	<div id="Login">
		{if $msg != ""}<p>{$msg|escape}</p>{/if}
		{show_err var=$arrErr}
		<br />
		<table>
			<tr>
				<td class="r">ログインID：</td>
				<td><input type="text" name="login_id" size="30" value="{$arrForm.login_id|escape}" autocomplete="off" /></td>
			</tr>
			<tr>
				<td class="r">パスワード：</td>
				<td><input type="password" name="password" size="30" value="{$arrForm.password|escape}" autocomplete="off" /></td>
			</tr>
		</table>
		<div class="btn">
			<input type="submit" name="login" value="ログイン" />
		</div>
	</div>

</form>
{include file="include/usr_footer.html"}